<!--CS문의-앱 목록-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">

<!--현재 페이지 스크립트-->
<th:block layout:fragment="script">
    <script type="text/javascript">
        $('#gnb #gnb_1dul>li').eq(6).addClass('active');
        $('#gnb_1dul>li.active .gnb_2dul>li').eq(1).addClass('active');

        const PAGE_TARGET = "APP";

        $(function() {
            getList(1);
        });

    </script>
    <script src="/js/admin.cs.js"></script>
</th:block>

<!--현재 페이지 css-->
<th:block layout:fragment="css">
    <style>
        .list_content {width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
        #listLoad td {min-width: auto;}
    </style>
</th:block>

<div layout:fragment="content" id="cs_list" class="container t100">


    <div class="flex">
    <h1 class="menu_tit">CS 문의</h1>
    <div class="sub_menu">
        <a href="/admin/csListApp" class="active"><span>앱</span></a>
        <a href="/admin/csList"><span>의/약</span></a>
    </div>
    </div>


    <div class="menu_con">
        <div class="search">
            <form name="sfrm" autocomplete="off" onsubmit="return getList(1)">
                <input type="hidden" name="page" value="${getParams.page}">
                <dl>
                    <dt>문의유형</dt>
                    <dd>
                        <select name="svc">
                            <option value="">전체</option>
                            <option value="0" th:selected="${getParams.svc==0}">배송문의</option>
                            <optgroup label="일반문의">
                                <th:block th:each="row : ${svcOptions}">
                                    <option th:value="${row.key}" th:text="${row.value}" th:selected="${getParams.svc==row.key}"></option>
                                </th:block>
                            </optgroup>
                        </select>
                    </dd>
                    <dt>검색조건</dt>
                    <dd>
                        <select name="sfl">
                            <th:block th:each="row : ${schOptions}">
                                <option th:value="${row.key}" th:text="${row.value}" th:selected="${getParams.sfl==row.key}"></option>
                            </th:block>
                        </select>
                    </dd>
                    <dd class="sch_box">
                        <input type="text" name="stx" placeholder="검색어를 입력하세요" th:value="${getParams.stx}">
                        <button type="submit" class="sch_btn"><img th:src="@{/img/hospital/ic_search.svg}"></button>
                    </dd>
                </dl>
            </form>
        </div>

        <div id="listLoad">
            <!--/* ./cs_app_list_load.html */-->
        </div>
    </div>
</div>

<!--푸터는 개별 적용한 상태, 페이지마다 하단 내용이 달라서-->
<footer layout:fragment="footer" id="footer">
    <!--footer 내용-->
</footer>

</html>