<!--CS문의 상세-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">

<!--현재 페이지 스크립트-->
<th:block layout:fragment="script">
    <script type="text/javascript">
        $('#gnb #gnb_1dul>li').eq(6).addClass('active');
        $('#gnb_1dul>li.active .gnb_2dul>li').eq(1).addClass('active');

        //<!--/* 페이지 에러체크 */-->
        let errMsg = "[[${errMsg}]]";
        if (errMsg != "") {
            getErrAlert(errMsg, "/admin/csListApp");
        }

        //<!--/* 이미지 불러오기 에러시 삭제 */-->
        function onErrorImage(elem) {
            $(elem).parent("p").remove();
        }

        //<!--/* 이미지 보기 */-->
        function showImage(elem) {
            let src = $(elem).find("img").prop("src");
            let img = document.getElementById("popImg").src = src;
            $("#fileImgPop").modal("show");
        }

        //<!--/* 이미지 다운로드 */-->
        function downloadPopImg() {
            let source = document.querySelector("#popImg").getAttribute("src");
            window.open(source);
        }

        //<!--/* 답변등록 */-->
        function saveAnswer() {
            let _answerBox = document.querySelector("#answerBox");
            if (_answerBox.value.trim().length == 0) {
                swal.fire({
                    html:'답변을 입력해 주세요.', confirmButtonText: '확인',
                    didDestroy: function () {
                        _answerBox.focus();
                    }
                });
                return false;
            }

            swal.fire({
                title:'답변 등록',
                html:'답변을 등록 하시겠습니까?',
                denyButtonText: '취소',
                confirmButtonText: '확인',
                showDenyButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    let obj = {};
                    obj.answer = _answerBox.value;
                    obj.idx = document.querySelector("#csIdx").value;
                    obj.admIdx = document.querySelector("#admIdx").value;
                    console.log(obj);

                    //<!--/* 답변등록 */-->
                    $.ajax({
                        type: "post",
                        url: "/admin/saveAnswerApp",
                        data: obj,
                    }).done(function(data) {
                        let json = JSON.parse(data);
                        if (json.result) {
                            swal.fire({
                                html: '완료되었습니다.', confirmButtonText: '확인',
                                didDestroy: function () {
                                    history.back();
                                }
                            });
                        } else {
                            swal.fire({html: '답변등록에 실패했습니다. 다시 시도해 주세요.', confirmButtonText: '확인',});
                        }
                    }, "json").fail(function(data) {
                        swal.fire({html: '답변등록에 실패했습니다. 다시 시도해 주세요.', confirmButtonText: '확인',});
                    });
                }
            });
        }

    </script>
</th:block>

<!--현재 페이지 css-->
<th:block layout:fragment="css">
    <style>
        .swal2-container .sod_select {display: none;}
        #patient_pop dt {width: 167px;}
        #patient_pop dd {background: #FFF; padding: 0;}
        #patient_pop p {cursor: pointer;}
        .frm .col {line-height: 30px;}
        textarea:read-only {background: #FFF;}
    </style>
</th:block>

<div layout:fragment="content" id="cs_form" class="container t100">

    <div class="flex">
        <a href="javascript:history.back();" class="ic_back"></a>
        <h1 class="menu_tit">CS 문의</h1>
        <div class="sub_menu">
        <a href="/admin/csListApp" class="active"><span>앱</span></a>
        <a href="/admin/csList"><span>의/약</span></a>
    </div>
    </div>
    <div class="menu_con" th:if="${!#ctx.containsVariable('isLogout')}">
        <div class="frm scrollbar">
            <div class="sec">
                <dl>
                    <dt>작성자</dt>
                    <dd class="col" th:text="${viewData.mbName}">홍길동</dd>
                </dl>
                <dl>
                    <dt>아이디</dt>
                    <dd class="col" th:text="${viewData.mbIdStr}">support@jlkgroup.com</dd>
                </dl>
                <dl>
                    <dt>연락처</dt>
                    <dd class="col" th:text="${viewData.mbHp}">010-0000-0000</dd>
                </dl>
                <dl>
                    <dt>가입일자</dt>
                    <dd class="col" th:text="${#strings.substring(#strings.replace(viewData.mbDate,'-','.'),0,10)}">2022.01.01</dd>
                </dl>
            </div>
            <div class="sec">
                <dl>
                    <dt>문의 유형</dt>
                    <dd class="col" th:text="${viewData.categoryStr}">배송문의</dd>
                </dl>
            </div>
            <div class="sec">
                <dl class="ais">
                    <dt>내용</dt>
                    <dd class="col" th:utext="${#strings.replace(viewData.content, nlString, '&lt;br /&gt;')}"></dd>
                </dl>
            </div>
            <div class="sec" id="patient_pop">
                <dl>
                    <dt>파일 첨부</dt>
                    <dd>
                        <th:block th:if="${viewData.imageList!=''}">
                            <p th:each="img : ${#strings.arraySplit(viewData.imageList,',')}" onclick="showImage(this)">
                                <img th:src="${img}" onerror="onErrorImage(this)"/>
                            </p>
                        </th:block>
                        <th:block th:unless="${viewData.imageList!=''}">
                            등록된 파일이 없습니다.
                        </th:block>
                    </dd>
                </dl>
            </div>
            <h2>관리자 답변</h2>
            <div class="sec">
                <dl class="ais">
                    <dt>내용</dt>
                    <dd>
                        <input type="hidden" id="csIdx" th:value="${idx}">
                        <input type="hidden" id="admIdx" th:value="${admIdx}">
                        <textarea class="scrollbar" placeholder="답변을 입력해 주세요." th:text="${viewData.answer}" id="answerBox"></textarea>
                        <!--<span class="msg">답변 내용을 입력해 주세요.</span>-->
                    </dd>
                </dl>
            </div>
        </div>
        <div class="btn_wrap">
            <a class="btn small02 blueline" onclick="history.back()">취소</a>
            <a class="btn small02 blue" onclick="saveAnswer()">등록</a>
        </div>
    </div>

    <!--/* 이미지 모달 */-->
    <div class="modal fade" id="fileImgPop" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">파일 첨부</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img id="popImg">
                            </div>
                        </div>
                        <!--<div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn medium blue" onclick="downloadPopImg()">다운로드</button>
                </div>
            </div>
        </div>
    </div>
    <!--/* //이미지 모달 */-->

</div>

<!--푸터는 개별 적용한 상태, 페이지마다 하단 내용이 달라서-->
<footer layout:fragment="footer" id="footer">
    <!--footer 내용-->
</footer>

</html>