<!--/* 병원관리 계정정보 팝업 */-->
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div class="frm" th:if="${not #strings.isEmpty(info)}">
    <div class="sec">
        <dl>
            <dt>서비스종류</dt>
            <dd>
                <span th:if="${info.nonfaceSvcYn=='Y'}" style="margin-right: 10px;">비대면 진료 서비스</span>
                <span th:if="${info.designateSvcYn=='Y'}">지정 환자 진료 서비스</span>
            </dd>
        </dl>
        <dl>
            <dt>병원이름</dt>
            <dd>
                <div class="input_st">
                    <input type="text" th:value="${info.hospitalName}" readonly>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>주소</dt>
            <dd>
                <div class="input_st">
                    <input type="text" th:value="${info.mainAddr}" readonly>
                    <input type="text" th:value="${info.detailAddr!=null? info.detailAddr : ''}" readonly>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>전화번호</dt>
            <dd class="tel">
                <div class="input_st">
                    <!--/*<input type="text" value="010" size="3"><i class="fa-thin fa-hyphen"></i>
                    <input type="text" value="1234"><i class="fa-thin fa-hyphen"></i>
                    <input type="text" value="5678">*/-->
                    <input type="text" th:value="${info.telNo}" readonly>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>팩스번호</dt>
            <dd class="tel">
                <div class="input_st">
                    <!--/*<input type="text" value="010" size="3"><i class="fa-thin fa-hyphen"></i>
                    <input type="text" value="1234"><i class="fa-thin fa-hyphen"></i>
                    <input type="text" value="5678">*/-->
                    <input type="text" th:value="${info.faxNo}" readonly>
                </div>
            </dd>
        </dl>
    </div>
    <div class="sec">
        <dl>
            <dt>진료과목</dt>
            <dd>가정의학과, 정신과, 정형외과, 치과</dd>
        </dl>
        <dl>
            <dt>사업자 등록번호</dt>
            <dd>
                <div class="input_st">
                    <input type="text" th:value="${info.brNo}" readonly>
                </div>

                <div class="file_wrap">
                    <th:block th:if="${#strings.isEmpty(files.brNoImg)}">
                        <div class="file_name"><p>파일없음</p></div>
                    </th:block>
                    <th:block th:unless="${#strings.isEmpty(files.brNoImg)}">
                        <div class="file_name">
                            <p th:text="${files.brNoImgName}"></p>
                        </div>
                        <div class="btn_wrap">
                            <button type="button" class="btn small blueline" onclick="prevImage(this)">확인</button>
                            <input type="hidden" class="imgPrev" th:value="${files.brNoImg}">
                        </div>
                    </th:block>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>통신서비스 이용 증명원</dt>
            <dd>
                <div class="file_wrap">
                    <th:block th:if="${#strings.isEmpty(files.svcCertImg)}">
                        <div class="file_name"><p>파일없음</p></div>
                    </th:block>
                    <th:block th:unless="${#strings.isEmpty(files.svcCertImg)}">
                        <div class="file_name">
                            <p th:text="${files.svcCertImgName}"></p>
                        </div>
                        <div class="btn_wrap">
                            <button type="button" class="btn small blueline" onclick="prevImage(this)">확인</button>
                            <input type="hidden" class="imgPrev" th:value="${files.svcCertImg}">
                        </div>
                    </th:block>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>대표이미지</dt>
            <dd>
                <div class="file_wrap">
                    <th:block th:if="${#strings.isEmpty(files.mainImg)}">
                        <div class="file_name"><p>파일없음</p></div>
                    </th:block>
                    <th:block th:unless="${#strings.isEmpty(files.mainImg)}">
                        <div class="file_name">
                            <p th:text="${files.mainImgName}"></p>
                        </div>
                        <div class="btn_wrap">
                            <button type="button" class="btn small blueline" onclick="prevImage(this)">확인</button>
                            <input type="hidden" class="imgPrev" th:value="${files.mainImg}">
                        </div>
                    </th:block>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>병원소개</dt>
            <dd><textarea class="scrollbar" readonly th:text="${info.introduce!=null? info.introduce : ''}"></textarea></dd>
        </dl>
    </div>
</div>

</html>