<!--회원관리-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">

<!--현재 페이지 스크립트-->
<th:block layout:fragment="script">
    <script type="text/javascript">
        $('#gnb #gnb_1dul>li').eq(0).addClass('active');
        // $('#gnb_1dul>li.active .gnb_2dul>li').eq(1).addClass('active');

        let bindUserName = "[[ ${userName} ]]";

        $(function() {
            getList(1);
        });

        //<!--/* 페이징 클릭시 ajax 호출 */-->
        $(document).on("click", ".paging a", function(e) {
            e.preventDefault();
            let href = this.getAttribute("href");
            let page = href.split("page=")[1];
            // document.sfrm.page.value = page;

            $(".paging a").removeClass("active");
            $(this).addClass("active");
            getList(page);
        });

        //<!--/* 목록 */-->
        function getList(curPage) {
            let f = document.sfrm;
            if (curPage != undefined) f.page.value = curPage;

            let data = {};
            data.page = f.page.value;
            data.sfl= f.sfl.value;
            data.stx = f.stx.value.trim();
            data.listRow = document.querySelector("[name=listRow]").value;
            console.log(data);

            // callPageLoading(1);

            if (data.stx != "" && data.stx.length < 2) {
                swal.fire({
                    html:'검색어를 2자 이상 입력해 주세요.',
                    confirmButtonText : '확인',
                    didDestroy: function () {
                        f.stx.focus();
                    }
                });
                return false;
            }

            $.ajax({
                type : "get",
                url : "./ajaxMemberList",
                data : data,
            }).done(function(data, textStatus, xhr) {
                document.querySelector(`#listLoad`).innerHTML = data;
            }).fail(function(data, textStatus, errorThrown) {
                let html = `<table><tbody><tr><td colspan="10">목록을 불러오는데 실패했습니다.</td></tr></tbody></table>`;
                document.querySelector(`#listLoad`).innerHTML = html;
            }).always(function() {
                // callPageLoading();
            });

            return false;
        }

        //<!--/* 목록노출개수 변경 */-->
        $("select[name=listRow]").on("change", function() {
            getList(1);
        });


        //<!--/* 상세보기 */-->
        function memberInfo(idx) {
            $.ajax({
                type : "get",
                url : "./ajaxMemberInfo",
                data : {idx: idx},
            }).done(function(data, textStatus, xhr) {
                document.querySelector(`#infoLoad`).innerHTML = data;
                $("#mem_view_pop").modal();
            }).fail(function(data, textStatus, errorThrown) {
                swal.fire({
                    html:'서버와의 통신에 문제가<br>발생했습니다.<br>잠시 후 다시 시도해 주세요.',
                    confirmButtonText : '확인',
                });
            });
        }


</script>
</th:block>

<!--현재 페이지 css-->
<th:block layout:fragment="css">
    <style>
        .dropdown{display: inline-block;}
    </style>
</th:block>

<div layout:fragment="content" class="container">
    <h1 class="menu_tit">회원 관리</h1>
    <div class="menu_con">
        <div class="search">
            <form name="sfrm" autocomplete="off" onsubmit="return getList(1)">
                <input type="hidden" name="page" value="1">
                <dl>
                    <dt>검색조건</dt>
                    <dd>
                        <select name="sfl">
                            <th:block th:each="item : ${schOptions}">
                                <option th:value="${item.key}" th:text="${item.value}"></option>
                            </th:block>
                        </select>
                    </dd>
                    <dd class="sch_box">
                        <input type="text" name="stx" placeholder="검색어를 입력하세요">
                        <button type="submit" class="sch_btn"><img th:src="@{/img/hospital/ic_search.svg}"></button>
                    </dd>
                </dl>
            </form>
        </div>
        <div class="tbl">
            <div class="tbl_top">
                <div></div>
                <div>
                    <select name="listRow">
                        <th:block th:each="row : ${rowOptions}">
                            <option th:value="${row}" th:text="${row}"></option>
                        </th:block>
                    </select>
                </div>
            </div>

            <div id="listLoad">
                <!--/* ./member_list.html */-->
            </div>

        </div>
    </div>

    <!--회원정보 모달-->
    <div class="adm modal fade" id="mem_view_pop" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">회원정보</h4>
                </div>
                <div class="modal-body" id="infoLoad">
                    <!--/* ./member_info.html */-->
                </div>
                <div class="modal-footer">
                    <a class="btn small gray" data-dismiss="modal">닫기</a>
                    <!--/*<a class="btn small blue" data-dismiss="modal">확인</a>*/-->
                </div>
            </div>
        </div>
    </div>
    <!--//회원정보 모달-->
</div>

<!--푸터는 개별 적용한 상태, 페이지마다 하단 내용이 달라서-->
<footer layout:fragment="footer" id="footer">
    <!--footer 내용-->
</footer>

</html>