<!--/* 약국관리 목록 */-->
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>서비스 종류</th>
        <th>약국명</th>
        <th colspan="2">지역</th>
        <th>전화번호</th>
        <th>사업자번호</th>
        <th>지정병원</th>
        <th>가입일자</th>
        <th class="text-center">상세</th>
        <th class="text-center">가입승인</th>
        <th class="text-center">계정정보</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.size(pharmacyList) == 0}">
        <td colspan="11">결과가 없습니다.</td>
    </tr>
    <tr th:unless="${#lists.size(pharmacyList) == 0}" th:each="item, index : ${pharmacyList}"
        th:with="listNo=${paging.listNo}">
        <td th:text="${listNo - (index.index)}" th:data-idx="${index.index}">1</td>
        <td>
            <span class="color_green" th:if="${item.nonfaceSvcYn=='Y'}">비대면</span>
            <span class="color_blue" th:if="${item.designateSvcYn=='Y'}">지정병원</span>
        </td>
        <td th:text="${item.pharmacyName}">튼튼약국</td>
        <td th:text="${item.areaSi}">서울</td>
        <td th:text="${item.areaGu}">강남구</td>
        <td th:text="${item.telNo}">051-1234-1234</td>
        <td th:text="${item.brNo}">600-01-00000</td>
        <td th:text="|${item.hospitalCnt}개|">1개</td>
        <td th:text="${#strings.substring(#strings.replace(item.regdate,'-','.'),0,10)}">2022.08.19</td>
        <td class="text-center"><button type="button" class="btn small blueline" onclick="getInfo(this, 'P')" th:data-idx="${item.idx}">상세</button></td>
        <td class="text-center">
            <!--/* 미승인 */-->
            <th:block th:unless="${item.authYn=='Y'}">
                <a class="btn small blue" th:onclick="|changeAuth(${item.idx}, true, 'P')|">승인</a>
            </th:block>
            <!--/* 승인완료 */-->
            <th:block th:if="${item.authYn=='Y'}">
                <div>승인완료</div>
                <div th:if="${item.authDate!=''}" th:text="|(${item.authDate})|"></div>
            </th:block>
        </td>
        <td class="text-center"><button type="button" class="btn small black" onclick="getAccount(this, 'P')" th:data-idx="${item.idx}" th:data-cnt="${item.accountCnt}">상세</button></td>
    </tr>
    </tbody>
</table>

<!--/* 페이징 START */-->
<div th:replace="app/fragments/paging :: pagingFragment"></div>
<!--/* 페이징 END */-->

</html>