<!--/* 약국관리 계정정보 팝업 */-->
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div class="tbl" th:if="${#lists.size(account) > 0}">
    <table>
        <thead>
        <tr>
            <th colspan="2">No.</th>
            <th>ID</th>
            <th>약사명</th>
            <th>연락처</th>
            <th>가입일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, index : ${account}">
            <td th:text="${index.index+1}">1</td>
            <td th:text="${item.originYn=='Y'? '주계정' : '부계정'}">주계정</td>
            <td th:text="${item.userId}">ID</td>
            <td th:text="${item.userName}">홍길동</td>
            <td th:text="${item.userHp}">010-9876-5432</td>
            <td th:text="${#strings.substring(#strings.replace(item.regdate,'-','.'),0,10)}">2022.04.11</td>
        </tr>
        </tbody>
    </table>
</div>

</html>