<!--/*관리자-처방전관리리스트(ajax)*/-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div class="tbl_top">
    <ul class="total">
        <li>총 접수 <strong class="gray" th:text="${listCnt.listTotalCnt}">+999</strong></li>
        <li>재발행 요청 <strong class="green" th:text="${listCnt.requestCnt}">10</strong></li>
        <li>재발행 완료 <strong class="red" th:text="${listCnt.completeCnt}">10</strong></li>
    </ul>
    <div class="dropdown">
        <select id="limitFilter" onchange="limitFilter(this);">
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
</div>
<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>접수번호</th>
        <th>접수일</th>
        <th>병원명</th>
        <th>환자이름</th>
        <th>연락처</th>
        <th class="text-center">주민등록번호</th>
        <th class="text-center">처방전</th>
        <th class="text-center">참고 내용</th>
        <th class="text-center">처방전 재발행</th>
        <th class="text-center">재발행 접수번호</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.size(listData)==0}">
        <td colspan="14" style="text-align: center;">데이터가 없습니다.</td>
    </tr>
    <tr th:if="${#lists.size(listData)!=0}" th:each="list, index: ${listData}" th:with="listNo=${paging.listNo}">
        <td th:text="${listNo - (index.index)}" th:data-idx="${index.index}">1</td>
        <th th:text="${list.rcptNo}">C220401A01234</th>
        <td th:text="${list.receiptDate}">2022.04.15 00:00:00</td>
        <td th:text="${list.hospitalName}"></td>
        <td th:text="${list.patientName}">홍길동</td>
        <td th:text="${list.patientHp}">010-9876-5432</td>
        <td th:text="${list.patientRrNo}" class="text-center">770805-1******</td>
        <td class="text-center"><a class="check_btn" th:onclick="prescriptionPop([[${list.medicalIdx}]], [[${list.idx}]])">확인</a></td> <!--/* 처방전 */-->
        <td class="text-center"><a class="check_btn" th:onclick="patientPop([[${list.medicalIdx}]])">확인</a></td> <!--/* 참고내용 - 환자정보*/-->
        <td class="text-center" th:if="${list.isReissue=='N'}" ><a class="btn small black" th:onclick="rePublishRequest([[${list.idx}]])">요청</a></td>
        <td class="text-center" th:if="${list.isReissue=='Y'}" th:text="|요청완료 (${list.reRequestDate})|"></td>
        <td class="text-center" th:text="${#strings.defaultString(list.reRcptNo, '-')}">-</td>
    </tr>
    <!--/*
    <tr>
        <td>2</td>
        <th>C220401A01234</th>
        <td>2022.04.15 00:00:00</td>
        <td>홍길동</td>
        <td>010-9876-5432</td>
        <td>770805-1******</td>
        <td class="text-center"><a class="check_btn">확인</a></td>
        <td class="text-right"><a class="btn small redline">수정</a></td>
        <td class="text-center"><a class="btn small black">발행</a></td>
        <td class="text-center">-</td>
    </tr>
    <tr>
        <td>1</td>
        <th>C220401A01234</th>
        <td>2022.04.15 00:00:00</td>
        <td>홍길동</td>
        <td>010-9876-5432</td>
        <td>770805-1******</td>
        <td class="text-center"><a class="check_btn">확인</a></td>
        <td class="text-right"><a class="btn small blue">확인</a></td>
        <td class="text-center">완료(2022.04.12 00:00:00)</td>
        <td class="text-center">012345648</td>
    </tr>
    */-->
    </tbody>
</table>

<!--/* 페이징 START */-->
<div th:replace="app/fragments/paging :: pagingFragment"></div>
<!--/* 페이징 END */-->

</html>