<!--/*관리자-예약정보관리리스트(ajax)*/-->
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div class="tbl_top">
    <ul class="total">
        <li>총접수 <strong class="gray" th:text="${listCnt.listTotalCnt}">-999</strong></li>
        <li>접수 대기 <strong class="green" th:text="${listCnt.statusR}">999</strong></li>
        <li>접수 취소 <strong class="red" th:text="${listCnt.statusN}">5</strong></li>
        <li>접수 완료 <strong class="blue" th:text="${listCnt.statusY}">32</strong></li>
    </ul>
    <div class="dropdown">
        <select id="limitFilter" onchange="limitFilter(this);">
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
</div>
<table>
    <thead>
    <tr>
        <th>접수번호</th>
        <th>접수시간</th>
        <th>접수자</th>
        <th>질환</th>
        <th>환자 이름</th>
        <th>관계</th>
        <th>연락처</th>
        <th class="text-center">주민등록 번호</th>
        <th class="text-center">진료 구분</th>
        <th class="text-center">참고 내용</th>
        <th class="text-center">예약 병원</th>
        <th class="text-center">예약 희망 시간</th>
        <th class="text-center">상태</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.size(listData)==0}">
        <td colspan="12" style="text-align: center;">데이터가 없습니다.</td>
    </tr>
    <tr th:if="${#lists.size(listData)!=0}" th:each="list: ${listData}">
    <th th:text="${list.rcptNo}">C220401A01234</th>
    <td><span th:text="${list.receiptTime}" th:class="${list.medicalStatus!='C'&&list.hospitalRcptYn=='R'?'color_red':''}">12:35</span></td> <!--/* 진료상태 취소 아님 && 병원 접수상태 대기 */-->
    <td th:text="${list.mbName}">홍길동</td>
    <td th:text="${list.subjectName}">호흡기 질환</td>
    <td th:text="${list.patientName}">홍길동</td>
    <td th:text="${list.relationship}">본인</td>
    <td th:text="${list.patientHp}">010-9876-5432</td>
    <td th:text="${list.patientRrNo}" class="text-center">770805-1******</td>
    <td class="text-center"><span th:class="${list.medicalType=='초진'?'color_green':'color_red'}" th:text="${list.medicalType}" >초진</span></td>
    <td class="text-center"><a class="check_btn" th:onclick="patientPop([[${list.idx}]])">확인</a></td> <!--/* 참고내용 - 환자정보*/-->
    <td class="text-center" th:text="${list.hospitalName}"></td> <!--/* 예약병원 */-->
    <td th:text="|${list.appStartHour} - ${list.appEndHour}|" class="text-center">22:00 ~ 24:00</td>
    <!--/* 아래 상태 4가지 중 1개 표시 */-->
    <!--/* 1. 접수/거부 선택 == 진료요청 */-->
    <!--/* 환자상태=R && 병원상태=R && 취소일X && 진료시간X */-->
    <td class="text-center" th:if="${list.medicalStatus=='R'&&list.hospitalRcptYn=='R'&&list.cancelDate==''&&list.medicalTime==''}">
        <a class="btn small gray" th:onclick="denyPop([[${list.idx}]])">거부</a>
        <a class="btn small blue" th:onclick="receiptPop([[${list.idx}]], [[${list.hopeHourArr}]])">접수</a>
    </td>
    <!--/* 2. 예약완료 */-->
    <!--/* 환자상태!=C && 병원상태=Y && 진료시간O */-->
    <td class="text-center" th:if="${list.medicalStatus!='C'&&list.hospitalRcptYn=='Y'&&list.medicalTime!=''}" th:text="|예약완료 (${list.medicalTime})|"></td>
    <!--/* 3. 사용자취소 == 진료취소 */-->
    <td class="text-center" th:if="${list.medicalStatus=='C'&&list.hospitalRcptYn!='N'}">
        <span class="color_red">사용자 취소</span>
        <a class="btn small blueline" th:onclick="reasonPop([[${list.cancelReason}]])">사유</a>
    </td>
    <!--/* 4. 병원취소 == 진료취소 */-->
    <td class="text-center" th:if="${list.medicalStatus=='C'&&list.hospitalRcptYn=='N'}">
        <span class="color_red">병원 취소</span>
        <a class="btn small blueline" th:onclick="reasonPop([[${list.cancelReason}]])">사유</a>
    </td>
    </tr>
    </tbody>
</table>

<!--/* 페이징 START */-->
<div th:replace="app/fragments/paging :: pagingFragment"></div>
<!--/* 페이징 END */-->