<!--리뷰관리 목록-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">

<!--현재 페이지 스크립트-->
<th:block layout:fragment="script">
    <script type="text/javascript">
        $('#gnb #gnb_1dul>li').eq(6).addClass('active');
        $('#gnb_1dul>li.active .gnb_2dul>li').eq(0).addClass('active');
    </script>
</th:block>

<!--현재 페이지 css-->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<div layout:fragment="content" class="container t100">
    <h1 class="menu_tit">리뷰 관리</h1>
    <div class="menu_con" th:if="${!#ctx.containsVariable('isLogout')}">
        <div class="tbl">
            <table>
                <thead>
                <tr>
                    <th>No.</th>
                    <th>병원명</th>
                    <th>작성일</th>
                    <th>작성자</th>
                    <th>평점</th>
                    <th>내용</th>
                    <th class="text-center">상세</th>
                </tr>
                </thead>
                <tbody>

                <!--/* 리뷰없음 */-->
                <tr th:if="${#lists.size(reviewList) == 0}">
                    <td colspan="7">등록된 리뷰가 없습니다.</td>
                </tr>

                <!--/* 리뷰목록 */-->
                <tr th:unless="${#lists.size(reviewList) == 0}" th:each="item, index : ${reviewList}"
                    th:with="listNo=${paging.listNo}">
                    <td th:text="${listNo - (index.index)}" th:data-idx="${index.index}">1</td>
                    <td th:text="${item.hospitalName}">헬로병원</td>
                    <td th:text="${#temporals.format(item.regdate, 'yyyy.MM.dd')}">2022.04.11</td>
                    <td th:text="${item.memberName}">홍길동</td>
                    <td>
                        <div class="starRev color_green">
                            <th:block th:each="num : ${#numbers.sequence(1, 5)}">
                                <span class="starR fal fa-star fas" th:if="${num<=item.reviewScore}"></span>
                                <span class="starR fal fa-star" th:if="${num>item.reviewScore}"></span>
                            </th:block>
                        </div>
                    </td>
                    <td>
                        <!--/* 내용 */-->
                        <th:block th:if="${#ctx.getVariable('item').get('content')}" th:text="${not #strings.isEmpty(item.content)? item.content : ''}" />
                    </td>
                    <td class="text-center"><a th:href="|./reviewView?idx=${item.idx}|" class="btn small02 black">상세</a></td>
                </tr>
                </tbody>
            </table>

            <!--/* 페이징 START */-->
            <div th:replace="app/fragments/paging :: pagingFragment"></div>
            <!--/* 페이징 END */-->

        </div>
    </div>

</div>

<!--푸터는 개별 적용한 상태, 페이지마다 하단 내용이 달라서-->
<footer layout:fragment="footer" id="footer">
    <!--footer 내용-->
</footer>

</html>