<!--약관관리-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">

<!--현재 페이지 스크립트-->
<th:block layout:fragment="script">
    <script type="text/javascript">
        $('#gnb #gnb_1dul>li').eq(7).addClass('active');
        $('#gnb_1dul>li.active .gnb_2dul>li').eq(0).addClass('active');

        //<!--/* 약관등록 */-->
        let buttons = document.querySelectorAll(".tbl button.btn");
        for (let i=0; i<buttons.length; i++) {
            buttons[i].addEventListener("click", function() {
                let key = this.getAttribute("data-key");
                if (key == null || key == "") return;
                location.href = `./termForm/${key}`;
            });
        }

    </script>
</th:block>

<!--현재 페이지 css-->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<div layout:fragment="content" id="ferm_list" class="container t100">
    <h1 class="menu_tit">약관 관리</h1>
    <div class="menu_con" th:if="${!#ctx.containsVariable('isLogout')}">
        <div class="tbl">
            <table>
                <thead>
                <tr>
                    <th>No.</th>
                    <th>필수여부</th>
                    <th>약관명</th>
                    <th class="text-center">상태</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, index : ${termsList}">
                    <td th:text="${startNo - index.index}">1</td>
                    <td>
                        <!--/* 필수 */-->
                        <span th:if="${item.content!='' && item.required=='Y'}" class="color_green">필수</span>
                        <span th:if="${item.content!='' && item.required=='N'}" class="color_gray">선택</span>
                    </td>
                    <td th:text="${item.name}">이용약관명</td>
                    <td class="text-center">
                        <button th:unless="${item.content!=''}" th:data-key="${item.key}" type="button" class="btn small02 blueline">등록</button>
                        <button th:if="${item.content!=''}" th:data-key="${item.key}" type="button" class="btn small02 blue" >확인</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<!--푸터-->
<footer layout:fragment="footer" id="footer">
    <!--footer 내용-->
</footer>

</html>