<!--기본 레이아웃(복사)-->
<!DOCTYPE html>
<!--
공통 헤드(공통 js, css파일) : /templates/layout/default.html
공통 헤더: /templates/fragments/header.html
공통 푸터: /templates/fragments/footer.html
이미지 및 js 파일 경로 지정 시: th:src="@{/css/bootstrap.min.css}" / th:href = "@{/js/sweetalert2.all.min.js}"
static 폴더를 기준으로 파일 경로 지정

* 속성 값 설정 시 속성 앞에 th:를 붙이는 방식 예) th:text, th:src, th:href
layout:fragment="" 는 default.html에서 해당 fragment를 선언하여서 사용 가능함
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{hospital/layout/default}">

<!--현재 페이지 스크립트-->
<th:block layout:fragment="script">
    <script type="text/javascript">
        /*$(document).ready(function () {
            $("#header h2").text("테스트");
        });*/
    </script>
</th:block>

<!--현재 페이지 css-->
<th:block layout:fragment="css">
    <style>
        /*.btn {
            color: red;
        }*/
    </style>
</th:block>

<div layout:fragment="content" class="container">
<!--body 내용-->
</div>

<!--푸터는 개별 적용한 상태, 페이지마다 하단 내용이 달라서-->
<footer layout:fragment="footer" id="footer">
<!--footer 내용-->
</footer>

</html>