<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/* head 시작 */-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=yes,target-densitydpi=medium-dpi">
    <title>헬로닥터</title>

    <!--/* 공통 스크립트 */-->
    <!--/*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*/-->
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/sweetalert2.all.min.js}"></script>
    <script th:src="@{/js/ui.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <!--/* Swiper JS */-->
    <!--/*<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>-->
    <!--<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>*/-->
    <link th:href="@{/css/swiper-bundle.min.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/swiper-bundle.min.js}"></script>
    <script>
        let isLogout = "[[${isLogout}]]"; //<!--/* 로그아웃 체크 */-->
    </script>

    <!--/* 공통 css */-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/import.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/app.css}" rel="stylesheet" type="text/css"/>
</head>
<!--/* head 끝 */-->

<body>
<!--/* 로딩중 */-->
<div id="loading" style="display: none">
    <div class="box_wrap">
        <div class="box">
            <img th:src="@{/img/loading.svg}">
            <p>loading</p>
        </div>
    </div>
</div>


<!--/* 컨텐츠페이지의 css 영역 */-->
<th:block layout:fragment="css"></th:block>

<!--/* header 시작 */-->
<header th:replace="app/fragments/header :: headerFragment"></header>
<!--/* header 끝 */-->

<!--/* content 시작 */-->
<div layout:fragment="content"></div>
<!--/* content 끝 */-->

<!--/* footer 시작 */-->
<footer layout:fragment="footer"></footer>
<!--<footer th:replace="/app/fragments/footer :: footerFragment"></footer>-->
<!--/* footer 끝 */-->

<!--/* 컨텐츠페이지의 스크립트 영역 */-->
<th:block layout:fragment="script"></th:block>
</body>

</html>