<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=yes,target-densitydpi=medium-dpi">
    <title>ERROR</title>
    <link th:href="@{/css/import.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css"/>
    <style>
        #error_page{ text-align: center; position: fixed; width: 300px; left: 50%; top: 40%; transform: translate(-50%,-50%);}
        #error_page .text{ margin-bottom: 50px;}
        #error_page .text i{font-size: 2.5em; color: #45A6EA;}
        #error_page .text h1{ font-size: 1.8em; line-height: 2em; color: #45A6EA;}
        #error_page .text span{ color: #343434;}
    </style>
</head>
<body>
    <div id="error_page">
        <div class="text">
            <i class="fa-solid fa-message-exclamation"></i>
            <h1>서비스 오류 안내</h1>
            <span>올바르지 않은 접근입니다.</span>
        </div>
        <div class="btn_box">
            <a class="btn medium blueline" onclick="history.back();">뒤로가기</a>
            <!--<a class="btn medium blue">메인으로 바로가기</a>-->
        </div>
    </div>
</body>
</html>