<!--/*관리-서브계정관리리스트(ajax)*/-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div class="tbl_top">
    <div></div>
    <div>
        <div class="dropdown">
            <select id="limitFilter" onchange="limitFilter(this);">
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <a class="btn small02 blueline" href="/hospital/admSubForm">등록</a>
    </div>
</div>
<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>ID</th>
        <th>의사명</th>
        <th>전화번호</th>
        <th>진료과</th>
        <th>직급</th>
        <th>생성일</th>
        <th class="text-center">관리</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.size(listData)==0}">
        <td colspan="8" style="text-align: center;">데이터가 없습니다.</td>
    </tr>
    <tr th:if="${#lists.size(listData)!=0}" th:each="list, index: ${listData}" th:with="listNo=${paging.listNo}">
        <td th:text="${listNo - (index.index)}" th:data-idx="${index.index}">1</td>
        <td th:text="${list.userId}">ID Name 10</td>
        <td th:text="${list.userName}">홍길동</td>
        <td th:text="${list.userHp}">010-9876-5432</td>
        <td th:text="${list.subjectName}">소화기 내과</td>
        <td th:text="${list.subPosition}">과장</td>
        <td th:text="${list.regdate}">2022.04.11</td>
        <td class="text-center"><a class="btn small black" th:href="|/hospital/admSubForm/${list.idx}|">관리</a></td>
    </tr>
    </tbody>
</table>

<!--/* 페이징 START */-->
<div th:replace="app/fragments/paging :: pagingFragment"></div>
<!--/* 페이징 END */-->

</html>