<!--/*관리-진료예약관리*/-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{hospital/layout/default}">

<!--/*현재 페이지 스크립트*/-->
<th:block layout:fragment="script">
    <script th:src="@{/js/nouislider.min.js}"></script>
    <link th:href="@{/css/nouislider.min.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/calendar.js}"></script>
    <script th:src="@{/js/doctor.reserve_manage.js}"></script>
    <script type="text/javascript">
        $('#gnb #gnb_1dul>li').eq(4).addClass('active');
        $('#gnb_1dul>li.active .gnb_2dul>li').eq(4).addClass('active');

        //<!--/* 달력 */-->
        var cur_date = new Date();
        $(function() {
            var curr = new Date();
            var utc = curr.getTime() + (curr.getTimezoneOffset() * 60 * 1000);
            //<!--/* UTC to KST (UTC + 9시간) */-->
            var KR_TIME_DIFF = 9 * 60 * 60 * 1000;
            cur_date = new Date(utc + (KR_TIME_DIFF));
            //<!--/* console.log("한국시간 : " + cur_date); */-->

            $('.calendar').calendar({
                prevButton:"이전",
                nextButton:"다음",
                showTodayButton:true,
                todayButtonContent:"오늘",
                highlightSelectedWeek:false,
                highlightSelectedWeekday:false,
                date: cur_date,
                onClickDate:function (date) {
                    setCalendar(date);
                },
                onClickToday:function(date) {
                    // setCalendar(date);
                }
            });

            //<!--/* 진료예약시간 특정일 목록 */-->
            $.ajax({
                type : "POST",
                url : "/hospital/getAppointmentList",
                async: false,
            }).done(function(result, textStatus, xhr) {
                var data = JSON.parse(result).data;
                if(data.length > 0) {
                    var modifyDateArr = data.split(",");
                    // 특정일 있으면 modify 클래스 적용
                    $('.appoDay').each(function() {
                        var day = $(this)[0]['attributes'][1]['value'];
                        if(modifyDateArr.includes(day)) {
                            $(this).addClass('modify');
                        }
                    });
                }
            });

            //<!--/* 일반 환자 시간 or 지정 환자 시간 선택 */-->
            $("[name=mo_time_check]").click(function() { //<!--/* 진료 예약 일정 수정 모달 */-->
                if(this.value == 1) { //<!--/* 지정환자 */-->
                    $("div.mo_time02").show();
                    $("div.mo_time01").hide();
                } else {
                    $("div.mo_time02").hide();
                    $("div.mo_time01").show();
                }
            });
        });

        //<!--/* 달력선택 */-->
        function setCalendar(date) {
            var chkDate = new Date(date);
            var obj = {};
            obj.year = chkDate.getFullYear();
            obj.month = chkDate.getMonth() + 1;
            obj.day = chkDate.getDate();
            obj.weekday = chkDate.getDay();

            //<!--/* 선택날짜 표시 */-->
            var setDate = obj.year + "-" + fillZero(2, obj.month.toString()) + "-" + fillZero(2, obj.day.toString());
            document.querySelector("#setDate").textContent = setDate;
            document.querySelector("[name=specday]").value = setDate; //<!--/* form */-->
            //<!--/* 병원영업시간 기준 진료예약시간 표시 */-->
            if(obj.weekday == 0) obj.weekday = 7; //<!--/* 일요일 */-->
            timeTableCheck(obj.weekday, "Y");

            //<!--/* 저장된 데이터가 있으면 표시 */-->
            $.ajax({
                type : "POST",
                url : "/hospital/getAppointment",
                data : {date: setDate},
            }).done(function(result, textStatus, xhr) {
                var data = JSON.parse(result)
                if(data.result) {
                    var data1 = data.data1; //<!--/* 지정환자 */-->
                    var data2 = data.data2; //<!--/* 일반환자 */-->
                    if(data1.length > 0) {
                        var appoTimeArr = data1.split(",");
                        $("[name=d_specdayTimeArr]").val(data1);
                        $("[name=d_specdayTime]").prop("checked", false);
                        $("[name=d_specdayTime]").each(function() {
                            if (appoTimeArr.includes(this.value)) {
                                this.checked = true;
                            }
                        });
                    }
                    if(data2.length > 0) {
                        var appoTimeArr = data2.split(",");
                        $("[name=specdayTimeArr]").val(data2);
                        $("[name=specdayTime]").prop("checked", false);
                        $("[name=specdayTime]").each(function() {
                            if (appoTimeArr.includes(this.value)) {
                                this.checked = true;
                            }
                        });
                    }
                }
            });

            $("#modifyModal").modal("show");
        }

        //<!--/* 진료 예약 일정 저장 (특정일) */-->
        function saveAppointment() {
            var errMsg = "오류가 발생하였습니다.";
            var date = document.querySelector("[name=specday]").value;
            var timeTable = document.querySelector("[name=specdayTimeArr]").value; //<!--/* 일반환자 */-->
            var d_timeTable = document.querySelector("[name=d_specdayTimeArr]").value; //<!--/* 지정환자 */-->

            $.ajax({
                type : "POST",
                url : "/hospital/saveAppointment",
                data : {date: date, timeTable: timeTable, d_timeTable: d_timeTable},
            }).done(function(result, textStatus, xhr) {
                var data = JSON.parse(result);
                if(data.result) location.reload();
            }).fail(function(data, textStatus, errorThrown) {
                swal.fire({html: errMsg, confirmButtonText : '확인'});
            });
        }

        //<!--/* 저장 확인 */-->
        function saveTreat() {
            hospitalHourChk(); //<!--/* 병원영업시간 데이터 */-->

            swal.fire({
                title:'진료 예약 시간 변경',
                html:'변경 사항을 저장 하시겠습니까?',
                denyButtonText : '취소',
                confirmButtonText : '확인',
                showDenyButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    var formData = new FormData(document.doctorFrm);
                    let errMsg = "저장에 실패했습니다.";
                    callPageLoading(1);

                    setTimeout(function() {
                        $.ajax({
                            url: "/hospital/saveAdmTreat",
                            data: formData,
                            type: "POST",
                            async: false,
                            enctype: "multipart/form-data",
                            processData: false,
                            contentType: false,
                            success: function(response) {
                                let data = JSON.parse(response);
                                if (data.result) {
                                    location.replace("/hospital/admTreat");
                                }
                                else {
                                    swal.fire({html: errMsg, confirmButtonText : '확인'});
                                }
                            },
                            error: function(xhr) {
                                console.log("[serverUploadImage] : [error] : ", xhr);
                                swal.fire({html: errMsg, confirmButtonText : '확인'});
                                callPageLoading(0);
                            },
                            complete:function(data,textStatus) {
                                // callPageLoading(0);
                            }
                        });
                    }, 500);
                }
            });
        };
    </script>
</th:block>

<!--/*현재 페이지 css*/-->
<th:block layout:fragment="css">
    <link th:href="@{/css/theme.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <style>
        .noUi-target {width:300px;}
        .timeHide {display: none !important;}
        #office_hours {display: block !important;}
    </style>
</th:block>

<div layout:fragment="content" id="adm_treat" class="container t100">
    <h1 class="menu_tit">진료 예약 관리</h1>
    <form id="doctorFrm" name="doctorFrm">
        <input type="hidden" name="weekdayTimeArr">
        <input type="hidden" name="d_weekdayTimeArr">
        <input type="hidden" name="weekendTimeArr">
        <input type="hidden" name="d_weekendTimeArr">
        <input type="hidden" name="holidayTimeArr">
        <input type="hidden" name="d_holidayTimeArr">
        <input type="hidden" name="eachSetYn" th:value="${data.eachSetYn}"> <!--/* 진료시간_개별설정여부 (평일 선택 시 N) */-->
        <input type="hidden" name="restStartHour">
        <input type="hidden" name="restEndHour">
        <input type="hidden" name="yoil">
        <input type="hidden" name="startHour">
        <input type="hidden" name="endHour">

        <div class="flex">
            <div class="menu_con">
                <h1>병원 영업 시간</h1>
                <div class="frm scrollbar">
                    <div id="office_hours">
                        <div class="weekdayAll_check">
                            <input type="checkbox" class="circle dot" id="weekday_0" name="weekday_check" value="0" th:checked="${data.eachSetYn=='N'}">
                            <label for="weekday_0">평일 전체 설정</label>
                            <ul class="timecheck01_wrap weekday_all">
                                <li class="week_0" style="display: none;">
                                    <div class="weekday_time">
                                        <div class="work start">
                                            <select name="start_h_0" id="start_h_0" class="time_h">
                                                <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}" th:value="${num}"></option>
                                            </select>
                                            <span class="semicolon">:</span>
                                            <select name="start_m_0" id="start_m_0" class="time_m">
                                                <option value="00" selected>00</option>
                                                <option value="15">15</option>
                                                <option value="30">30</option>
                                                <option value="45">45</option>
                                            </select>
                                        </div>
                                        <span class="hyphen">-</span>
                                        <div class="work end">
                                            <select name="end_h_0" id="end_h_0" class="time_h">
                                                <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                            </select>
                                            <span class="semicolon">:</span>
                                            <select name="end_m_0" id="end_m_0" class="time_m">
                                                <option value="00" selected>00</option>
                                                <option value="15">15</option>
                                                <option value="30">30</option>
                                                <option value="45">45</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>
                                        <div id="slider_0" class="slider"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--/*
                        <div class="date">
                            <input type="date"> ~ <input type="date">
                        </div>
                        */-->
                        <ul class="timecheck01_wrap">
                            <li class="week_1 liWeekDay">
                                <div class="weekday_check">
                                    <input type="checkbox" id="weekday_1" name="weekday_check" value="1">
                                    <label for="weekday_1">월</label>
                                </div>
                                <div class="weekday_time">
                                    <div class="work start">
                                        <select name="start_h_1" id="start_h_1" class="time_h">
                                            <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}" th:value="${num}"></option>
                                        </select>
                                        <span class="semicolon">:</span>
                                        <select name="start_m_1" id="start_m_1" class="time_m">
                                            <option value="00" selected>00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </div>
                                    <span class="hyphen">-</span>
                                    <div class="work end">
                                        <select name="end_h_1" id="end_h_1" class="time_h">
                                            <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                        </select>
                                        <span class="semicolon">:</span>
                                        <select name="end_m_1" id="end_m_1" class="time_m">
                                            <option value="00" selected>00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div id="slider_1" class="slider"></div>
                                </div>
                            </li>
                            <li class="week_2 liWeekDay">
                                <div class="weekday_check">
                                    <input type="checkbox" id="weekday_2" name="weekday_check" value="2">
                                    <label for="weekday_2">화</label>
                                </div>
                                <div class="weekday_time">
                                    <div class="work start">
                                        <select name="start_h_2" id="start_h_2" class="time_h">
                                            <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                        </select>
                                        <span class="semicolon">:</span>
                                        <select name="start_m_2" id="start_m_2" class="time_m">
                                            <option value="00" selected>00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </div>
                                    <span class="hyphen">-</span>
                                    <div class="work end">
                                        <select name="end_h_2" id="end_h_2" class="time_h">
                                            <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                        </select>
                                        <span class="semicolon">:</span>
                                        <select name="end_m_2" id="end_m_2" class="time_m">
                                            <option value="00" selected>00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="">
                                    <div id="slider_2" class="slider"></div>
                                </div>
                            </li>
                            <li class="week_3 liWeekDay">
                                <div class="weekday_check">
                                    <input type="checkbox" id="weekday_3" name="weekday_check" value="3">
                                    <label for="weekday_3">수</label>
                                </div>
                                <div class="weekday_time">
                                    <div class="work start">
                                        <select name="start_h_3" id="start_h_3" class="time_h">
                                            <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                        </select>
                                        <span class="semicolon">:</span>
                                        <select name="start_m_3" id="start_m_3" class="time_m">
                                            <option value="00" selected>00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </div>
                                    <span class="hyphen">-</span>
                                    <div class="work end">
                                        <select name="end_h_3" id="end_h_3" class="time_h">
                                            <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                        </select>
                                        <span class="semicolon">:</span>
                                        <select name="end_m_3" id="end_m_3" class="time_m">
                                            <option value="00" selected>00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="">
                                    <div id="slider_3" class="slider"></div>
                                </div>
                            </li>
                            <li class="week_4 liWeekDay">
                                <div class="weekday_check">
                                    <input type="checkbox" id="weekday_4" name="weekday_check" value="4">
                                    <label for="weekday_4">목</label>
                                </div>
                                <div class="weekday_time">
                                    <div class="work start">
                                        <select name="start_h_4" id="start_h_4" class="time_h">
                                            <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                        </select>
                                        <span class="semicolon">:</span>
                                        <select name="start_m_4" id="start_m_4" class="time_m">
                                            <option value="00" selected>00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </div>
                                    <span class="hyphen">-</span>
                                    <div class="work end">
                                        <select name="end_h_4" id="end_h_4" class="time_h">
                                            <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                        </select>
                                        <span class="semicolon">:</span>
                                        <select name="end_m_4" id="end_m_4" class="time_m">
                                            <option value="00" selected>00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="">
                                    <div id="slider_4" class="slider"></div>
                                </div>
                            </li>
                            <li class="week_5 liWeekDay">
                                <div class="weekday_check">
                                    <input type="checkbox" id="weekday_5" name="weekday_check" value="5">
                                    <label for="weekday_5">금</label>
                                </div>
                                <div class="weekday_time">
                                    <div class="work start">
                                        <select name="start_h_5" id="start_h_5" class="time_h">
                                            <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                        </select>
                                        <span class="semicolon">:</span>
                                        <select name="start_m_5" id="start_m_5" class="time_m">
                                            <option value="00" selected>00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </div>
                                    <span class="hyphen">-</span>
                                    <div class="work end">
                                        <select name="end_h_5" id="end_h_5" class="time_h">
                                            <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                        </select>
                                        <span class="semicolon">:</span>
                                        <select name="end_m_5" id="end_m_5" class="time_m">
                                            <option value="00" selected>00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="">
                                    <div id="slider_5" class="slider"></div>
                                </div>
                            </li>
                            <li class="week_6">
                                <div class="weekday_check">
                                    <input type="checkbox" id="weekday_6" name="weekday_check" value="6">
                                    <label for="weekday_6">토</label>
                                </div>
                                <div class="weekday_time">
                                    <div class="work start">
                                        <select name="start_h_6" id="start_h_6" class="time_h">
                                            <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                        </select>
                                        <span class="semicolon">:</span>
                                        <select name="start_m_6" id="start_m_6" class="time_m">
                                            <option value="00" selected>00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </div>
                                    <span class="hyphen">-</span>
                                    <div class="work end">
                                        <select name="end_h_6" id="end_h_6" class="time_h">
                                            <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                        </select>
                                        <span class="semicolon">:</span>
                                        <select name="end_m_6" id="end_m_6" class="time_m">
                                            <option value="00" selected>00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="">
                                    <div id="slider_6" class="slider"></div>
                                </div>
                            </li>
                            <li class="week_7">
                                <div class="weekday_check">
                                    <input type="checkbox" id="weekday_7" name="weekday_check" value="7">
                                    <label for="weekday_7">일</label>
                                </div>
                                <div class="weekday_time">
                                    <div class="work start">
                                        <select name="start_h_7" id="start_h_7" class="time_h">
                                            <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                        </select>
                                        <span class="semicolon">:</span>
                                        <select name="start_m_7" id="start_m_7" class="time_m">
                                            <option value="00" selected>00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </div>
                                    <span class="hyphen">-</span>
                                    <div class="work end">
                                        <select name="end_h_7" id="end_h_7" class="time_h">
                                            <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                        </select>
                                        <span class="semicolon">:</span>
                                        <select name="end_m_7" id="end_m_7" class="time_m">
                                            <option value="00" selected>00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="">
                                    <div id="slider_7" class="slider"></div>
                                </div>
                            </li>
                        </ul>
                        <div class="rest">
                            <div class="weekday_check">
                                <input type="checkbox" id="weekday_8" name="weekday_check" value="8" checked>
                                <label for="weekday_8">휴식</label>
                            </div>
                            <div class="weekday_time">
                                <div class="work start">
                                    <select name="start_h_8" id="start_h_8" class="time_h">
                                        <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                    </select>
                                    <span class="semicolon">:</span>
                                    <select name="start_m_8" id="start_m_8" class="time_m">
                                        <option value="00" selected>00</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                    </select>
                                </div>
                                <span class="hyphen">-</span>
                                <div class="work end">
                                    <select name="end_h_8" id="end_h_8" class="time_h">
                                        <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                    </select>
                                    <span class="semicolon">:</span>
                                    <select name="end_m_8" id="end_m_8" class="time_m">
                                        <option value="00" selected>00</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                    </select>
                                </div>
                            </div>
                            <div class="">
                                <div id="slider_8" class="slider"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn_wrap">
                    <a onclick="location.reload()" class="btn small02 blueline">최소</a>
                    <a onclick="saveTreat()" class="btn small02 blue">저장</a>
                </div>
            </div>

            <div id="calendar">
                <div id="area_calendar">
                    <!--/* 달력영역 */-->
                    <div class="calendar"></div>
                    <!--/*<a data-toggle="modal" data-target="#modifyModal">날짜선택</a>-->
                    <!--/*변경된 날짜는 .day 에 class : modify 추가*/-->
                </div>

            </div>
        </div>
    </form>

    <th:block>
        <div style="display: none" id="dbHour">
            <div th:each="hour, i : ${data.hospitalHour}">
                <span id="yoil" th:text="${hour.yoil}"></span>
                <span id="startHour" th:text="${hour.start_hour}"></span>
                <span id="endHour" th:text="${hour.end_hour}"></span>
            </div>
        </div>
        <!--/* 일반환자 */-->
        <div style="display: none" id="dbTime1">
            <div th:each="time, i : ${appointment2}">
                <span id="yoilType1" th:text="${time.yoil_type}"></span>
                <span id="timeTable1" th:text="${time.time_table}"></span>
            </div>
        </div>
        <!--/* 지정환자 */-->
        <div style="display: none" id="dbTime2">
            <div th:each="time, i : ${appointment1}">
                <span id="yoilType2" th:text="${time.yoil_type}"></span>
                <span id="timeTable2" th:text="${time.time_table}"></span>
            </div>
        </div>
    </th:block>

    <!--/*진료 예약 일정 수정 모달*/-->
    <div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">진료 예약 일정 수정</div>
                    <a href="" class="btn_close" data-dismiss="modal" aria-label="Close"></a>
                </div>
                <div class="modal-body">
                    <form id="saveFrm" name="saveFrm" method="post">
                        <input type="hidden" name="specday">
                        <input type="hidden" name="specdayTimeArr">
                        <input type="hidden" name="d_specdayTimeArr">
                        <div class="flex jsb">
                            <div class="date"><span class="color_blue">수정일자</span> <span id="setDate">2022.04.01</span></div>
                            <div class="flex">
                                <div class="time_check">
                                    <input type="radio" id="mo_time01" name="mo_time_check" checked value="2">
                                    <label for="mo_time01">일반 환자 시간</label>
                                </div>
                                <div class="time_check" th:if="${pharmacyCount!=0}"> <!--/* 지정약국이 있을 때만 활성화 */-->
                                    <input type="radio" id="mo_time02" name="mo_time_check" value="1">
                                    <label for="mo_time02">지정 환자 시간</label>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" id="rev_time" class="mo_time01">
                            <div class="tab-content">
                                <div role="tabpanel">
                                    <div role="tabpanel" class="tab-pane">
                                        <div class="time_am">
                                            <div class="time_check" th:each="time, i : ${medicalTimeList}" th:if="${time.key < 1200}">
                                                <input type="checkbox" th:id="|am_time01_${i.index}|" class="checkTime" name="specdayTime" th:value="${time.key}">
                                                <label th:for="|am_time01_${i.index}|" th:text="${time.value}">08:00</label>
                                            </div>
                                        </div>
                                        <div class="time_pm">
                                            <div class="time_check" th:each="time, i : ${medicalTimeList}" th:if="${time.key >= 1200}">
                                                <input type="checkbox" th:id="|pm_time01_${i.index}|" class="checkTime" name="specdayTime" th:value="${time.key}">
                                                <label th:for="|pm_time01_${i.index}|" th:text="${time.value}">08:00</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" id="rev_time" class="mo_time02" style="display: none;">
                            <div class="tab-content">
                                <div role="tabpanel">
                                    <div role="tabpanel" class="tab-pane">
                                        <div class="time_am">
                                            <div class="time_check" th:each="time, i : ${medicalTimeList}" th:if="${time.key < 1200}">
                                                <input type="checkbox" th:id="|d_mo_am_time01_${i.index}|" class="checkTime" name="d_specdayTime" th:value="${time.key}">
                                                <label th:for="|d_mo_am_time01_${i.index}|" th:text="${time.value}">08:00</label>
                                            </div>
                                        </div>
                                        <div class="time_pm">
                                            <div class="time_check" th:each="time, i : ${medicalTimeList}" th:if="${time.key >= 1200}">
                                                <input type="checkbox" th:id="|d_mo_pm_time01_${i.index}|" class="checkTime" name="d_specdayTime" th:value="${time.key}">
                                                <label th:for="|d_mo_pm_time01_${i.index}|" th:text="${time.value}">08:00</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn small02 blueline" data-dismiss="modal">취소</a>
                    <a type="button" onclick="saveAppointment()" class="btn small02 blue">저장</a>
                </div>
            </div>
        </div>
    </div>
    <!--/*진료 예약 일정 수정 모달*/-->
</div>

<!--/*푸터는 개별 적용한 상태, 페이지마다 하단 내용이 달라서*/-->
<footer layout:fragment="footer" id="footer">
    <!--/*footer 내용*/-->
</footer>

</html>