<!--/* 지정약국관리 신규등록 팝업 */-->
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title">신규 등록</div>
    <a href="" class="btn_close" data-dismiss="modal" aria-label="Close"></a>
  </div>
  <div class="modal-body">
    <div class="search">
      <dl>
        <dd>
          <select name="sfl">
            <th:block th:each="item : ${schOptions}">
            <option th:value="${item.key}" th:text="${item.value}" th:selected="${sfl==item.key}"></option>
            </th:block>
          </select>
        </dd>
        <dd class="sch_box">
          <input type="text" placeholder="검색어를 입력하세요" name="stx" th:value="${stx}" autocomplete="off">
          <button type="button" class="sch_btn" id="btnSch"><img th:src="@{/img/hospital/ic_search.svg}"></button>
        </dd>
      </dl>
    </div>
    <div class="tbl">
      <table>
        <thead>
        <tr>
          <th></th>
          <th>약국 이름</th>
          <th>주소</th>
          <th>연락처</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.size(listData) == 0}">
          <td colspan="4">결과가 없습니다.</td>
        </tr>
        <tr th:unless="${#lists.size(listData) == 0}" th:each="item : ${listData}">
          <td>
            <input type="checkbox" th:id="|num${item.idx}|" th:value="${item.idx}" name="chk[]">
            <label th:for="|num${item.idx}|"><div></div></label>
          </td>
          <td th:text="${item.PharmacyName}">헬로 약국</td>
          <td>
            <div th:text="${item.mainAddr}">제주특별자치도 서귀포시 남원읍 중산간동로7227번길 111-10</div>
            <th:block th:if="${item.detailAddr!=null}" th:text="${item.detailAddr}"/>
          </td>
          <td th:text="${item.telNo}">010-9876-5432</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn small02 gray" data-dismiss="modal">취소</a>
    <a class="btn small02 blue" onclick="savePharmacy()">저장</a>
  </div>
</div>

</html>