<!--CS문의 목록-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{hospital/layout/default}">

<!--현재 페이지 스크립트-->
<th:block layout:fragment="script">
    <script type="text/javascript">
        $('#gnb #gnb_1dul>li').eq(5).addClass('active');
        $('#gnb_1dul>li.active .gnb_2dul>li').eq(1).addClass('active');

        //<!--/* 문의삭제 */-->
        function deleteCS(el) {
            const btns = Swal.mixin({
                customClass: {
                    confirmButton: 'btn small red',
                    cancelButton: 'btn small gray'
                },
                buttonsStyling: false
            })

            btns.fire({
                title:'<span class="color_red">CS 문의 삭제</span>',
                html:'CS 문의 내역을 삭제 하시겠습니까?',
                showCancelButton: true,
                confirmButtonText: '삭제',
                cancelButtonText: '취소',
            }).then((result) => {
                if (result.isConfirmed) {
                    let idx = el.getAttribute("data-idx");
                    let errMsg = "삭제에 실패했습니다.<br>잠시 후 다시 시도해 주세요.";

                    $.ajax({
                        type : "post",
                        url : "./deleteCS",
                        data : {idx: idx},
                    }).done(function(data, textStatus, xhr) {
                        let json = JSON.parse(data);
                        console.log(json);
                        if (json.result) location.reload();
                        else {
                            swal.fire({html: errMsg, confirmButtonText : '확인'});
                        }
                    }).fail(function(data, textStatus, errorThrown) {
                        swal.fire({html: errMsg, confirmButtonText : '확인'});
                    });
                }
            });
        };

    </script>
</th:block>

<!--현재 페이지 css-->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<div layout:fragment="content" id="cs_list" class="container t100">
    <div class="flex jsb">
        <h1 class="menu_tit">CS 문의</h1>
        <div><a href="/hospital/csForm" class="btn small02 blue">문의 등록</a></div>
    </div>
    <div class="menu_con" th:if="${!#ctx.containsVariable('isLogout')}">
        <div class="tbl">
            <table>
                <thead>
                <tr>
                    <th>No.</th>
                    <th>작성일</th>
                    <th>작성자</th>
                    <th>문의 제목</th>
                    <th>처리일</th>
                    <th class="text-center">상태</th>
                </tr>
                </thead>
                <tbody>

                <!--/* CS문의 없음 */-->
                <tr th:if="${#lists.size(csList) == 0}">
                    <td colspan="7">등록된 CS문의가 없습니다.</td>
                </tr>

                <!--/* CS문의 목록 */-->
                <tr th:unless="${#lists.size(csList) == 0}" th:each="item, index : ${csList}"
                    th:with="listNo=${paging.listNo}">
                    <td th:text="${listNo - (index.index)}">1</td>
                    <td th:text="${#strings.substring(#strings.replace(item.regdate,'-','.'),0,10)}">2022.04.11</td>
                    <td th:text="${item.userName}">홍길동</td>
                    <td><a th:href="|./csView/${item.idx}|" th:text="${item.subject}">문의 드립니다.</a></td>
                    <td>
                        <span class="color_green" th:if="${#strings.isEmpty(item.answerDate)}">처리 중</span>
                        <span class="color_gray" th:unless="${#strings.isEmpty(item.answerDate)}" th:text="${#strings.substring(#strings.replace(item.answerDate,'-','.'),0,10)}">2022.04.11</span>
                    </td>
                    <td class="text-center">
                        <!--/* 처리중 - 삭제가능 */-->
                        <a th:if="${#strings.isEmpty(item.answerDate)}" onclick="deleteCS(this)" th:data-idx="${item.idx}" class="btn small red ico_btn"><img th:src="@{/img/hospital/ic_delet.svg}" alt="삭제"></a>
                        <!--/* 처리완료 - 삭제불가 */-->
                        <div th:unless="${#strings.isEmpty(item.answerDate)}" class="btn small blue ico_btn"><img th:src="@{/img/hospital/ic_check.svg}" alt="확인"></div>
                    </td>
                </tr>

                </tbody>
            </table>

            <!--/* 페이징 START */-->
            <div th:replace="app/fragments/paging :: pagingFragment"></div>
            <!--/* 페이징 END */-->

        </div>
    </div>

</div>

<!--푸터는 개별 적용한 상태, 페이지마다 하단 내용이 달라서-->
<footer layout:fragment="footer" id="footer">
    <!--footer 내용-->
</footer>

</html>