<!--CS문의 상세-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{hospital/layout/default}">

<!--현재 페이지 스크립트-->
<th:block layout:fragment="script">
  <script type="text/javascript">
    $('#gnb #gnb_1dul>li').eq(5).addClass('active');
    $('#gnb_1dul>li.active .gnb_2dul>li').eq(1).addClass('active');

    // 페이지 에러체크
    let errMsg = "[[${errMsg}]]";
    if (errMsg != "") {
      getErrAlert(errMsg, "./csList");
    }

    //<!--/* 첨부파일 미리보기 */-->
    $(document).on("click", "button.imgView", function(e) {
      let src = $(this).parents(".rows").find("img").prop("src");
      document.querySelector("#filePrevImg").setAttribute("src", src);
      $("#filePrevModal").modal();
    });

  </script>
</th:block>

<!--현재 페이지 css-->
<th:block layout:fragment="css">
  <style>
    .btn_wrap a.btn {vertical-align: top;}
  </style>
</th:block>

<div layout:fragment="content" id="cs_form" class="container t100">
  <div class="flex">
    <a href="javascript:history.back();" class="ic_back"></a>
    <h1 class="menu_tit">CS 문의</h1>
  </div>
  <div class="menu_con" th:if="${!#ctx.containsVariable('isLogout')}">
    <div class="frm scrollbar">
      <div class="sec">
        <dl>
          <dt>문의 유형</dt>
          <dd>
            <!--/*<div class="dropdown">
              <input id="dLabel" class="select" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="선택" name="categoryStr">
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="category">
                <li>진료문의</li>
                <li>앱 불편사항</li>
                <li>기타문의</li>
              </ul>
            </div>*/-->
            <input type="text" th:value="${data.category!=null? category[data.category] : ''}" readonly>
          </dd>
        </dl>
        <dl>
          <dt>문의 제목</dt>
          <dd>
            <input type="text" th:value="${data.subject!=null? data.subject : ''}" readonly>
          </dd>
        </dl>
      </div>
      <div class="sec">
        <dl class="ais">
          <dt>내용</dt>
          <dd><textarea class="scrollbar" th:text="${data.content!=null? data.content : ''}" readonly></textarea>
          </dd>
        </dl>
      </div>
      <div class="sec">
        <dl>
          <dt>파일 첨부</dt>
          <dd>
            <div class="file_wrap">
              <!--/* 첨부이미지 존재하면 */-->
              <th:block th:if="${data!=null && #lists.size(files) > 0}" th:each="img, index : ${files}">
                <div class="input_st rows">
                  <div class="file_name">
                    <p><th:block th:text="${img.originFileName!=null? img.originFileName : 'no_name'}" /></p>
                    <span class="ic_close del" th:data-num="${index.index}"></span>
                  </div>
                  <button type="button" class="btn small blueline imgView">확인</button>
                  <img th:src="${img.fileUrl}" class="hide" />
                </div>
              </th:block>
              <th:block th:unless="${data!=null && #lists.size(files) > 0}">
                등록된 파일이 없습니다.
              </th:block>
            </div>
          </dd>
        </dl>
      </div>
      <h2>관리자 답변</h2>

      <!--/* 답변없음 */-->
      <div class="sec" th:if="${data.answerDate==null}">
        <dd>관리자의 답변을 기다리는 중입니다.</dd>
      </div>

      <!--/* 답변존재 */-->
      <th:block th:unless="${data.answerDate==null}">
        <div class="sec">
          <dl class="ais">
            <dt>내용</dt>
            <dd><textarea class="scrollbar" th:text="${data.answer!=null? data.answer : ''}"></textarea>
            </dd>
          </dl>
        </div>
        <div class="sec">
          <dl>
            <dt>파일 첨부</dt>
            <dd>
              <div class="file_wrap">
                <!--/* 첨부이미지 존재하면 */-->
                <th:block th:if="${data!=null && #lists.size(adminFiles) > 0}" th:each="img, index : ${adminFiles}">
                  <div class="input_st rows">
                    <div class="file_name">
                      <p><th:block th:text="${img.originFileName!=null? img.originFileName : 'no_name'}" /></p>
                      <span class="ic_close del" th:data-num="${index.index}"></span>
                    </div>
                    <button type="button" class="btn small blueline imgView">확인</button>
                    <img th:src="${img.fileUrl}" class="hide" />
                  </div>
                </th:block>
                <th:block th:unless="${data!=null && #lists.size(adminFiles) > 0}">
                  등록된 파일이 없습니다.
                </th:block>
              </div>
            </dd>
          </dl>
        </div>
      </th:block>

    </div>
    <div class="btn_wrap">
      <!--/* 관리자답변 없으면 수정가능 */-->
      <a th:href="|../csForm?idx=${idx}|" class="btn small02 blueline" th:if="${data.answerDate==null}">수정</a>
      <button class="btn small02 blue" onclick="history.back()">확인</button>
    </div>
  </div>

  <!--/* 첨부파일 미리보기 모달 */-->
  <div class="modal fade" id="filePrevModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">처방전</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <!--/* Swiper */-->
          <div class="swiper gall_zoom">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img id="filePrevImg">
              </div>
            </div>
            <!--<div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/* //첨부파일 미리보기 모달 */-->

</div>

<!--푸터는 개별 적용한 상태, 페이지마다 하단 내용이 달라서-->
<footer layout:fragment="footer" id="footer">
  <!--footer 내용-->
</footer>

</html>