<!--/*의사-원격진료-접수리스트(ajax)*/-->
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div class="tbl_top">
    <ul class="total">
        <li>총접수 <strong class="gray" th:text="${listCnt.listTotalCnt}">-999</strong></li>
        <li>진료 대기 <strong class="green" th:text="${listCnt.statusR}">999</strong></li>
        <li>진료 취소 <strong class="red" th:text="${listCnt.statusN}">5</strong></li>
        <li>진료 완료 <strong class="blue" th:text="${listCnt.statusY}">32</strong></li>
    </ul>
    <div class="dropdown">
        <select id="limitFilter" onchange="limitFilter(this);">
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
</div>
<table>
    <thead>
    <tr>
        <th>접수번호</th>
        <th>접수시간</th>
        <th>접수자</th>
        <th>질환</th>
        <th>환자 이름</th>
        <th>관계</th>
        <th>연락처</th>
        <th class="text-center">주민등록 번호</th>
        <th class="text-center">진료 구분</th>
        <th class="text-center">참고 내용</th>
        <th class="text-center">진료실</th>
        <th class="text-center">처방전</th>
        <th class="text-center">청구금액</th>
        <th class="text-center">상태</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.size(listData)==0}">
        <td colspan="14" style="text-align: center;">데이터가 없습니다.</td>
    </tr>
    <tr th:if="${#lists.size(listData)!=0}" th:each="list: ${listData}">
        <th th:text="${list.rcptNo}">C220401A01234</th>
        <td th:text="${list.medicalTime}" th:class="${list.medicalStatus!='C'&&list.hospitalRcptYn=='R'?'color_red':''}">12:35</td> <!--/* 진료상태 취소 아님 && 병원 접수상태 대기 */-->
        <td th:text="${list.mbName}">홍길동</td>
        <td th:text="${list.subjectName}">호흡기 질환</td>
        <td th:text="${list.patientName}">홍길동</td>
        <td th:text="${list.relationship}">본인</td>
        <td th:text="${list.patientHp}">010-9876-5432</td>
        <td th:text="${list.patientRrNo}" class="text-center">770805-1******</td>
        <td class="text-center"><span th:class="${list.medicalType=='초진'?'color_green':'color_red'}" th:text="${list.medicalType}" >초진</span></td>
        <td class="text-center"><a class="check_btn" th:onclick="patientPop([[${list.idx}]])">확인</a></td> <!--/* 참고내용 - 환자정보*/-->
        <td class="text-center"><a class="btn small green" th:href="|./remoteTreat/${list.idx}|">입장</a></td>
        <!--/* 처방전 */-->
        <td class="text-center">
            <!--/* 처방전 정보 입력 전 */-->
            <input type="hidden" th:name="|opinionIdx[${list.idx}]|" th:value="${list.opinionIdx}"><!--/* 진료소견 인덱스 */-->
            <a th:if="${list.presIdx==0&&list.isPres=='Y'}" class="btn small blueline" th:onclick="prescriptionPop([[${list.idx}]], [[${list.presIdx}]])">등록</a>
            <!--/* 원격 진료 취소 */-->
            <a th:if="${list.medicalStatus=='C'||list.hospitalRcptYn=='N'}" class="btn small gray off">등록</a>
            <!--/* 처방전 등록 후 비용청구 전 */-->
            <a th:if="${list.medicalStatus!='C'&&list.medicalStatus!='Y'&&list.hospitalRcptYn!='N'&&(list.presIdx>0||list.isPres=='N')&&list.billDate==''}" class="btn small redline" th:onclick="prescriptionPop([[${list.idx}]], [[${list.presIdx}]])">수정</a>
            <!--/* 처방전 등록 후 비용청구 완료 */-->
            <a th:if="${((list.presIdx>0||list.isPres=='N')&&list.billDate!='')||list.medicalStatus=='Y'}" class="btn small blue" th:onclick="prescriptionPop([[${list.idx}]], [[${list.presIdx}]], 'comp')">확인</a>
            <!--/* 참고내용: 청구금액이 없을 시 진료상태가 완료처리가 되기 때문에 list.medicalStatus=='Y'를 조건으로 사용 */-->
        </td>

        <td class="text-center" th:id="|amt${list.idx}|">
            <!--/* 진료 취소 시 */-->
            <span th:if="${list.medicalStatus=='C'||list.hospitalRcptYn=='N'}" class="box off">
                <strong th:text="${#numbers.formatInteger(list.totalBillAmt, 0, 'COMMA')}">0</strong>원
            </span>
            <!--/* 청구금액 없음 */-->
            <span th:if="${list.medicalStatus!='T'&&list.medicalStatus!='Y'&&list.hospitalRcptYn=='Y'&&list.isBillAmt=='N'}" class="box none" th:onclick="pricePop([[${list.idx}]])">청구금액</span>
            <!--/* 청구금액 없음 && 진료 완료 처리 */-->
            <span th:if="${list.medicalStatus=='Y'&&list.hospitalRcptYn=='Y'&&list.isBillAmt=='N'}" class="box none">청구금액</span>
            <!--/* 청구금액 미입력 */-->
            <span th:if="${list.medicalStatus!='T'&&list.hospitalRcptYn=='Y'&&list.isBillAmt=='Y'&&list.totalBillAmt==0}" class="box none_on" th:onclick="pricePop([[${list.idx}]])">청구금액</span>
            <!--/* 청구금액 입력 완료 && 비용청구 전 */-->
            <span th:if="${list.medicalStatus!='T'&&list.hospitalRcptYn=='Y'&&list.isBillAmt=='Y'&&list.totalBillAmt!=0&&list.billDate==''}" class="box on" th:onclick="pricePop([[${list.idx}]])">
                <strong th:text="${#numbers.formatInteger(list.totalBillAmt, 0, 'COMMA')}">99,988</strong>원
            </span>
            <!--/* 청구금액 입력 완료 && 비용청구 완료 */-->
            <span th:if="${list.medicalStatus!='T'&&list.hospitalRcptYn=='Y'&&list.isBillAmt=='Y'&&list.totalBillAmt!=0&&list.billDate!=''}" class="box off">
                <strong th:text="${#numbers.formatInteger(list.totalBillAmt, 0, 'COMMA')}">99,988</strong>원
            </span>
            <!--
            비활성화(청구금액) 일때는 .box 뒤에 class : none
            활성화(입력가능) 일때는 .box 뒤에 class : on
            입력완료 class : off
            -->
        </td>
        <!--/* 상태 */-->
        <!--/* 1. 진료취소 선택 == 진료대기 */-->
        <!--/* 환자상태=R && 병원상태=Y && (진료소견X || 처방전X || 청구금액X) */-->
        <td class="text-center" th:if="${list.medicalStatus=='R'&&list.hospitalRcptYn=='Y'&&(list.opinionIdx==0||(list.presIdx==0&&list.isPres=='Y')||(list.totalBillAmt==0&&list.isBillAmt=='Y'))}">
            <a class="btn small red" th:onclick="denyPop([[${list.idx}]])">진료취소</a>
        </td>
        <!--/* 2. 진료취소 */-->
        <!-- /* 환자상태=C || 병원상태=N */-->
        <td class="text-center" th:if="${list.medicalStatus=='C'||list.hospitalRcptYn=='N'}">
            <span class="color_red">진료 취소</span>
            <a class="btn small blueline" th:onclick="reasonPop([[${list.cancelReason}]])">사유</a>
        </td>
        <!-- /* 3. 비용청구 = 진료진행중(비용청구) */-->
        <!-- /* 환자상태!=T && 병원상태=Y && 진료소견O && 처방전O && 청구금액O && 비용청구X */-->
        <td class="text-center" th:if="${list.medicalStatus!='T'&&list.hospitalRcptYn=='Y'&&list.opinionIdx>0&&(list.presIdx>0||list.isPres=='N')&&list.totalBillAmt>0&&list.billDate==''}">
            <input type="hidden" th:name="|billAmt[${list.idx}]|" th:value="${list.totalBillAmt}"><!--/* 결제총금액 */-->
            <input type="hidden" th:name="|cardIdx[${list.idx}]|" th:value="${list.mbCardIdx}"><!--/* 결제카드인덱스 */-->
            <input type="hidden" th:name="|mbIdx[${list.idx}]|" th:value="${list.mbIdx}"><!--/* 회원인덱스 */-->
            <a class="btn small blackline" th:onclick="charge([[${list.idx}]])">비용청구</a>
            <!-- /* 비용청구시 결제실패 건 */-->
            <span th:if="${list.billStlmIdx==-1}" class="color_red" style="margin-top:5px;">결제실패</span>
        </td>
        <!-- /* 4. 결제대기 = 진료완료(결제대기) */-->
        <!-- /* 환자상태!=T && 병원상태=Y && 비용청구O && 결제X */-->
        <td class="text-center" th:if="${list.medicalStatus!='T'&&list.hospitalRcptYn=='Y'&&list.billDate!=''&&list.billStlmIdx==0}">결제대기</td>
        <!-- /* 5. 결제완료 = 진료완료(결제완료) */-->
        <!-- /* (환자상태!=T && 병원상태=Y && 비용청구O && 결제O) || 환자상태=Y */-->
        <td class="text-center" th:if="${(list.medicalStatus!='T'&&list.hospitalRcptYn=='Y'&&list.billDate!=''&&list.billStlmIdx>0)||list.isBillAmt=='N'}">결제완료</td>
    </tr>
    </tbody>
</table>

<!--/* 페이징 START */-->
<div th:replace="app/fragments/paging :: pagingFragment"></div>
<!--/* 페이징 END */-->