<!--/* 진료실 */-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{hospital/layout/default}">

<!--/* 현재 페이지 스크립트 */-->
<th:block layout:fragment="script">
    <!--<script th:src="@{/js/webcam.js}" defer></script>-->
    <script type="text/javascript">
        $('#gnb #gnb_1dul>li').eq(0).addClass('active');
        $('#gnb .gnb_2dul').remove();

        /*<![CDATA[*/
        // const ROOM_ID = "[[ ${roomId} ]]";
        // const users = "[[ ${userId} ]]";
        /*]]>*/

        const swiper = new Swiper("#fileSwiper", {
            autoHeight: true,
            spaceBetween: 20,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        //<!--/* 기타첨부파일 */-->
        document.querySelector("#linkEtdFile").addEventListener("click", etcFileOpen);
        function etcFileOpen() {
            let fileLength = document.querySelectorAll("#fileSwiper img").length;

            if (fileLength > 0) $("#etcFileModal").modal();
            else swal.fire({html: "등록된 첨부파일이 없습니다."});
        }
        //<!--/* 기타첨부파일 개수 */-->
        document.querySelector("#etcFileCount").innerHTML = (document.querySelectorAll("#fileSwiper img").length > 0)? "Y" : "N";

        //<!--/* 기타첨부파일 다운받기 */-->
        function openImgNewTab(img) {
            let src = img.getAttribute("src");
            window.open(src);
        }

        //<!--/* 진료소견 저장 */-->
        function saveOpinion(f) {
            let submit = false;
            let textBox = document.querySelectorAll("form[name=frm01] textarea");
            for (let i=0; i<textBox.length; i++) {
                if (textBox[i].value != "") submit = true;
            }

            if (!submit) {
                swal.fire({html: "입력된 진료소견이 없습니다.", confirmButtonText : '확인',});
                return false;
            }

            callPageLoading(1);
            setTimeout(function() {
                let formData = new FormData(f);
                let errMsg = "저장에 실패했습니다.<br>잠시 후 다시 시도해 주세요.";
                $.ajax({
                    url: "/hospital/saveMedicalOpinion",
                    data: formData,
                    type: "POST",
                    async: false,
                    enctype: "multipart/form-data",
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        let data = JSON.parse(response);
                        if (data.result) {
                            document.querySelector("form[name=frm01] input[name=idx]").value = data.idx;
                            swal.fire({html: "저장이 완료되었습니다.", confirmButtonText : '확인'});
                        }
                        else swal.fire({html: errMsg, confirmButtonText : '확인'});
                    },
                    error: function(xhr) {
                        console.log("[serverUploadImage] : [error] : ", xhr);
                        swal.fire({html: errMsg, confirmButtonText : '확인',});
                    },
                    complete:function(data,textStatus) {
                        callPageLoading();
                    }
                });
            }, 500);

            return false;
        }
    </script>
</th:block>

<!--/* 현재 페이지 css */-->
<th:block layout:fragment="css">
    <style>
        html, body{overflow: hidden;}
        body{background-color: #2A2A2A;}
        #youVideo video{width:100%;}
        #fileSwiper img {cursor: pointer;}
        .btn_box .blueline {background: #2A2A2A;}
    </style>
</th:block>

<div layout:fragment="content" id="remote_treat" class="container">
    <!--/* 진료실 화면 iframe 분리 */-->
    <div style="width:100%;float:left;position:fixed;left:0px">
        <iframe th:src="|/hospital/certify/iframeLoad?roomId=${roomId}|" frameborder="0" style="height: 95vh;width: 100vw;"></iframe>
    </div>

    <div class="patient_info">
        <div class="frm_wrap">
            <!--/* 환자정보 */-->
            <th:block th:unless="${#strings.isEmpty(patientInfo)}">
                <div class="half">
                    <dl>
                        <dt>이름</dt>
                        <dd th:text="${patientInfo.ptName!=null? patientInfo.ptName : '-'}">홍길동</dd>
                        <dt>생년월일</dt>
                        <dd th:text="${patientInfo.ptBirth!=null? patientInfo.ptBirth : '-'}">1997-06-25</dd>
                        <dt>성별</dt>
                        <dd th:text="${patientInfo.ptGender!=null? patientInfo.ptGender : '-'}">여</dd>
                    </dl>
                    <dl>
                        <dt>나이</dt>
                        <dd th:text="${patientInfo.ptAge!=null? patientInfo.ptAge + '세' : '-'}">24세</dd>
                        <dt>신장</dt>
                        <dd th:text="${patientInfo.ptHeight!=null? patientInfo.ptHeight + 'cm' : '-'}">175.6cm</dd>
                        <dt>체중</dt>
                        <dd th:text="${patientInfo.ptWeight!=null? patientInfo.ptWeight + 'kg' : '-'}">84.5kg</dd>
                    </dl>
                </div>
                <div>
                    <dl>
                        <dt>참고내용 : </dt>
                        <dd class="box">
                            <th:block th:if="${#ctx.getVariable('patientInfo').get('symptom')}">
                                <textarea readonly th:text="${not #strings.isEmpty(patientInfo.symptom)? patientInfo.symptom : '없음'}"></textarea>
                            </th:block>
                            <th:block th:unless="${#ctx.getVariable('patientInfo').get('symptom')}">
                                <textarea readonly>없음</textarea>
                            </th:block>
                        </dd>
                    </dl>
                </div>
                <div>
                    <ul>
                        <li>환자 의료영상 <strong>N</strong><a>보기</a></li>
                        <li>기타 첨부파일 <strong id="etcFileCount">N</strong><a id="linkEtdFile">보기</a></li>
                    </ul>
                </div>
            </th:block>

            <!--/* 진료소견 */-->
            <form name="frm01" autocomplete="off" onsubmit="return saveOpinion(this)">
                <input type="hidden" name="idx" th:value="${medicalOpn!=null && medicalOpn.idx!=null? medicalOpn.idx : '0'}">
                <input type="hidden" name="medicalIdx" th:value="${medicalIdx}">
                <input type="hidden" name="doctorIdx" th:value="${doctorIdx}">
                <dl>
                    <dt>주증상 : </dt>
                    <dd>
                        <textarea name="symptom" th:text="${medicalOpn!=null && medicalOpn.symptom!=null? medicalOpn.symptom : ''}"></textarea>
                    </dd>
                </dl>
                <dl>
                    <dt>현병력 : </dt>
                    <dd>
                        <textarea name="currentHistory" th:text="${medicalOpn!=null && medicalOpn.currentHistory!=null? medicalOpn.currentHistory : ''}"></textarea>
                    </dd>
                </dl>
                <dl>
                    <dt>과거병력 - 고지혈증, 간질환, 당뇨병, 고혈압, 심장질환 : </dt>
                    <dd><textarea name="oldHistoryInput" th:text="${medicalOpn!=null && medicalOpn.oldHistoryInput!=null? medicalOpn.oldHistoryInput : ''}" placeholder="과거병력을 기재해 주십시요"></textarea></dd>
                    <!--/*<dd class="box">
                        <div class="select view_btn">병력을 선택해 주세요.</div>
                        <div class="drop_view" style="display: block;">
                            <input type="checkbox" id="history01" name="history"><label for="history01">고지혈증 / hyperlipidemia</label>
                            <input type="checkbox" id="history02" name="history"><label for="history02">간질환 / liver</label>
                            <input type="checkbox" id="history03" name="history"><label for="history03">당뇨병 / diabetes</label>
                            <input type="checkbox" id="history04" name="history"><label for="history04">심장 질환 / heart disease</label>
                            <input type="checkbox" id="history05" name="history"><label for="history05">고혈압 / high blood pressure</label>
                            <input type="checkbox" id="history06" name="history"><label for="history06">기타(기재해 주십시요) / other, please</label>
                            <textarea placeholder="기재해 주십시요"></textarea>
                        </div>
                    </dd>*/-->
                </dl>
                <dl>
                    <dt>가족력 : </dt>
                    <dd><textarea name="famHistory" th:text="${medicalOpn!=null && medicalOpn.famHistory!=null? medicalOpn.famHistory : ''}"></textarea></dd>
                </dl>
                <dl>
                    <dt>진단 : </dt>
                    <dd><textarea name="diagnosis" th:text="${medicalOpn!=null && medicalOpn.diagnosis!=null? medicalOpn.diagnosis : ''}"></textarea></dd>
                </dl>
                <dl>
                    <dt>계획 : </dt>
                    <dd><textarea name="plan" th:text="${medicalOpn!=null && medicalOpn.plan!=null? medicalOpn.plan : ''}"></textarea></dd>
                </dl>
                <dl>
                    <dt>Medication Recommendation :</dt>
                    <dd><textarea name="mediReco" th:text="${medicalOpn!=null && medicalOpn.mediReco!=null? medicalOpn.mediReco : ''}"></textarea></dd>
                </dl>
                <dl>
                    <dt>Workup Recommendation :</dt>
                    <dd><textarea name="workupReco" th:text="${medicalOpn!=null && medicalOpn.workupReco!=null? medicalOpn.workupReco : ''}"></textarea></dd>
                </dl>
                <div class="btn_box">
                    <button type="button" class="btn small blueline" onclick="history.back();">나가기</button>
                    <button type="submit" class="btn small blue">저장</button>
                </div>
            </form>

        </div>
    </div>
    <div class="btn_set">
        <button onclick="isVideoType = isVideoType?false:true;screenChange();" type="button" id="video-btn">
            <img th:src="@{/img/hospital/btn_treat_video.svg}">
        </button>
        <button onclick="isAudioType = isAudioType?false:true;audioChange();" id="audio-btn">
            <img th:src="@{/img/hospital/btn_treat_mic.svg}" alt="켜짐">
        </button>
        <button><img th:src="@{/img/hospital/btn_hang_up.svg}"></button>
    </div>

    <!--/* 기타첨부파일 모달 */-->
    <div class="modal fade" id="etcFileModal" tabindex="-1" aria-labelledby="etcFileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">질환정보 첨부파일</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <!--/* Swiper */-->
                    <div class="swiper" id="fileSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" th:if="${etcFiles!=null && #lists.size(etcFiles) > 0}"
                                 th:each="img, index : ${etcFiles}">
                                <img th:src="${img.fileUrl}" onerror="this.remove();" onclick="openImgNewTab(this)">
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/* //질환정보 첨부파일 모달 */-->
</div>

<!--/* 푸터는 개별 적용한 상태, 페이지마다 하단 내용이 달라서 */-->
<footer layout:fragment="footer" id="footer">
    <!--/* footer 내용 */-->
</footer>

</html>