<!--/*의사-원격진료-환자정보모달(ajax)*/-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div class="modal fade" id="patient_pop" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">환자 정보</h4>
            </div>
            <div class="modal-body">
                <div class="tbl">
                    <table>
                        <thead>
                        <th>환지이름</th>
                        <th>주민등록번호</th>
                        <th>연락처</th>
                        </thead>
                        <tbody>
                        <td th:text="${info.patientName}">홍길동</td>
                        <td th:text="${info.patientRrNo}">880101-1******</td>
                        <td th:text="${info.patientHp}">010-9876-5432</td>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-header">
                <h4 class="modal-title">주요 증상</h4>
            </div>
            <div class="modal-body">
                <dl>
                    <dt>질환</dt>
                    <dd th:text="${info.subjectName}">일반 질환</dd>
                </dl>
                <dl>
                    <dt>내용</dt>
                    <dd th:text="${#strings.defaultString(info.symptom, '-')}">숨참, 가슴 통증, 가슴 두근거림, 어지러움, 부종, 실신, 피로 등에 대한 검사 및 치료 시행</dd>
                </dl>
                <dl>
                    <dt>첨부파일</dt>
                    <dd data-toggle="modal" data-target="#zoom_pop" class="img">
                        <p th:if="${#lists.size(info.fileList)!=0}" th:each="file: ${info.fileList}"><img th:src="${file}"></p>
                    </dd>
                </dl>
            </div>
            <div class="modal-header">
                <h4 class="modal-title">이전 진료 내역</h4>
            </div>
            <div class="modal-body">
                <div class="tbl">
                    <table>
                        <thead>
                        <tr>
                            <th>진료 일자</th>
                            <th>진료 병원</th>
                            <th>질환</th>
                            <th class="text-center">처방전</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.size(info.prevList)==0}">
                            <td colspan="4" style="text-align: center">데이터가 없습니다.</td>
                        </tr>
                        <tr th:class="${num.count>2?'drop_view':''}" th:if="${#lists.size(info.prevList)!=0}" th:each="list, num: ${info.prevList}">
                            <td th:text="${list.medicalDate}">2022.04.13</td>
                            <td th:text="${list.hospitalName}">2022.04.13</td>
                            <td th:text="${list.subjectName}">만성 질환</td>
                            <td class="text-center" th:onclick="prescriptionPop([[${info.idx}]], [[${list.presIdx}]], 'comp')" th:if="${list.presIdx!='0'}"><a class="check_btn">확인</a></td> <!--/* 처방전 있음 */-->
                            <td class="text-center" th:if="${list.presIdx=='0'}">-</td> <!--/* 처방전 없음 */-->
                        </tr>
                        </tbody>
                    </table>
                    <a class="view_btn more" th:if="${#lists.size(info.prevList)>2}">더보기 <i class="fa-light fa-angle-down down"></i><i class="fa-light fa-angle-up up"></i></a>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn small blue" data-dismiss="modal">확인</a>
            </div>
        </div>
    </div>
</div>

<!--/* 첨부파일 모달 시작 */-->
<div class="modal fade" id="zoom_pop" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" th:if="${#lists.size(info.fileList)!=0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">첨부파일</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <!-- Swiper -->
                <div class="swiper gall_zoom">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" th:each="file: ${info.fileList}"><img th:src="${file}"></div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn medium blue" th:href="${file}" download="">다운로드</a>
            </div>
        </div>
    </div>
</div>
<!--/* 첨부파일 모달 끝 */-->