<!--/*회원가입(병원영업시간)*/-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{hospital/layout/default}">

<!--/*현재 페이지 스크립트*/-->
<th:block layout:fragment="script">
    <script th:src="@{/js/nouislider.min.js}"></script>
    <link th:href="@{/css/nouislider.min.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/js/common.web.sign_up.js}"></script>
    <script type="text/javascript">
        $("#header").remove();
        $("#footer").remove();

        let ableWeek = ["1", "2", "3", "4", "5", "8"]; //<!--/* 선택한 요일 (디폴트 월-금/휴식) */-->
        let weekdayCheck = ["1", "2", "3", "4", "5"]; //<!--/* 월-금 */-->
        let $weekdayTime = $("[name=weekdayTime]"); //<!--/* 예약진료시간(평일) */-->
        let $weekendTime = $("[name=weekendTime]"); //<!--/* 예약진료시간(주말) */-->
        let $holidayTime = $("[name=holidayTime]"); //<!--/* 예약진료시간(일요일/공휴일) */-->
        //<!--/* db */-->
        var hourYoil = [];
        var hourStartHour = [];
        var hourEndHour = [];
        var timeYoil = [];
        var timeTimeTable = [];

        $(document).ready(function () {
            //<!--/* 페이지 에러체크 */-->
            let errMsg = "[[${errMsg}]]";
            if (errMsg != "") {
                getErrAlert(errMsg, "/hospital/login");
            }

            init(); //<!--/* 초기화 */-->

            //<!--/* DB 저장된 데이터 확인 */-->
            if (document.doctorFrm.hourSize.value !== "0") {
                console.log("update");
                var dbHours = document.querySelectorAll("#dbHour span");
                dbHours.forEach((hour)=>{
                    if(hour.id == "yoil") hourYoil.push(hour.innerText);
                    if(hour.id == "startHour") hourStartHour.push(hour.innerText);
                    if(hour.id == "endHour") hourEndHour.push(hour.innerText);
                });

                var dbTimes = document.querySelectorAll("#dbTime span");
                dbTimes.forEach((time)=>{
                    if(time.id == "yoilType") timeYoil.push(time.innerText);
                    if(time.id == "timeTable") timeTimeTable.push(time.innerText);
                });
                //<!--/* console.log(hourYoil); */-->
                //<!--/* console.log(hourStartHour); */-->
                //<!--/* console.log(hourEndHour); */-->
                //<!--/* console.log(timeYoil); */-->
                //<!--/* console.log(timeTimeTable); */-->
                for(var i=0; i<=8; i++) { //<!--/* 평일~일요일 */-->
                    //<!--/* select */-->
                    var $start_h = document.querySelector(`#start_h_${i}`);
                    var $start_m = document.querySelector(`#start_m_${i}`);
                    var $end_h = document.querySelector(`#end_h_${i}`);
                    var $end_m = document.querySelector(`#end_m_${i}`);
                    var value1, value2;

                    if(hourYoil.includes(i.toString())) { //<!--/* 데이터가 있으면 */-->
                        var key = getKeyByValue(hourYoil, i.toString()); //<!--/* 배열 키 */-->
                        value1 = hourStartHour[key]; //<!--/* 시작시간 */-->
                        value2 = hourEndHour[key]; //<!--/* 종료시간 */-->
                        document.querySelector(`#weekday_${i}`).checked = true;
                        if(i==0) eachSetYnChk();
                    }
                    if (i==8) {
                        //<!--/* 휴식 */-->
                        value1 = "[[${data.restStartHour}]]";
                        value2 = "[[${data.restEndHour}]]";
                    }

                    //<!--/* select */-->
                    if(value1 != undefined && value2 != undefined) {
                        $start_h.value = value1.slice(0,-2);
                        $start_m.value = value1.substring(value1.length-2);
                        $end_h.value = value2.slice(0,-2);
                        $end_m.value = value2.substring(value2.length-2);
                    }
                }
            }
            else {
                console.log("insert");
                //<!--/* 요일 선택하기 전까지 비활성화 / 월-금 기본 선택 */-->
                $("[name=weekday_check]").each(function() { //<!--/* 평일예약시간 */-->
                    var num = this.value;
                    if(weekdayCheck.includes(num)) { //<!--/* 월-금 */-->
                        this.checked = true;
                    }
                });
            }

            weekdayChk(); //<!--/* 요일 선택에 따른 요소 활성화/비활성화 */-->

            //<!--/* 요일 선택에 따른 요소 활성화/비활성화 */-->
            $("[name=weekday_check]").click(function() {
                if(this.id == "weekday_0")  eachSetYnChk(); //<!--/* 평일 전체 설정 (선택 시 월-금 숨김) */-->
                weekdayChk();
            });

            //<!--/* 병원영업시간 select change */-->
            $(".left select").change(function() {
                var num = this.id.split("_")[2];
                timeAutoCheck(num);
            });

            //<!--/* 예약진료시간(평일) */-->
            $weekdayTime.click(function() {
                timeTableChk("weekday")
            });

            //<!--/* 예약진료시간(주말) */-->
            $weekendTime.click(function() {
                timeTableChk("weekend")
            });

            //<!--/* 예약진료시간(일요일/공휴일) */-->
            $holidayTime.click(function() {
                timeTableChk("holiday")
            });
        });

        //<!--/* 초기화 */-->
        function init() {
            callPageLoading(1);
            $(".sod_select").addClass("disabled"); //<!--/* 영업시간 select */-->
            $("[name=weekday_check]").prop("checked", false); //<!--/* 영업시간 요일 checkbox *-->
            document.querySelector(".week_0").style.setProperty("display", "none", "important"); //<!--/* 영업시간 평일 */-->
        }

        //<!--/* 평일 전체 설정 (선택 시 월-금 숨김) */-->
        function eachSetYnChk() {
            var chk = document.querySelector("#weekday_0").checked;
            for(var a=1; a<=weekdayCheck.length; a++) {
                if (chk) {
                    document.querySelector("[name=eachSetYn]").value = "N";
                    document.querySelector(".week_0").style.setProperty("display", "flex", "important");
                    document.querySelector(`.week_${a}`).style.setProperty("display", "none", "important");
                    document.querySelector(`.week_${a} input`).checked = false;
                } else {
                    document.querySelector("[name=eachSetYn]").value = "Y";
                    document.querySelector(".week_0").style.setProperty("display", "none", "important");
                    document.querySelector(`.week_${a}`).style.setProperty("display", "flex", "important");
                    document.querySelector(`.week_${a} input`).checked = true;
                }
            }
        }

        //<!--/* 요일 선택에 따른 요소 활성화/비활성화 */-->
        function weekdayChk() {
            ableWeek = [];
            var weekdays = document.querySelectorAll("[name=weekday_check]");
            weekdays.forEach((weekday) => {
                var num = weekday.value;
                if(num != 8) { //<!--/* 휴식 제외 */-->
                    var selectHour = $(`.week_${num} .sod_select`); //<!--/* 병원영업시간 select */-->
                    var sliderHour = $(`#slider_${num}`); //<!--/* 병원영업시간 slider */-->
                    var checkboxTime = $(`.timeTab_${num} input`); //<!--/* 예약진료시간 checkbox */-->
                    if(weekday.checked) {
                        ableWeek.push(num); //<!--/* 선택한 요일 */-->
                        selectHour.removeClass("disabled");
                        sliderHour.attr("disabled", false);
                        checkboxTime.attr("disabled", false);

                        timeAutoCheck(num); //<!--/* 병원영업시간에 따른 예약 진료 시간 자동 선택 */-->
                    } else {
                        selectHour.addClass("disabled");
                        sliderHour.attr("disabled", true);
                        if(num == 6 || num == 7) {
                            checkboxTime.attr("disabled", true);
                            checkboxTime.prop("checked", false); //<!--/* 체크박스 초기화 */-->
                        }
                    }
                } else {
                    ableWeek.push("8"); //<!--/* 휴식은 무조건 포함 */-->
                }
            });

            //<!--/* 선택한 병원영업시간이 없을 때 (휴식 제외) */-->
            if(ableWeek.length == 1) {
                //<!--/* 예약진료시간 전체 초기화 */-->
                $(".tab-content input").attr("disabled", true);
                $(".tab-content input").prop("checked", false);
            }
            //<!--/* 평일/월-금 아무것도 선택안했을 때 */-->
            if(!ableWeek.includes("0") && !ableWeek.includes("1") && !ableWeek.includes("2") && !ableWeek.includes("3") && !ableWeek.includes("4") && !ableWeek.includes("5")) {
                $("#weekday_tab input").attr("disabled", true);
                $("#weekday_tab input").prop("checked", false);
            }

            setTimeout(function() {
                callPageLoading(0);
            }, 500);
        }

        //<!--/* 병원영업시간에 따른 예약 진료 시간 자동 선택 */-->
        function timeAutoCheck(num) {
            var start_h = document.querySelector(`#start_h_${num}`).value;
            var start_m = document.querySelector(`#start_m_${num}`).value;
            var end_h = document.querySelector(`#end_h_${num}`).value;
            var end_m = document.querySelector(`#end_m_${num}`).value;
            var start = Number(start_h + start_m);
            var end = Number(end_h + end_m);

            var $elemTime;
            var gubun;
            var timeKey;
            if(weekdayCheck.includes(num) || num == 0) { //<!--/* 평일/월-금 */-->
                $elemTime = $weekdayTime;
                gubun = "weekday";
                timeKey = getKeyByValue(timeYoil, '1'); //<!--/* 수정 시 사용 (저장된 데이터 표시) */-->
            }
            else if(num == 6) { //<!--/* 토 */-->
                $elemTime = $weekendTime;
                gubun = "weekend";
                timeKey = getKeyByValue(timeYoil, num); //<!--/* 수정 시 사용 (저장된 데이터 표시) */-->
            }
            else if(num == 7) { //<!--/* 일 */-->
                $elemTime = $holidayTime;
                gubun = "holiday";
                timeKey = getKeyByValue(timeYoil, num); //<!--/* 수정 시 사용 (저장된 데이터 표시) */-->
            }

            if($elemTime != undefined) {
                var dbTime = [];
                if(document.doctorFrm.hourSize.value !== "0" && timeTimeTable[timeKey] != undefined) { //<!--/* 수정 시 사용 (저장된 데이터 표시) */-->
                    dbTime = timeTimeTable[timeKey].split(",");
                }
                $elemTime.prop("checked", false);
                $elemTime.attr("disabled", true);
                $elemTime.parent("div").addClass("timeHide"); //<!--/* 진료시간 숨김 */-->
                $elemTime.each(function() {
                    var timeValue = Number(this.value);
                    if(timeValue >= start && timeValue <= end) {
                        $(this).attr("disabled", false);
                        $(this).parent("div").removeClass("timeHide"); //<!--/* 영업시간 범위 내의 진료시간 표시 */-->
                        if(document.querySelector(`#weekday_${num}`).checked) { //<!--/* 요일이 선택되어 있으면 시간 자동 선택 */-->
                            if(document.doctorFrm.hourSize.value !== "0" && dbTime.length != 0) { //<!--/* 수정 시 사용 (저장된 데이터 표시) */-->
                                if (dbTime.includes(this.value)) {
                                    this.checked = true;
                                }
                            } else {
                                this.checked = true;
                            }
                        }
                    }
                });
                timeTableChk(gubun);
            }
            $("select").selectOrDie("update"); //<!--/* selecrOrDie 플러그인 */-->
        }

        //<!--/* 병원영업시간 데이터 */-->
        function hospitalHourChk() {
            let yoil = [];
            let startHour = [];
            let endHour = [];
            //<!--/* 0: 평일 1-5: 월-금 6: 토요일 7: 일요일 8: 휴식 */-->
            for(var i=0; i<=8; i++) {
                //<!--/* 선택된 요일만 확인 */-->
                if(!ableWeek.includes(i.toString())) {
                    continue;
                }

                var start_h = document.querySelector(`#start_h_${i}`).value;
                var start_m = document.querySelector(`#start_m_${i}`).value;
                var end_h = document.querySelector(`#end_h_${i}`).value;
                var end_m = document.querySelector(`#end_m_${i}`).value;
                var start = Number(start_h + start_m);
                var end = Number(end_h + end_m);

                if(i == 8) {
                    document.querySelector("[name=restStartHour]").value = start;
                    document.querySelector("[name=restEndHour]").value = end;
                } else {
                    yoil.push(i);
                    startHour.push(start);
                    endHour.push(end);
                }
            }
            document.querySelector("[name=yoil]").value = yoil;
            document.querySelector("[name=startHour]").value = startHour;
            document.querySelector("[name=endHour]").value = endHour;
        }

        //<!--/* 예약진료시간 데이터 */-->
        function timeTableChk(target) {
            let tempTimeArr = [];
            let times = document.querySelectorAll(`[name=${target}Time]`);
            times.forEach((time) => {
                if(time.checked) {
                    var data = document.querySelector('[for='+time.id+']').textContent;
                    data = Number(data.replace(":", ""));
                    tempTimeArr.push(data);
                }
            });

            if(tempTimeArr.length !== 0 ) {
                document.querySelector(`[name=${target}TimeArr]`).value = tempTimeArr;
            }
        }

        //<!--/* 다음 */-->
        function nextForm() {
            hospitalHourChk(); //<!--/* 병원영업시간 데이터 */-->

            let flag = true;
            if(document.querySelector("[name=yoil]").value.length == 0) {
                swalMsg("병원 영업 시간을 입력해 주세요");
                flag = false;
            }

            if(!flag) return false;

            var formData = new FormData(document.doctorFrm);
            let errMsg = "오류가 발생하였습니다.";
            $.ajax({
                url: "/hospital/certify/signUpFormAction",
                data: formData,
                type: "POST",
                async: false,
                processData: false,
                contentType: false,
                success: function(response) {
                    let data = JSON.parse(response);
                    if (data.result) {
                        location.href = "/hospital/certify/signUpForm4/"+data.idx;
                    } else {
                        if (data.errMsg != "") errMsg = data.errMsg;
                        swal.fire({html: errMsg, confirmButtonText : '확인',});
                    }
                },
                error: function(xhr) {
                    console.log("[error] : ", xhr);
                    swal.fire({html: errMsg, confirmButtonText : '확인',});
                },
                complete:function(data,textStatus) {
                }
            });
        }

        //<!--/* 다중 range 라이브러리  */-->
        let sliderList = document.querySelectorAll(".slider");
        sliderList.forEach((slider) => {
            var num = slider.id.split("_")[1]; //<!--/* 요일 구분값 */-->
            var rangeStart = 540; //<!--/* 첫번째 range 초기값 08:30 */-->
            var rangeEnd = 1080; //<!--/* 두번째 range 초기값 18:00 */-->

            if(num == 0) { //<!--/* 평일 */-->
                slider.setAttribute("disabled", true); //<!--/* 비활성화 */-->
            }
            else if(num == 6 || num == 7) { //<!--/* 토 */-->
                rangeStart = 540; //<!--/* 08:30 */-->
                rangeEnd = 780; //<!--/* 13:00 */-->
                slider.setAttribute("disabled", true); //<!--/* 비활성화 */-->
            }
            else if(num == 8) { //<!--/* 휴식 */-->
                rangeStart = 750; //<!--/* 12:30 */-->
                rangeEnd = 840; //<!--/* 14:00 */-->
            }

            noUiSlider.create(slider, {
                start: [rangeStart, rangeEnd],
                step: 15, //<!--/* 15분 단위로 움직임 */-->
                connect: true, //<!--/* css 연결하는듯함, 없으면 color 없어짐 */-->
                range: {
                    'min': 0, //<!--/* 최소 00:00 */-->
                    'max': 1380 //<!--/* 최대 18:00 */-->
                }
            });

            //<!--/* 변경된 값에 대한 정보 가져옴 values: 값 / handle: 다중 선택 구분자 (index) */-->
            slider.noUiSlider.on('update', async (values, handle) => {
                //<!--/* 시작시간 */-->
                var hours1 = Math.floor(values[0] / 60);
                var minutes1 = values[0] - (hours1 * 60);
                if (minutes1 === 0) minutes1 = '00';
                //<!--/* 종료시간 */-->
                var hours2 = Math.floor(values[1] / 60);
                var minutes2 = values[1] - (hours2 * 60);
                if (minutes2 === 0) minutes2 = '00';

                if(handle === 0) {
                    document.querySelector(`[name=start_h_${num}]`).value = hours1;
                    document.querySelector(`[name=start_m_${num}]`).value = minutes1
                }
                else { //<!--/* handle === 1 */-->
                    document.querySelector(`[name=end_h_${num}]`).value = hours2;
                    document.querySelector(`[name=end_m_${num}]`).value = minutes2;
                }
            });

            slider.noUiSlider.on('end', async (values, handle) => {
                timeAutoCheck(num);
            });
        });
    </script>
</th:block>

<!--/*현재 페이지 css*/-->
<th:block layout:fragment="css">
    <style>
        .noUi-target {width:300px;}
        .timeHide {display: none !important;}
    </style>
</th:block>

<div layout:fragment="content" class="register_wrap">
    <form id="doctorFrm" name="doctorFrm">
        <input type="hidden" id="idx" name="idx" th:value="${idx}"> <!--/* 의사idx */-->
        <input type="hidden" id="hospitalIdx" name="hospitalIdx" th:value="${hospitalIdx}"> <!--/* 병원idx */-->
        <input type="hidden" name="step" value="step3">
        <input type="hidden" name="weekdayTimeArr">
        <input type="hidden" name="weekendTimeArr">
        <input type="hidden" name="holidayTimeArr">
        <input type="hidden" name="eachSetYn" value="Y"> <!--/* 진료시간_개별설정여부 (평일 선택 시 N) */-->
        <input type="hidden" name="restStartHour">
        <input type="hidden" name="restEndHour">
        <input type="hidden" name="yoil">
        <input type="hidden" name="startHour">
        <input type="hidden" name="endHour">
        <input type="hidden" name="hourSize" th:value="${data.hourSize!=null?data.hourSize:0}">
        <div class="register_bg">
            <img th:src="@{/img/hospital/logo_w.svg}" class="logo">
        </div>
        <div class="con frm">
            <div class="top_title">
                <a href="javascript:history.back();" class="ic_back"></a>
                <span class="tit">회원가입</span>
            </div>

            <div id="office_hours">
                <div class="left">
                    <h1>병원 영업 시간</h1>
                    <div class="weekdayAll_check">
                        <input type="checkbox" class="circle dot" id="weekday_0" name="weekday_check" value="0">
                        <label for="weekday_0">평일 전체 설정</label>
                        <ul class="timecheck01_wrap weekday_all">
                            <li class="week_0" style="display: none;">
                                <div class="weekday_time">
                                    <div class="work start">
                                        <select name="start_h_0" id="start_h_0" class="time_h">
                                            <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}" th:value="${num}"></option>
                                        </select>
                                        <span class="semicolon">:</span>
                                        <select name="start_m_0" id="start_m_0" class="time_m">
                                            <option value="00" selected>00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </div>
                                    <span class="hyphen">-</span>
                                    <div class="work end">
                                        <select name="end_h_0" id="end_h_0" class="time_h">
                                            <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                        </select>
                                        <span class="semicolon">:</span>
                                        <select name="end_m_0" id="end_m_0" class="time_m">
                                            <option value="00" selected>00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div id="slider_0" class="slider"></div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <ul class="timecheck01_wrap">
                        <li class="week_1">
                            <div class="weekday_check">
                                <input type="checkbox" id="weekday_1" name="weekday_check" value="1">
                                <label for="weekday_1">월</label>
                            </div>
                            <div class="weekday_time">
                                <div class="work start">
                                    <select name="start_h_1" id="start_h_1" class="time_h">
                                        <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}" th:value="${num}"></option>
                                    </select>
                                    <span class="semicolon">:</span>
                                    <select name="start_m_1" id="start_m_1" class="time_m">
                                        <option value="00" selected>00</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                    </select>
                                </div>
                                <span class="hyphen">-</span>
                                <div class="work end">
                                    <select name="end_h_1" id="end_h_1" class="time_h">
                                        <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                    </select>
                                    <span class="semicolon">:</span>
                                    <select name="end_m_1" id="end_m_1" class="time_m">
                                        <option value="00" selected>00</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <div id="slider_1" class="slider"></div>
                            </div>
                        </li>
                        <li class="week_2">
                            <div class="weekday_check">
                                <input type="checkbox" id="weekday_2" name="weekday_check" value="2">
                                <label for="weekday_2">화</label>
                            </div>
                            <div class="weekday_time">
                                <div class="work start">
                                    <select name="start_h_2" id="start_h_2" class="time_h">
                                        <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                    </select>
                                    <span class="semicolon">:</span>
                                    <select name="start_m_2" id="start_m_2" class="time_m">
                                        <option value="00" selected>00</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                    </select>
                                </div>
                                <span class="hyphen">-</span>
                                <div class="work end">
                                    <select name="end_h_2" id="end_h_2" class="time_h">
                                        <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                    </select>
                                    <span class="semicolon">:</span>
                                    <select name="end_m_2" id="end_m_2" class="time_m">
                                        <option value="00" selected>00</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                    </select>
                                </div>
                            </div>
                            <div class="">
                                <div id="slider_2" class="slider"></div>
                            </div>
                        </li>
                        <li class="week_3">
                            <div class="weekday_check">
                                <input type="checkbox" id="weekday_3" name="weekday_check" value="3">
                                <label for="weekday_3">수</label>
                            </div>
                            <div class="weekday_time">
                                <div class="work start">
                                    <select name="start_h_3" id="start_h_3" class="time_h">
                                        <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                    </select>
                                    <span class="semicolon">:</span>
                                    <select name="start_m_3" id="start_m_3" class="time_m">
                                        <option value="00" selected>00</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                    </select>
                                </div>
                                <span class="hyphen">-</span>
                                <div class="work end">
                                    <select name="end_h_3" id="end_h_3" class="time_h">
                                        <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                    </select>
                                    <span class="semicolon">:</span>
                                    <select name="end_m_3" id="end_m_3" class="time_m">
                                        <option value="00" selected>00</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                    </select>
                                </div>
                            </div>
                            <div class="">
                                <div id="slider_3" class="slider"></div>
                            </div>
                        </li>
                        <li class="week_4">
                            <div class="weekday_check">
                                <input type="checkbox" id="weekday_4" name="weekday_check" value="4">
                                <label for="weekday_4">목</label>
                            </div>
                            <div class="weekday_time">
                                <div class="work start">
                                    <select name="start_h_4" id="start_h_4" class="time_h">
                                        <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                    </select>
                                    <span class="semicolon">:</span>
                                    <select name="start_m_4" id="start_m_4" class="time_m">
                                        <option value="00" selected>00</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                    </select>
                                </div>
                                <span class="hyphen">-</span>
                                <div class="work end">
                                    <select name="end_h_4" id="end_h_4" class="time_h">
                                        <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                    </select>
                                    <span class="semicolon">:</span>
                                    <select name="end_m_4" id="end_m_4" class="time_m">
                                        <option value="00" selected>00</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                    </select>
                                </div>
                            </div>
                            <div class="">
                                <div id="slider_4" class="slider"></div>
                            </div>
                        </li>
                        <li class="week_5">
                            <div class="weekday_check">
                                <input type="checkbox" id="weekday_5" name="weekday_check" value="5">
                                <label for="weekday_5">금</label>
                            </div>
                            <div class="weekday_time">
                                <div class="work start">
                                    <select name="start_h_5" id="start_h_5" class="time_h">
                                        <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                    </select>
                                    <span class="semicolon">:</span>
                                    <select name="start_m_5" id="start_m_5" class="time_m">
                                        <option value="00" selected>00</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                    </select>
                                </div>
                                <span class="hyphen">-</span>
                                <div class="work end">
                                    <select name="end_h_5" id="end_h_5" class="time_h">
                                        <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                    </select>
                                    <span class="semicolon">:</span>
                                    <select name="end_m_5" id="end_m_5" class="time_m">
                                        <option value="00" selected>00</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                    </select>
                                </div>
                            </div>
                            <div class="">
                                <div id="slider_5" class="slider"></div>
                            </div>
                        </li>
                        <li class="week_6">
                            <div class="weekday_check">
                                <input type="checkbox" id="weekday_6" name="weekday_check" value="6">
                                <label for="weekday_6">토</label>
                            </div>
                            <div class="weekday_time">
                                <div class="work start">
                                    <select name="start_h_6" id="start_h_6" class="time_h">
                                        <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                    </select>
                                    <span class="semicolon">:</span>
                                    <select name="start_m_6" id="start_m_6" class="time_m">
                                        <option value="00" selected>00</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                    </select>
                                </div>
                                <span class="hyphen">-</span>
                                <div class="work end">
                                    <select name="end_h_6" id="end_h_6" class="time_h">
                                        <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                    </select>
                                    <span class="semicolon">:</span>
                                    <select name="end_m_6" id="end_m_6" class="time_m">
                                        <option value="00" selected>00</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                    </select>
                                </div>
                            </div>
                            <div class="">
                                <div id="slider_6" class="slider"></div>
                            </div>
                        </li>
                        <li class="week_7">
                            <div class="weekday_check">
                                <input type="checkbox" id="weekday_7" name="weekday_check" value="7">
                                <label for="weekday_7">일</label>
                            </div>
                            <div class="weekday_time">
                                <div class="work start">
                                    <select name="start_h_7" id="start_h_7" class="time_h">
                                        <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                    </select>
                                    <span class="semicolon">:</span>
                                    <select name="start_m_7" id="start_m_7" class="time_m">
                                        <option value="00" selected>00</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                    </select>
                                </div>
                                <span class="hyphen">-</span>
                                <div class="work end">
                                    <select name="end_h_7" id="end_h_7" class="time_h">
                                        <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                    </select>
                                    <span class="semicolon">:</span>
                                    <select name="end_m_7" id="end_m_7" class="time_m">
                                        <option value="00" selected>00</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                    </select>
                                </div>
                            </div>
                            <div class="">
                                <div id="slider_7" class="slider"></div>
                            </div>
                        </li>
                    </ul>

                    <div class="rest">
                        <div class="weekday_check">
                            <input type="checkbox" id="weekday_8" name="weekday_check" value="8">
                            <label for="weekday_8">휴식</label>
                        </div>
                        <div class="weekday_time">
                            <div class="work start">
                                <select name="start_h_8" id="start_h_8" class="time_h">
                                    <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                </select>
                                <span class="semicolon">:</span>
                                <select name="start_m_8" id="start_m_8" class="time_m">
                                    <option value="00" selected>00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                            </div>
                            <span class="hyphen">-</span>
                            <div class="work end">
                                <select name="end_h_8" id="end_h_8" class="time_h">
                                    <option th:each="num : ${#numbers.sequence(0,23)}" th:text="${num}"></option>
                                </select>
                                <span class="semicolon">:</span>
                                <select name="end_m_8" id="end_m_8" class="time_m">
                                    <option value="00" selected>00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                            </div>
                        </div>
                        <div class="">
                            <div id="slider_8" class="slider"></div>
                        </div>
                    </div>

                </div>
                <div class="right">
                    <h1>예약 진료 시간</h1>

                    <div role="tabpanel" id="rev_time">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#weekday_tab" aria-controls="weekday_tab" role="tab" data-toggle="tab">평일 예약</a></li>
                            <li role="presentation"><a href="#weekend_tab" aria-controls="weekend_tab" role="tab" data-toggle="tab">주말 예약</a></li>
                            <li role="presentation"><a href="#holiday_tab" aria-controls="holiday_tab" role="tab" data-toggle="tab">일요일/공휴일</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active timeTab_0 timeTab_1 timeTab_2 timeTab_4 timeTab_4 timeTab_5" id="weekday_tab">
                                <div class="time_am">
                                    <div class="time_check" th:each="time, i : ${medicalTimeList}" th:if="${time.key < 1200}">
                                        <input type="checkbox" th:id="|time01_${i.index}|" name="weekdayTime" th:value="${time.key}">
                                        <label th:for="|time01_${i.index}|" th:text="${time.value}">08:00</label>
                                    </div>
                                </div>
                                <div class="time_pm">
                                    <div class="time_check" th:each="time, i : ${medicalTimeList}" th:if="${time.key >= 1200}">
                                        <input type="checkbox" th:id="|time01_${i.index}|" name="weekdayTime" th:value="${time.key}">
                                        <label th:for="|time01_${i.index}|" th:text="${time.value}">08:00</label>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane timeTab_6" id="weekend_tab">
                                <div class="time_am">
                                    <div class="time_check" th:each="time, i : ${medicalTimeList}" th:if="${time.key < 1200}">
                                        <input type="checkbox" th:id="|time02_${i.index}|" name="weekendTime" th:value="${time.key}">
                                        <label th:for="|time02_${i.index}|" th:text="${time.value}">08:00</label>
                                    </div>
                                </div>
                                <div class="time_pm">
                                    <div class="time_check" th:each="time, i : ${medicalTimeList}" th:if="${time.key >= 1200}">
                                        <input type="checkbox" th:id="|time02_${i.index}|" name="weekendTime" th:value="${time.key}">
                                        <label th:for="|time02_${i.index}|" th:text="${time.value}">08:00</label>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane timeTab_7" id="holiday_tab">
                                <div class="time_am">
                                    <div class="time_check" th:each="time, i : ${medicalTimeList}" th:if="${time.key < 1200}">
                                        <input type="checkbox" th:id="|time03_${i.index}|" name="holidayTime" th:value="${time.key}">
                                        <label th:for="|time03_${i.index}|" th:text="${time.value}">08:00</label>
                                    </div>
                                </div>
                                <div class="time_pm">
                                    <div class="time_check" th:each="time, i : ${medicalTimeList}" th:if="${time.key >= 1200}">
                                        <input type="checkbox" th:id="|time03_${i.index}|" name="holidayTime" th:value="${time.key}">
                                        <label th:for="|time03_${i.index}|" th:text="${time.value}">08:00</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn_wrap">
                <a th:href="|/hospital/certify/signUpForm2/${idx}|" class="btn small02 blueline">이전</a>
                <a onclick="nextForm()" class="btn small02 blue">다음</a>
            </div>
        </div>
    </form>

    <th:block>
    <div style="display: none" id="dbHour">
        <div th:each="hour, i : ${data.hospitalHour}">
            <span id="yoil" th:text="${hour.yoil}"></span>
            <span id="startHour" th:text="${hour.start_hour}"></span>
            <span id="endHour" th:text="${hour.end_hour}"></span>
        </div>
    </div>
    <div style="display: none" id="dbTime">
        <div th:each="time, i : ${data.hospitalAppointment}">
            <span id="yoilType" th:text="${time.yoil_type}"></span>
            <span id="timeTable" th:text="${time.time_table}"></span>
        </div>
    </div>
    </th:block>
</div>

<!--/*푸터는 개별 적용한 상태, 페이지마다 하단 내용이 달라서*/-->
<footer layout:fragment="footer" id="footer">
    <!--/*footer 내용*/-->
</footer>

</html>