<!--/*의사-원격진료-진료내역리스트(ajax)*/-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div class="tbl">
    <div class="tbl_top">
        <ul class="total">
            <li>진료 완료 <strong class="gray" th:text="${listCnt.listTotalCnt}">+999</strong></li>
            <li>총 청구 금액 <strong class="green" th:text="|${#numbers.formatInteger(listCnt.totalBillAmt, 0, 'COMMA')}원|">총 청구 금액</strong></li>
            <li>비급여액 <strong class="red" th:text="|${#numbers.formatInteger(listCnt.nonReimbBillAmt, 0, 'COMMA')}원|">20,000원</strong></li>
            <li>환자 부담금 <strong class="blue" th:text="|${#numbers.formatInteger(listCnt.patientBillAmt, 0, 'COMMA')}원|">20,000원</strong></li>
        </ul>
        <div class="dropdown">
            <select id="limitFilter" onchange="limitFilter(this);">
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th>No.</th>
            <th>접수번호</th>
            <th>진료 신청일</th>
            <th>진료 완료일</th>
            <th>환자 이름</th>
            <th>연락처</th>
            <th class="text-center">주민등록 번호</th>
            <th class="text-center">참고 내용</th>
            <th class="text-center">진료실</th>
            <th class="text-center">처방전</th>
            <th class="text-center">비급여액</th>
            <th class="text-center">환자 부담금</th>
            <th class="text-center">총 청구 금액</th>
            <th class="text-center">상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.size(listData)==0}">
            <td colspan="14" style="text-align: center;">데이터가 없습니다.</td>
        </tr>
        <tr th:if="${#lists.size(listData)!=0}" th:each="list, index: ${listData}" th:with="listNo=${paging.listNo}">
            <td th:text="${listNo - (index.index)}" th:data-idx="${index.index}">1</td>
            <th th:text="${#strings.defaultString(list.rcptNo, '-')}">C220401A01234</th>
            <td th:text="${list.regdate}">2022.04.15 00:00:00</td>
            <td th:text="${list.compDate}">2022.04.15 00:00:00</td>
            <td th:text="${list.patientName}">홍길동</td>
            <td th:text="${list.patientHp}">010-9876-5432</td>
            <td th:text="${list.patientRrNo}" class="text-center">770805-1******</td>
            <td class="text-center"><a class="check_btn" th:onclick="patientPop([[${list.idx}]])">확인</a></td> <!--/* 참고내용 - 환자정보*/-->
            <td class="text-center"><a class="btn small green" th:href="|./remoteTreat/${list.idx}|">입장</a></td>
            <td class="text-center"><a class="btn small blue" th:onclick="prescriptionPop([[${list.idx}]], [[${list.presIdx}]], 'comp')">확인</a></td>
            <td th:text="|${#numbers.formatInteger(list.nonReimbBillAmt, 0, 'COMMA')}원|" class="text-right">10,000원</td>
            <td th:text="|${#numbers.formatInteger(list.patientBillAmt, 0, 'COMMA')}원|" class="text-right">190,000원</td>
            <td class="text-right"><span class="color_blue" th:text="${#numbers.formatInteger(list.totalBillAmt, 0, 'COMMA')}">200,000</span>원</td>
            <td class="text-center"><span th:text="${list.treatStatus}" th:class="${list.treatStatus=='정산대기'?'color_blue':''}">정산완료</span></td>
        </tr>
        </tbody>
    </table>
</div>

<!--/* 페이징 START */-->
<div th:replace="app/fragments/paging :: pagingFragment"></div>
<!--/* 페이징 END */-->

</html>