/* 초기화 */
html {position: relative; overflow-y:auto;}
body {position: relative; margin:0 auto;padding:0 !important;font-size:13px; letter-spacing:0; line-height:1.6em; color:#343434; background:#FAFAFA;
	font-family: 'Noto Sans KR', sans-serif; font-weight:300; word-break:keep-all;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
ul, dl {margin:0;padding:0;list-style:none}
dl dt{font-weight: 500;}
legend {position:absolute;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select {border-radius:4px;}
label, input, button, select, img {vertical-align:middle; outline:none; }
label{margin: 0;}
input:focus,
button:focus {outline:none;}
input, button {margin:0;padding:0;font-size:1em;outline:none;}
button {cursor:pointer;}
input[type=text], input[type=password], input[type=submit], input[type=image], button {border-radius:4px;font-size:1em;-webkit-appearance:none}
textarea, select {font-size:1em;} 
textarea {border-radius:0;-webkit-appearance:none}
select {margin:0; border-radius:4px;}
p {margin:0;padding:0;word-break:keep-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a, a:link, a:visited {text-decoration:none; color: #343434}
a:hover, a:focus, a:active {text-decoration:none; color:;}

/*loading*/
#loading{content: ""; display: block; width: 100%; height: 100vh; background-color: rgba(255,255,255,0.7); position: fixed; left: 0; top: 0; z-index: 9999;}
#loading .box_wrap{position: fixed; top: 45%; left: 50%; transform: translate(-50%,-50%); display: block; text-align: center; width: 70px; height: 70px;}
#loading .box{display:block; background-color: #fff; width: 70px; height: 70px; border-radius:70px; position: relative;}
#loading img{width:30px; height: auto;	margin-top: 10px;}
#loading p{font-size: 0.8em; line-height: 1em; font-weight: 500; color: #666;}

#loading .box{
    box-shadow: 1px 1px 0 rgba(0,0,0,0.2), -1px -1px 0 rgba(0,0,0,0.2);
    width: 100%;
    animation: scale 1s infinite ease-in-out;
    animation-direction: alternate;
}
@keyframes scale {
    0%   { transform: scale(0.9) }
    100%  { transform: scale(1) }
}


/*버튼디자인*/
a.btn,
.btn{ padding: 0 10px; display:inline-block; line-height: 28px; height: 30px; border-radius:4px; text-align: center; box-sizing: border-box;
	background-color: #45A6EA; color: #fff; border: 0;}

a.btn_shadow,
.btn_shadow{box-shadow: 0 1px 1px #00000059;}

/*버튼사이즈*/
a.large,
.large{ display:block; width: 100%; /*max-width: 315px;*/ margin: 0 auto 10px auto;}
a.medium,
.medium{ display:block; max-width: 215px; margin: 0 auto 10px auto;}
a.small,
.small{ display:inline-block; width: 95px; margin:10px 3px;}

/*버튼색상*/
a.grayline,
.grayline{background: #ffffff; color: #666666; border: 1px solid #C4C4C4;}
a.gray,
.gray{ border: 0; background-color: #C4C4C4;}

a.blueline,
.blueline{background-color: #FFFFFF;
	border: 1px solid #45A6EA; color: #45A6EA;}
a.blue,
.blue{background-color: #45A6EA;
	  border:0; color: #ffffff;}

a.red,
.red{border: 0; background-color: #F26563;}
a.redline,
.redline{border:1px solid #F26563; background-color: #fff; color: #F26563;}

a.green,
.green{ border: 0; background-color: #27D1AA; }

a.black,
.black{ display: inline-block; background: #343434; color: #fff; font-size: 0.9em; line-height: 1.4em; height: auto; padding: 1px 8px; border-radius:40px;}

.btn.off{ background: #F2F2F2; color: #C4C4C4; }
a.add_btn{ color: #666666; font-size: 0.9em; text-decoration: underline; display: inline-block;}

/*이미지추가-미리보기삭제버튼*/
.add_file button.del{position: absolute; right: 2px; top: 2px;
    background-color: #343434; color: #fff; width: 20px; height: 20px; border-radius:4px; border: 0;}

/*글자색상*/
a.color_blue,
.color_blue{display: inline-block; color: #45A6EA;}
a.color_red,
.color_red{display: inline-block; color: #F26563 ;}
a.color_green,
.color_green{display: inline-block; color: #27D1AA;}
a.color_gray,
.color_gray{display: inline-block; color: #C4C4C4;}

/*인풋폼*/
select,
input{ width: 100%; line-height: 1.4em; border: 1px solid #C4C4C4; color: #666666;
	   margin: 10px auto; padding: 13px 10px; box-sizing: border-box;}
input::placeholder{ color: #C4C4C4;}
input.read{background: #F2F2F2 0 0 no-repeat padding-box; color: #C4C4C4; border: 0;}
input[type=text]{ width: 100%; line-height: 1.4em; border: 1px solid #C4C4C4; color: #666666;
				margin: 10px auto; padding: 13px 10px; box-sizing: border-box;}
input[type=text]::placeholder{ color: #C4C4C4;}
input[type=password]{ color: #666666;}
input[type=password].on{ background:url("../img/app/password_hide_on.svg") no-repeat 99% 50%}
input[type=password]::placeholder{ background:url("../img/app/password_hide.svg") no-repeat 99% 50%}

input[type=button].select{ text-align: left; background:url("../img/app/select_arrow.svg") no-repeat #fff 95% 50%/10px auto;}

input[type=time]{appearance: none; -webkit-appearance: none; -moz-appearance: none; position: relative;}
input[type=time]::-ms-expand {display : none ;}
/*input[type=time]:after{font-family: "Font Awesome 5 Pro";content: "\f107";font-weight:900;position:absolute;top:50%; right:15px; transform:translateY(-50%);}*/

select{appearance: none; -webkit-appearance: none; -moz-appearance: none; position: relative; background:url("../img/app/select_arrow.svg") no-repeat #fff 95% 50%/10px auto;}

textarea{border: 1px solid #C4C4C4; border-radius: 4px; width: 100%; padding: 10px; min-height: 110px;}
label{ color: #666666; font-weight: 400;}

.fa-hyphen{margin: 0 5px;}

.error input{border: 1px solid #F26563; color: #F26563; margin-bottom: 2px; }
.error input::placeholder{ color: #F26563;}
.error span.msg{ font-size: 0.9em; color:  #F26563; padding-left: 5px;}

.pass input{margin-bottom: 2px;}
.pass span.msg{ font-size: 0.9em; color:  #45A6EA; padding-left: 5px;}

/*체크박스*/
input[type=checkbox] { display: none; }
input[type=checkbox] + label { cursor: pointer; margin:5px 0; font-size:1em; }
input[type=checkbox] + label > div {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: white;
    box-sizing: border-box;
    width: 14px; height: 14px;
    margin-top: -4px;
    border: 1px solid #C4C4C4;
    border-radius:4px;
	margin-right:5px;
	position:relative;
}
input[type=checkbox]:checked + label > div{
	background:#45A6EA;
	border:0;
}
input[type=checkbox]:checked + label > div:before {
	font-family: "Font Awesome 5 Pro";
    color: #fff;
    content: "\f00c";
	position:absolute;
	top:50%; left:50%; transform:translate(-50%,-50%);
	font-weight:400;
	font-size: 11px;
}
input[type=checkbox] + label:hover > div { border-width: 2px; }

/*라운드 라디오버튼*/
input[type=checkbox].circle + label > div {
	border-radius:50%;
}

/*라디오버튼*/
input[type=radio] { display: none; }
input[type=radio] + label { cursor: pointer; margin:5px 0; font-weight:normal; display:inline-block !important; margin-right:5px; }
input[type=radio] + label > div {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: white;
    box-sizing: border-box;
    width: 12px; height: 12px;
    margin-top: -4px;
    border: 1px solid #45A6EA;
	border-radius:50%;
	margin-right:5px;
	position:relative;
}
input[type=radio]:checked + label > div{
}
input[type=radio]:checked + label > div:before {
    content: "";
	position:absolute;
	top:50%; left:50%; transform:translate(-50%,-50%);
	width: 6px; height: 6px;
	border-radius:50%; 
	display: block;
	background:#45A6EA;
}


/*기본모달*/
/*하단모달*/
.modal-backdrop{}
.modal-backdrop.in{opacity:.7;}
.modal-content{box-shadow:none; -webkit-box-shadow:none; border:0; padding:0;}

.modal-dialog{margin:0; position:fixed; bottom:-0px; width:100%; }
.modal-content{border-radius:8px 8px 0 0; padding: 30px; }
.modal-body{padding:0;}
.modal-body ul{text-align: center; margin-bottom: 20px;}
.modal-body li{padding: 5px 0; font-size: 1.1em; color: #666;}
.modal-body li:last-child{ color: #C4C4C4;}
.modal-footer{padding:0;}


.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, 25%);
      -ms-transform: translate(0, 25%);
       -o-transform: translate(0, 25%);
          transform: translate(0, 25%);
}
.modal.fade.in .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -0%);
      -ms-transform: translate(0, -0%);
       -o-transform: translate(0, -0%);
          transform: translate(0, -0%);
}


/*셀렉트박스-드롭다운*/
.dropdown-menu{box-shadow: 0 3px 6px #00000029; border-radius: 4px; border: 0; min-width: 100%; overflow: hidden; margin-top: -5px; z-index: 50;}
.dropdown-menu li{ padding: 10px; height: 40px;}
.dropdown-menu li:hover,
.dropdown-menu li:focus{ background: #45A6EA; color: #fff;}

/*갤러리모달*/
#gall_zoom .modal-dialog{ bottom: 50%; transform: translateY(50%);}
#gall_zoom .modal-content{ background-color: transparent;}
#gall_zoom .swiper-slide{ background: #fff}
#gall_zoom .swiper-slide img{width: 100%; border-radius: 0;}

/*alert디자인(사용안함)*/
.swal-modal{ width: calc(100% - 100px);}
.swal-text{ font-size: 14px; color: #343434; text-align: center;}
.swal-button-container{display: block;}
.swal-button,
.swal-button:not([disabled]):hover{ width: 100%; padding: 0 24px; line-height: 30px; height: 30px; 
			background: #45A6EA; color: #fff; border-radius:4px; font-weight: 400; }
.swal-footer{display: flex; justify-content: space-between; align-items: center;}
.swal-button-container{width: 100%;}
.swal-button-container:first-child .swal-button{ background:#C4C4C4;}
.swal-button-container:last-child .swal-button{ background: #45A6EA;}

/*alert디자인2(사용중)*/
.swal2-popup{max-width: 300px; width: calc(100% - 80px); min-width: 280px; font-size: 13px; padding:35px;}
.swal2-title{font-size: 1.15em; margin-bottom: 10px;}
.swal2-html-container{font-size: 1em; margin: 0; word-break: keep-all;}
.swal2-actions{width: 100%; margin-top:20px; flex-wrap:nowrap;flex-direction: row-reverse;}

.swal2-actions button{width: 100%; border-radius:4px; font-weight: 400;
					  line-height: 30px; height: 30px; padding: 0; border:0; margin:0 2px;}

.swal2-actions button:hover,
.swal2-actions button:focus{
    outline: none !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.swal2-styled.swal2-confirm{background: #45A6EA; color: #fff; border-radius:4px;}
.swal2-styled.swal2-deny{background:#C4C4C4; color: #fff; border-radius:4px;}

.swal2-actions:not(.swal2-loading) .swal2-styled{opacity: 0.9;}
.swal2-actions:not(.swal2-loading) .swal2-styled:hover{background-image: none; opacity: 1;}

/*공통*/
.bgw{background-color: #fff;}
.ast{line-height: 1.2em; font-size: 0.9em;}
.ast:before{ content: "*"; display: inline-block; font-size: 2em; margin-left: -10px; vertical-align: -webkit-baseline-middle; }

/*리스트없음*/
.empty{ padding: 20% 0!important; text-align: center; background-color: transparent!important; display: block!important;}
.empty svg{ background-repeat: no-repeat; background-position: 50%;}
.empty h4{ font-size: 1.5em; font-weight: 600; color: #45A6EA; margin-bottom: 10px; line-height: 1.4em;}
.empty span{ color: #C4C4C4; font-size: 1.1em; font-weight: 200;}

/*상세숨기기*/
.view_btn{}
.drop_view{ width: 100%; display: none;}

/*남자여자 아이콘*/
.gender{ width: 50px; height: 50px; border-radius:50%; text-align: center; padding: 6px 0; margin-right: 5px}
.gender.woman{border: 2px solid #F26563;}
.gender.man{border: 2px solid #45A6EA;}

/*스와이퍼 좌우버튼*/
.swiper-button-next,
.swiper-button-prev{top:50%; background:RGBA(52, 52, 52, 0.1); width: 30px; height: 30px;}
.swiper-button-next:after,
.swiper-button-prev:after{ color: #fff; font-size: 1.3em;}
.swiper-button-prev, .swiper-rtl .swiper-button-next{left: 0;}
.swiper-button-next, .swiper-rtl .swiper-button-prev{right: 0;}

/*스와이퍼 슬라이드 탭메뉴*/
.swiper-container-1{padding: 0 30px; background-color: #fff;}
.swiper-container-1 .tabs{ }
.swiper-container-1 .tabs li a{ display:block; text-align: center; padding: 9px 0; filter: grayscale(100%); opacity: 0.5; font-size: 1.1em;}
.swiper-container-1 .tabs li.active a{ border-bottom: 2px solid #343434; color: #343434; filter: grayscale(0%); opacity: 1; font-weight: 500;}
.swiper-container-1 .tabs i{display: inline-block; font-style: normal; color: #fff; background-color:#45A6EA ;
    font-size: 0.85em; border-radius: 15px; padding: 1px 8px; line-height: 1.2em; margin-left: 5px;}
.swiper-container-2{ }
.swiper-container-2 .swiper-slide{padding: 30px; height: calc(100vh - 220px); overflow-y: auto; overflow-x: hidden;}

/*토글버튼*/
.setting label.control > div{ display: none;}
.setting input[type="checkbox"] { border:0;box-shadow: inset 1px 1px 2px #00000033;
    width: 44px; height: 21px; display: inline-block; -webkit-appearance: none; background-color: #C4C4C4; border-radius: 50px;
    position:relative; transition: all .3s ease; cursor:pointer; outline: none;}
.setting input[type="checkbox"]:after {content:''; display:inline-block; width:15px; height:15px; background-color:#fff; border-radius: 50px;
    position: absolute; top: 50%; left: 3px;  transform: translateY(-50%); transition: all .3s ease;}

.setting input:checked[type="checkbox"] {background-color:#45A6EA; transition: all .3s ease;}
.setting input:checked[type="checkbox"]:after {left: 26px; transition: all .3s ease;}
.setting ul.alert_switch li label {position: absolute; font-size:0; width:1px; height:1px; opacity:0;} /* soundonly */

/*인트로페이지*/
#intro{height: 100vh; position: relative}
#intro .text{padding: 25vh 0; text-align: center; color: #45A6EA; font-size: 1.4em; line-height: 1.6em;}
#intro .btn_box{position:fixed; bottom: 60px; left: 50%; transform: translateX(-50%); width: calc(100% - 60px); max-width: 600px; box-sizing: border-box;}

#intro .btn_box .btn{line-height: 40px; height: 40px; margin-bottom: 12px;}
#intro .btn_box .ne{ background:url("../img/app/sns_naver.png") #2DB400 no-repeat 10px 50%/auto 20px;}
#intro .btn_box .ka{ background:url("../img/app/sns_kakao.png") #FFD900 no-repeat 10px 50%/auto 20px; color: #343434;}
#intro .btn_box .mail{ background: url("../img/app/login_mail.svg") #45A6EA no-repeat 11px 50%/auto 13px;}