/*(공통)회원가입, 원격진료 신청 - 약관동의*/
#agree{padding: 20px 0;}
#agree .text{font-size: 1.5em; font-weight: 600; line-height: 1.8em; color: #45A6EA; margin-bottom: 10px;}
#agree .btn_box{margin-bottom: 30px;}
#agree .btn i{opacity:0.8; display: inline-block; margin-right: 5px;}
#agree dl dt{display: flex; justify-content: space-between; align-items: center;}
#agree dl dt label{font-weight: 400;}
#agree dl dt label strong{ color: #27D1AA; font-weight: 400;}
#agree dl dt label span{ color: #C4C4C4;}

#agree dl dd{ padding: 10px 0;}
#agree input[type=button].btn-agr{ background:url("../img/common/arrow_off.svg") no-repeat #fff 50%; 
										border: 0; padding:0; margin: 0; width:20px; height: 30px;}
#agree input[type=button].btn-agr.on{ background:url("../img/common/arrow_on.svg") no-repeat #fff 50% ;} 
#agree .agr_textarea{display: none;}



/*인트로페이지*/
#intro{height: 100vh; position: relative}
#intro .text{padding: 25vh 0px; text-align: center; color: #45A6EA; font-size: 1.4em; line-height: 1.6em;}
#intro .btn_box{position:fixed; bottom: 60px; left: 50%; transform: translateX(-50%); width: calc(100% - 60px); max-width: 600px; box-sizing: border-box;}

#intro .btn_box .ne{ background:url("../img/common/sns_naver.png") #2DB400 no-repeat 10px 50%/auto 20px;}
#intro .btn_box .ka{ background:url("../img/common/sns_kakao.png") #FFD900 no-repeat 10px 50%/auto 20px; color: #343434;}

/*로그인*/
#login{ padding: 10vh 0; position: relative;}
#login p{margin-bottom: 30px; color: #666666;}
#login .find{text-align: center; margin-top: 20px;}
#login .find a{display: inline-block;}
#login .find a:after{content: ""; display: inline-block; width: 1px; height: 12px; background:#DDDDDD; margin: 0 15px; vertical-align: middle;}
#login .find a:last-child:after{display: none;}
p.email{ text-align: center;}

/*본인인증*/
#certify{text-align: center; margin-top: 50px;}
#certify .text .icon{border: 2px dashed #343434; border-radius:50%; width:120px; height: 120px; padding: 10px; box-sizing: border-box; margin: 0px auto 20px auto; }
#certify .text p{ font-size: 1.5em; color: #45A6EA; font-weight: 600; margin: 0px auto 10px auto;}
#certify .text span{}
#certify .btn{margin-top:50px; }

p.msg{color: #F26563; line-height: 1.4em; padding-left: 40px;}
p.msg:before{content: "*"; display: inline-block; vertical-align: middle; margin-left: -10px; width: 10px; text-align: center; font-size: 1.1em;}

/*아이디찾기-완료*/
#fint_id {margin-top: 50px;}
#fint_id .text{margin-bottom: 40px;}
#fint_id .text p strong{font-size: 1.4em; color: #45A6EA; display: block; line-height: 1.8em;}
#fint_id .text p{margin-bottom: 20px;}
#fint_id .result{text-align: center; padding: 20px 0;}

/*밀번호 찾기*/
#find_pw{margin-top: 50px;}
#find_pw .frm{display: flex; justify-content: space-between; align-items: center;}
#find_pw .frm input{min-width: 100px;}
#find_pw .frm span{display: inline-block; margin: 0 5px;}

/*비밀번호 재설정*/
#pw_reset {margin-top: 50px;}
#pw_reset .frm li{margin-bottom: 30px;}
#pw_reset .frm label{font-size: 1.05em; font-weight: 400; color: #666666; padding-left: 10px;}
#pw_reset .frm input{margin: 5px 0;}

/*회원가입*/
#join{padding: 30px 0;}
#join .info{margin-bottom: 60px;}
#join .info .title{ font-weight: 400; font-size: 1.1em; color: #666666; margin-bottom: 8px; padding: 0 10px;}
#join .info li{ display: flex; justify-content: space-between; align-items: center; background: #F2F2F2 ; 
				font-size: 1.1em; line-height: 27px; padding: 10px; margin-bottom: 5px;}
#join .info li p{color: #666666;}
#join .info li span{color: #C4C4C4;}
#join .frm li{margin-bottom: 10px;}
#join .frm li.email p{display: flex; justify-content: space-between; align-items: center;}
#join .frm li.email p span{display: inline-block; margin: 0 5px;}
#join .frm input{min-width: 100px;}


/*회원가입 - 완료*/
#join_result{margin-top: 80px;}
#join_result strong{ font-size: 1.6em; color: #45A6EA; display: block; margin-bottom: 10px;}
#join_result p{ margin-bottom: 25px; font-size: 1.1em; color: #343434;}
#join_result span{ font-size: 1.1em; color: #666666;}
