/**초기화**/
html {overflow-y: scroll;}
body {margin: 0; padding: 0 !important;	font-size: 13px;	letter-spacing: 0;	line-height: 1.6em;	color: #343434;	background: #FAFAFA;
	font-family: 'Noto Sans KR', sans-serif;	font-weight: 300;	word-break: keep-all;	margin: 0 auto;}
html,h1,h2,h3,h4,h5,h6,form,fieldset,img {	margin: 0;	padding: 0;	border: 0}
h1,h2,h3,h4,h5,h6 {	font-size: 1em}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {	display: block}
ul,dl {	margin: 0;	padding: 0;	list-style: none}
dl dt{font-weight: 500;}
legend {position: absolute;	font-size: 0;	line-height: 0;	text-indent: -9999em;	overflow: hidden}
label,input,button,select,img {	vertical-align: middle;	outline: none;	border-radius: 4px;}
label {	margin: 0;}
input:focus,
button:focus {outline: none;}
input,button {margin: 0;	padding: 0;	font-size: 1em;	outline: none;}
button {cursor: pointer;}

input[type=text],
input[type=password],
input[type=submit],
input[type=image],
button {-webkit-appearance: none}
textarea,
select {font-size: 1em;}
textarea {border-radius: 0;	-webkit-appearance: none}
textarea:focus {outline: none;}
select {margin: 0;	border-radius: 4px;}
p {	margin: 0;	padding: 0;	word-break: keep-all}
hr {display: none}
pre {overflow-x: scroll;	font-size: 1.1em}
a,
a:link,
a:visited {	text-decoration: none;	color: #343434; cursor: pointer;}
a:hover,
a:focus,
a:active {	text-decoration: none;	color: #45A6EA;}

/**공통**/
.flex{display: flex;}
.jsb{justify-content: space-between !important; align-items: center;}
.ais{align-items: flex-start !important;;}
.hyphen {padding: 0 4px;font-size: 14px;line-height: 20px;display: inline-block;}
.bgw {background-color: #fff;}
.ast{ font-size: 0.85em; line-height: 1.2em; padding: 10px;}
.ast:before {content: "*";display: inline-block;font-size: 2em;margin-left: -10px;vertical-align: middle;}
.ic_back {width: 30px;height: 30px;background: url("../img/hospital/ic_left.svg") no-repeat center;margin: 0 17px 0 0;}
.count{ float: right; font-size: 0.8em; opacity: 0.5; margin-top: -30px; padding: 0 10px;}

/*loading*/
#loading{content: ""; display: block; width: 100%; height: 100vh; background-color: rgba(255,255,255,0.7); position: fixed; left: 0; top: 0; z-index: 9999;}
#loading .box_wrap{position: fixed; top: 45%; left: 50%; transform: translate(-50%,-50%); display: block; text-align: center; width: 70px; height: 70px;}
#loading .box{display:block; background-color: #fff; width: 70px; height: 70px; border-radius:70px; position: relative;}
#loading img{width:30px; height: auto;	margin-top: 10px;}
#loading p{font-size: 0.8em; line-height: 1em; font-weight: 500; color: #666;}

#loading .box{
	box-shadow: 1px 1px 0 rgba(0,0,0,0.2), -1px -1px 0 rgba(0,0,0,0.2);
	width: 100%;
	animation: scale 1s infinite ease-in-out;
	animation-direction: alternate;
}
@keyframes scale {
	0%   { transform: scale(0.9) }
	100%  { transform: scale(1) }
}

/*버튼디자인*/
a.btn,
.btn {
	padding: 0 10px;	display: inline-block;	line-height: 28px;	height: 30px;	border-radius: 4px;	text-align: center;	box-sizing: border-box;
	background: #45A6EA 0% 0% no-repeat padding-box;	color: #fff;	border: 0;
}

a.btn_shadow,
.btn_shadow {
	box-shadow: 0px 1px 1px #00000059;
}

/*버튼사이즈*/
a.large,
.large {display: block;	width: 100%; max-width: 315px; margin: 0 auto 10px auto;}
a.medium,
.medium {display: block; max-width: 215px; margin: 0 auto 10px auto; font-size: 0.9em;}
a.small,
.small {display: inline-block; max-width:95px; width: 95px; margin: 10px 3px; font-size: 0.9em;}
a.small02,
.small02 {display: inline-block; max-width:95px; width: 95px; line-height: 40px; height: 40px; margin: 10px 3px; font-size: 0.9em;}

/*버튼색상*/
a.grayline,
.grayline {background: #ffffff;	color: #666666;	border: 1px solid #C4C4C4;}
a.gray,
.gray {border: 0;	background: #C4C4C4 0;}
a.blueline,
.blueline {background: #FFFFFF 0; border: 1px solid #45A6EA;	color: #45A6EA;}
a.blue,
.blue {background: #45A6EA 0; border: 0;	color: #ffffff;}
a.red,
.red {border: 0;	background: #F26563 0;}
a.redline,
.redline {border: 1px solid #F26563;	background: #fff 0;	color: #F26563;}
a.green,
.green {border: 0;	background: #27D1AA 0;}
a.black,
.black{background: #343434;	color: #fff;}
a.blackline,
.blackline{background: #ffffff;	color: #343434;	border: 1px solid #343434;}

.btn.off {	background: #F2F2F2;	color: #C4C4C4;}
a.add_btn {	color: #666666;	font-size: 0.9em;	text-decoration: underline;}
a.check_btn{color: #45A6EA; text-decoration: underline;}

/*글자색상*/
a.color_blue,
.color_blue{display: inline-block; color: #45A6EA;}
a.color_red,
.color_red{display: inline-block; color: #F26563 ;}
a.color_green,
.color_green{display: inline-block; color: #27D1AA;}
a.color_gray,
.color_gray{display: inline-block; color: #C4C4C4;}
.point_mint {color: #27D1AA;}

/*인풋폼*/
select,
input {width: 100%;line-height: 40px;height: 40px;background: #FAFAFA;color: #C4C4C4; /*	margin: 10px auto;*/padding: 0px 10px;box-sizing: border-box;border-radius: 4px;border: none;font-size: 14px;}
input::placeholder {color: #C4C4C4;}
input.read {background: #F2F2F2 0% 0% no-repeat padding-box;color: #C4C4C4;border: 0;}
input[type=text] {width: 100%;line-height: 40px;background: #FAFAFA;color: #666666; /*	margin: 10px auto;*/padding: 0px 10px;box-sizing: border-box;border-radius: 4px;border: none;}
input[type=text]::placeholder {color: #C4C4C4;}

/*웹스타일*/
.input_st {position: relative;}
.input_st > span {position: absolute;top: 50%;right: 10px;transform:translateY(-50%);display: flex;align-items: center;justify-content: center;}
.input_st .del {width: 20px;height: 20px;background-image: url("../img/hospital/ic_close.svg");background-repeat: no-repeat;background-position: center;}
.input_st .del{ right: 35px;}
.input_st .del:last-child{ right: 10px;}
.input_st .time {color: #F26563;font-size: 14px;text-align: right;}
.input_st .ic_agree {width: 20px;height: 20px;background-image: url("../img/hospital/ic_agree.svg");background-repeat: no-repeat;background-position: center;}
.input_st .pw_show {width: 20px;height: 20px;background-image: url("../img/hospital/password_hide_on.svg");background-repeat: no-repeat;background-position: center;}
.input_st .pw_hide {width: 20px;height: 20px;background-image: url("../img/hospital/password_hide.svg");background-repeat: no-repeat;background-position: center;}
.error .input_st .del + .pw_hide {width: 20px;height: 20px;background-image: url("../img/hospital/password_hide_error.svg");background-repeat: no-repeat;background-position: center;}

input[type=password] {color: #666666;background-color: #FAFAFA;}
input[type=password].on {background-color: #FAFAFA; /* background-image: url(""../img/hospital/password_hide_on.svg"); background-repeat: no-repeat; background-position: calc(100% - 13px) 50%; */}
input[type=password]::placeholder {background-image: none;}
input[type=button].select {text-align: left;background: url("../img/hospital/select_arrow.svg") no-repeat #FAFAFA 98% 50%;}

textarea {background: #FAFAFA;border-radius: 4px;color: #343434;font-size: 14px;height: 40px;line-height:1.6em;padding:10px;width: 100%; min-height:110px;border: 0;}
textarea::placeholder {color: #C4C4C4;}

label {color: #666666;}

/*오류*/
.error input,
.error select,
.error textarea{color: #F26563 !important;background-color: rgba(242, 101, 99, 0.3) !important;background-image: none;
	/* background-image: url(""../img/common/ic_close.svg"); background-repeat: no-repeat; background-position: calc(100% - 13px) 50%; */margin: 0 0 2px !important;}
input[type=password].error {background-color: rgba(242, 101, 99, 0.3);
	/* background-image: url(""../img/common/ic_close.svg"), url("../img/common/password_hide_error.svg"); background-repeat: no-repeat; background-position: calc(100% - 44px) 50%, calc(100% - 13px) 50%; */}
.error input::placeholder {color: #F26563;}
span.msg {font-size: 11px;color: #F26563; margin: 0px;display: block;}
.pass input {margin-bottom: 2px;}
.pass span.msg {font-size: 0.9em;color: #45A6EA;padding-left: 5px;}
.error .sod_select{ color: #F26563 !important;background-color: rgba(242, 101, 99, 0.3) !important;}

/*체크박스*/
input[type=checkbox] {display: none;}
input[type=checkbox] + label {cursor: pointer;	margin: 5px 0;	font-size: 1em;	font-weight: normal;}
input[type=checkbox] + label > div {display: inline-block;cursor: pointer;vertical-align: middle;
	box-sizing: border-box;width: 14px;height: 14px;margin-top: -4px;border: none;border-radius: 2px;margin-right: 5px;position: relative;background: #F2F2F2;}
/*라운드 체크버튼*/
input[type=checkbox].circle + label > div {border-radius: 50%; background: transparent; border: 1px solid #C4C4C4;}

input[type=checkbox]:checked + label > div {background: #45A6EA;border: 0;}
input[type=checkbox]:checked + label > div:before,
input[type=radio]:checked + label > div:before {font-family: "Font Awesome 5 Pro";color: #fff;content: "\f00c";
	position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%) scale(0.8);font-weight: 700;font-size: 9px;width: auto; height: auto;}
input[type=checkbox] + label:hover > div {border-width: 2px;}
/*라운드,도트 체크버튼*/
input[type=checkbox].circle.dot + label > div {border-radius: 50%; background: transparent; border: 1px solid #45A6EA;}
input[type=checkbox].circle.dot:checked + label > div{background: transparent; border: 1px solid #45A6EA;}
input[type=checkbox].circle.dot:checked + label > div:before {content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
	width: 6px; height: 6px; border-radius: 50%; display: block; background: #45A6EA;}


/*라디오버튼*/
input[type=radio] {display: none;}
input[type=radio] + label {cursor: pointer;margin: 0;font-weight: normal;display: inline-block !important;margin-right: 4px;}
input[type=radio] + label > div {display: inline-block;cursor: pointer;vertical-align: middle;background: white;box-sizing:
		border-box;width: 14px;height: 14px;margin-top: -4px;border: 1px solid #45A6EA;border-radius: 50%;margin-right: 5px;position: relative;}
/*라운드 라디오버튼*/
input[type=radio].circle + label > div {border-radius: 50%; background: transparent; border: 1px solid #C4C4C4;}

input[type=radio]:checked + label > div {}
input[type=radio]:checked + label > div:before { content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
width: 6px; height: 6px; border-radius: 50%; display: block; background: #45A6EA; }

/*라운드,체크 라디오버튼*/
input[type=radio].circle.chk + label > div {border-radius: 50%; background: transparent; border: 1px solid #C4C4C4;}
input[type=radio].circle.chk:checked + label > div {background: #45A6EA;border: 0;}
input[type=radio].circle.chk:checked + label > div:before{font-family: "Font Awesome 5 Pro";color: #fff;content: "\f00c";
	position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%) scale(0.8);font-weight: 700;font-size: 9px;width: auto; height: auto;}
input[type=radio].circle.chk + label:hover > div {border-width: 2px;}

/*기본모달*/
.modal-backdrop {background: ;}
.modal-backdrop.in {opacity: .7;}
.modal-content {box-shadow: none;-webkit-box-shadow: none;border: 0;padding: 0;}
.modal-dialog {margin: 0;position: fixed; width:428px; left: 50%;top: 50%;}
.modal-content {border-radius: 8px; }
.modal-body{padding: 20px 27px; max-height:calc(100vh - 200px); overflow-y: auto; font-size: 1.1em;}
.modal-header {display: flex;align-items: center;justify-content: space-between;padding: 17px 20px;border-bottom: 1px solid #F2F2F2;}
.modal-title {font-size: 14px;font-weight: 400;color: #666;}  .modal-footer {padding: 17px 20px;border: 0;text-align: center;}
.modal-footer > button {width: 100%;}
.modal.fade .modal-dialog {-webkit-transition: -webkit-transform .3s ease-out;-o-transition: -o-transform .3s ease-out;transition: transform .3s ease-out;
	-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.modal.fade.in .modal-dialog {-webkit-transition: -webkit-transform .3s ease-out;-o-transition: -o-transform .3s ease-out;transition: transform .3s ease-out;
	-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.btn_close {width: 20px;height: 20px;background: url("../img/hospital/ic_close_bk.svg") no-repeat center;display: inline-block;}

/*셀렉트박스-드롭다운*/
.dropdown-menu{box-shadow: 0 3px 6px #00000029; border-radius: 4px; border: 0; min-width: 100%; overflow: hidden; margin-top: -5px; z-index: 50;}
.dropdown-menu li{ padding: 0 10px; line-height: 30px; height: 30px;}
.dropdown-menu li.active,
.dropdown-menu li:hover,
.dropdown-menu li:focus{ background: #45A6EA; color: #fff; cursor: pointer;}
.open>.dropdown-menu{ max-height:130px; overflow-y: auto;}


/*프로필모달*/
#profile_pop01 .modal-dialog,
#profile_pop02 .modal-dialog {width: 270px;}
#profile_pop02 a,
#profile_pop04 a {color: #666;font-size: 14px;font-weight: 400;display: block;}
#profile_pop02 .modal-title,
#profile_pop04 .modal-title {width: 100%;display: flex;align-items: center;justify-content: center;position: relative; /*	font-size: 11px;*/}
#profile_pop02 .btn_back,
#profile_pop04 .btn_back {width: 20px;height: 20px;background: url("../img/hospital/ic_left.svg") no-repeat center/contain;display: inline-block;
	position: absolute;top: 50%;left: 0;transform: translate(0, -50%);}
#profile_pop02 .modal-footer,
#profile_pop04 .modal-footer {border-top: 1px solid #F2F2F2;}

/*약관모달*/
#agree_pop01 .modal-header {flex-direction: column;align-items: baseline;padding: 0;}
#agree_pop01 .modal-dialog {width: 731px;}
#agree_pop01 .tab-pane {height: 256px;overflow-y: scroll;font-size: 14px;line-height: 19px;}
#agree_pop01 .modal-body {padding: 30px;}
#agree_pop01 .btn_close {position: relative;top: 20px;left: 20px; z-index: 999;}

/*첨부파일 모달*/
#file_pop01 .modal-body img{ width: 100%; height: auto;}

/*탭메뉴*/
.tab-content > .active {opacity: 1;}
.nav-justified > li {text-align: center;}
.nav > li > a {display: inline-block;padding: 20px;border-radius: 0;text-align: center;}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {background: #fff;color: #45A6EA;position: relative;}
.nav-pills > li.active > a::before,
.nav-pills > li.active > a:focus::before,
.nav-pills > li.active > a:hover::before {content: '';display: inline;position: absolute;left: 0;bottom: 0;width: 100%;height: 2px;background: #45A6EA;}

/*갤러리모달*/
#gall_zoom .modal-dialog {bottom: 50%;transform: translateY(50%);}
#gall_zoom .modal-content {background-color: transparent;}
#gall_zoom .swiper-slide {background: #fff}
#gall_zoom .swiper-slide img {width: 100%;border-radius: 0;}
.swiper-slide img{width: 100%;border-radius: 0;}

/*스와이퍼 좌우버튼*/
.swiper-button-next,
.swiper-button-prev{top:50%; background:RGBA(52, 52, 52, 0.1); width: 30px; height: 30px;}
.swiper-button-next:after,
.swiper-button-prev:after{ color: #fff; font-size: 1.3em;}
.swiper-button-prev, .swiper-rtl .swiper-button-next{left: 0;}
.swiper-button-next, .swiper-rtl .swiper-button-prev{right: 0;}

/*alert디자인2(사용중)*/
.swal2-popup {max-width: 350px;width: calc(100% - 80px);font-size: 11px;padding: 35px 40px;border-radius: 8px;box-shadow: 0px 3px 6px #0000004D;}
.swal2-title {color: #45A6EA;font-size: 20px;font-weight: 500;margin-bottom: 20px;}
.swal2-html-container {font-size: 14px;font-weight: 300;line-height: 24px;color: #343434;margin: 0;}
.swal2-html-container .color {color: #45A6EA;font-weight: 300;}
.swal2-html-container p {margin: 22px 0 0;font-size: 11px;line-height: 15px;}
.swal2-actions {width: 100%;flex-wrap: nowrap;flex-direction: row-reverse;margin: 20px 0 0;}
.swal2-actions button {width: 100%;border-radius: 4px;font-weight: 400;line-height: 28px;height: 30px;padding: 0;/*margin: 0;*/border: 0;box-sizing: border-box;}
.swal2-styled.swal2-confirm {background: #45A6EA;color: #fff;border-radius: 4px;font-size: 11px;}
.swal2-styled.swal2-deny {background-color: #fff !important;color: #45A6EA;border: 1px solid #45A6EA;border-radius: 4px;/*margin: 0 10px 0 0;*/font-size: 11px;}
.swal2-styled.swal2-deny:hover,
.swal2-styled.swal2-deny:focus{background-color: #fff !important;}
.swal2-actions button:hover,
.swal2-actions button:focus{outline: none !important;box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;}
.swal2-actions:not(.swal2-loading) .swal2-styled{opacity: 0.9; max-width:95px; }
.swal2-actions:not(.swal2-loading) .swal2-styled:hover{background-image: none; opacity: 1;}

/*스크롤바*/
div::-webkit-scrollbar { width: 8px; background-color: #F2F2F2; border-radius:4px;}
div::-webkit-scrollbar-thumb { background-color: #C4C4C4; width: 8px;  border-radius:4px;}
div::-webkit-scrollbar-track{}

.scrollbar{	resize: vertical; /* 상하만 가능 */}
.scrollbar::-webkit-scrollbar { width: 8px; background-color: #F2F2F2; border-radius:4px;}
.scrollbar::-webkit-scrollbar-thumb { background-color: #C4C4C4; width: 8px;  border-radius:4px;}
.scrollbar::-webkit-scrollbar-track{}

p.ft {padding: 30px; max-width: 600px;width: 100%;box-sizing: border-box;z-index: 10}


/*관리자-닥터*/
/*로그인*/

/*로그인*/
#login {}
#login p {margin-bottom: 30px;color: #666666;}
#login .find {text-align: center;margin-top: 20px;}
#login .find a {display: inline-block;}
#login .find a:after {content: "";display: inline-block;width: 1px;height: 12px;background: #DDDDDD;margin: 0 18px;vertical-align: middle;}
#login .find a:last-child:after {display: none;}  p.email {text-align: center;}

.admin_bg {width: 100%;height: 100%;height: 100vh;display: flex;flex-direction: column;align-items: center;justify-content: center;
	background:url("../img/hospital/admin_bg.png") #45A6EA no-repeat 50%/cover;}

.admin_bg .con_box {background: #fff;border-radius: 20px;box-shadow: 0px 0px 20px #0000004D;width: 436px;padding: 60px;}
.admin_bg .login_logo {display: block;}
.admin_bg #login .login_logo {margin: 0 auto 116px;}
.admin_bg #find_info .login_logo,
.admin_bg #pw_reset .login_logo {margin: 0 auto 76px;}
.admin_bg p.email {color: #fff;font-size: 11px;}
.admin_bg #find_info .tab_wrap {display: flex;align-items: center;margin: 0 0 30px;}
.admin_bg #find_info .tab_wrap > a {width: 50%;color: #C4C4C4;background: #fff;font-size: 14px;height: 30px;padding: 0 0 11px;text-align: center;}
.admin_bg #find_info .tab_wrap > a.on {color: #343434;border-bottom: 2px solid #343434;}
.admin_bg .con_info {padding: 0 0 20px;}  .admin_bg .con_info.error {padding: 0;}
.admin_bg #find_info .con_info {display: flex;justify-content: space-between;align-items: center;}
.admin_bg #find_info .con_info .input_st {position: relative;width: 70%;margin: 0;}
.admin_bg #find_info .con_info input {width: 100%;margin: 0;background-image: none;}
.admin_bg #find_info .ing .con_info input {color: #343434;}
.admin_bg #find_info .con_info .btn_find {width: 30%;height: 40px;display: flex;align-items: center;justify-content: center;background: #F2F2F2;
	color: #C4C4C4;border-radius: 4px;margin: 0 0 0 10px;}
.admin_bg #find_info .con_info .btn_find.re {color: #45A6EA;background: #fff;border: 1px solid #45A6EA;}
.admin_bg #find_info .con_info .btn_find.confirm {background: #45A6EA;color: #fff;}
.admin_bg #find_info .error span.msg {width: 100%;margin: 2px 0 0;}
.admin_bg #find_info .btn_box {margin: 20px 0 0;}


/*비밀번호 재설정*/
#pw_reset .title {font-size: 14px;color: #343434;margin: 0 0 40px;text-align: center;}
#pw_reset input:focus {box-shadow: 0px 0px 3px #00000029;}


/*회원가입*/
.register_bg {width:600px; min-height: 100vh;display: flex;justify-content: center;padding: 250px 0 0;position: fixed;top: 0;left: 0;
	background:url("../img/hospital/admin_bg.png") #45A6EA no-repeat 80% 50%/cover; z-index: 1;}
.register_bg .logo {width: 152px;height: 96px;}
.register_wrap {width: 100%;height: 100%;min-height: 100vh;background: #fff; padding-left: 600px;}
.register_wrap .con {width: 100%; min-width:1300px; padding: 85px 70px 60px; background: #fff;}
.top_title {display: flex;align-items: center;padding: 0 0 50px; width: 100%;}
.top_title .tit {color: #45A6EA;font-size: 20px;font-weight: 600;}
.register_wrap h1 {font-size: 16px;color: #343434;width: 100%; padding: 30px 0 0; margin-bottom:30px;}

/*공통form*/
#layer{display: none; position:fixed; z-index:3;-webkit-overflow-scrolling:touch; border-radius:8px; border: 0!important; background: #fff; overflow:hidden; padding-top: 50px;}
/*#layer .bg{position: fixed; width: 100%; height:100%; background: rgba(0,0,0,0.7); left: 0; top: 0 ; z-index: 0;}*/
#btnCloseLayer{position: fixed!important; width: 100%!important; height:100%!important; background: rgba(0,0,0,0.7)!important;
	left: 0!important; top: 0 !important; z-index: 0!important;}
#__daum__layer_1{z-index: 5!important;}
.addr_layer{ background: #fff; height: 50px; position: absolute; top:0px; width: 100%;}
.addr_layer .add_title{ display: flex; justify-content: space-between; align-items: center; background: #fff; z-index: 1; line-height: 49px;
	position: absolute; width: 100%; z-index: 1; font-size: 1.2em; padding: 0 15px; border-bottom: 1px solid #F2F2F2; box-sizing: border-box;}

.profile_box.big{width:216px; height: 216px;border: 3px solid #63A5E4; border-radius: 50%; margin: 0 auto; overflow: hidden; padding: 5px;}
.profile_box.big img{object-fit:cover; width: 100%; height: 100%; border-radius: 50%;}

.frm{display: flex;flex-wrap: wrap;}
.frm .profile_box{ display: inline-block;border: 2px solid #63A5E4; border-radius: 55px; width: 80px; height: 80px; position: relative;
	padding: 3px; background-color: #fff;}
.frm .profile_box:after{content: ""; display: block; position: absolute; right: -5px; bottom: -5px; width:30px; height: 30px;
						background: url("../img/hospital/ic_profile_pen.svg") no-repeat 50%/cover; border-radius: 30px;  }
.frm .profile_box img{object-fit:cover; width: 100%; height: 100%; border-radius: 50%;}

/*.frm .profile01 {background: url("../img/hospital/ic_profile01.svg") no-repeat center;display: inline-block;cursor: pointer;}
.frm .profile03 {background: url("../img/hospital/ic_profile_hospital.svg") no-repeat center;display: inline-block;cursor: pointer;}*/

.frm .btn{ margin-top:0; margin-bottom: 0; }
.frm .left{width: 50%; padding: 0 33px 0 0;}
.frm .right{width: 50%; padding: 0 0 0 33px;}

.frm .sec {width: 100%;border-bottom: 1px solid #F2F2F2;padding: 10px 0; margin-bottom: 20px;}
.frm .sec:last-child{border-bottom: 0;}
.frm .part2 {clear: both;width: 100%;border-top: 1px solid #F2F2F2;}

.frm dl{display: flex;	justify-content: space-between; align-items: flex-start; margin-bottom:20px;}
.frm dt {font-size: 14px;font-weight: 400;color: #666;width: 167px; line-height: 30px;}
.frm dd {width: calc(100% - 100px); margin-bottom: 5px; min-height: 40px;}
.frm dd .input_st {width: 100%;}

.frm .half{ flex-direction: row; flex-wrap: wrap; display: flex; justify-content: space-between;}
.frm .half .input_st{width: calc(100% - 104px);}
.frm .half.fs{ justify-content: flex-start;}
.frm dd > div.half{margin-bottom: 10px;}
.frm .input_st.hyphen_st {display: flex;align-items: center;width: 100%;}

.frm .btn_find {background: #F2F2F2; color: #C4C4C4;}
.frm .btn_find.re {color: #45A6EA;background: #fff;border: 1px solid #45A6EA;}
.frm .btn_find.confirm {background: #45A6EA;color: #fff;}

/*약관동의*/
.frm .agr_check {display: flex;	align-items: center;justify-content: space-between;padding: 8px 0 0;}
.frm .agr_check .more {font-size: 8px;color: #45A6EA;cursor: pointer;}
.frm .all_check span.msg{ display: inline-block;}
/*버튼*/
.frm .btn_wrap {width: 100%;display: flex; justify-content: center; margin: 40px 0 0;}

/*첨부파일*/
.frm .file_wrap .btn_wrap {display: flex;}
.frm .file_wrap .btn_wrap > a {width: 95px;height: 30px;}
.frm .file_wrap {display: flex;justify-content: space-between;align-items: center;margin: 4px 0 0;}
.frm .file_wrap .file_name {font-size: 8px;color: #45A6EA;font-weight: 400;display: flex;align-items: center;padding: 0 10px; height: 30px;}
.frm .file_wrap .ic_close {width: 12px;height: 12px;margin: 0 0 0 4px;background: url("../img/hospital/ic_close_sm.svg") no-repeat center;display: inline-block;}
.frm .file_wrap .btn_wrap{ margin: 0; width: auto;}

.service_check{margin-right: 5px;}
.subject_check {width: calc(100% / 3)}
.nonepaid_check{ margin: 0 70px 0 0;}

.align_top{align-items: flex-start !important;}

.frm table {/*width: 100%;*/border-top: 1px solid #F2F2F2;border-bottom: 1px solid #F2F2F2;font-size: 14px;margin: 30px 0 0;}
.frm table th {background: #FAFAFA;text-align: center;width: 136px; border-bottom: 1px solid #f2f2f2; font-weight: 400;}
.frm table td {background: #fff;border-bottom: 1px solid #f2f2f2;padding: 30px;vertical-align: top;}
.frm table td dl {display: flex;justify-content: space-between;align-items: baseline;}
.frm table td dt {padding: 0 8px;font-weight: 400; width: auto;}
.frm table td dd {width: 100%;}
.frm table td input[type="text"] {width: 272px}
.frm table td .nonepaid_con01 {width: 592px;height: 86px;background: #FAFAFA;padding: 13px 10px;box-sizing: border-box;border-radius: 4px;}
.frm table td .nonepaid_con01 > span {border: none;background: #FAFAFA;color: #666666;height: 4.2em;padding: 0;overflow: hidden;display: block;overflow-y: scroll;}

/*영업시간*/
#office_hours {width: 100%;display: flex;flex-wrap: wrap;justify-content: center;}
#office_hours .left {border-right: 1px solid #F2F2F2;}
#office_hours .left label {font-size: 14px;font-weight: 400;}
#office_hours .right {width: 50%; padding: 0 0 0 67px;}

#office_hours .timecheck01_wrap {margin: 25px 0 0;}
#office_hours .timecheck01_wrap li {display: flex;align-items: center;padding: 10px 0;}

#office_hours .weekday_all{ margin-top: 0; padding-left: 38px;}


#office_hours .weekday_check {width: 52px;display: flex;justify-content: center;}
#office_hours .weekday_check input[type="checkbox"] {opacity: 0;position: absolute;top: 0;left: 0;}
#office_hours .weekday_check input + label {width: 26px;height: 26px;display: flex;align-items: center;justify-content: center;
	background: #fff;color: #666666;border: 1px solid #666666;margin: 0 10px 0 0;border-radius: 50%;}
#office_hours .weekday_check input:checked + label {background: #45A6EA;color: #fff;border: 1px solid #45A6EA;}
#office_hours .weekday_check input + label > div {display: none;}
#office_hours .weekday_time {display: flex;align-items: center;margin: 0 30px 0 0;}
#office_hours .weekday_time .work {display: flex;align-content: center;line-height: 26px;}
#office_hours .weekday_time .work .sod_select{min-width: 40px; background: none; padding: 0 5px; text-align: center; line-height: 26px; height: 26px; color: #666}
#office_hours .weekday_time .work .sod_select .sod_label,
#office_hours .weekday_time .work .sod_select .sod_option.selected{ padding: 0 !important;}
#office_hours .weekday_time .work .sod_select .sod_list_wrapper{ height: 200px; overflow-y: auto;}
#office_hours .weekday_time .work .sod_select .sod_list_wrapper{	resize: vertical; /* 상하만 가능 */}
#office_hours .weekday_time .work .sod_select .sod_list_wrapper::-webkit-scrollbar { width: 3px; background-color: #F2F2F2; border-radius:4px;}
#office_hours .weekday_time .work .sod_select .sod_list_wrapper::-webkit-scrollbar-thumb { background-color: #C4C4C4; width: 3px;  border-radius:4px;}

#office_hours .weekday_time select {background: transparent;font-size: 16px;color: #666;padding: 0 5px;appearance: none;line-height: 26px; height: auto;}

#office_hours .rest {display: flex; align-items: center;padding: 10px 0;}
#office_hours .rest input[type="checkbox"] + label {background: #27D1AA;color: #fff;border-radius: 8px;font-size: 14px;padding: 4px 8px;border: none;width: auto; margin-left: -5px;}

/*영업시간*/
input[type="range"] {
	width: 297px;
	-webkit-appearance: none;
	background: transparent;
	background-image: linear-gradient(to right, #C4C4C4 0%, #F2F2F2 0%);
	cursor: pointer;
	outline: none;
	height: 2px; }
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #27D1AA;
	cursor: pointer;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	margin-top: -3px; }
input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;}

#rev_time {}
#rev_time .tab-pane > div {display: flex;flex-wrap: wrap;}
#rev_time .time_am{position: relative;}
#rev_time .time_am::after{content: '';width: 100%;height: 1px;background: #f2f2f2;margin: 19px 0;}

#rev_time .nav li > a {padding: 0 21px;height: 24px;border: 1px solid #F2F2F2;border-bottom-color: transparent;display: flex;align-items: center;justify-content: center;
	color: #666666;background: #FAFAFA;margin: 0;}  #rev_time .nav-tabs{border-bottom: 1px solid #F2F2F2;}
#rev_time .nav-tabs > li.active > a,
#rev_time .nav-tabs > li.active > a:focus,
#rev_time .nav-tabs > li.active > a:hover {border-top: 2px solid #45A6EA;color: #45A6EA;background: #fff;}
#rev_time .tab-content{padding: 24px 0;}
#rev_time .tab-content .time_check{width: calc(100% / 8);text-align: center;}
#rev_time .tab-content .time_check label > div{display: none;}
#rev_time .tab-content .time_check input[type="checkbox"] + label{margin: 0;padding: 11px;}
#rev_time .tab-content .time_check input[type="checkbox"]:checked + label{font-size: 14px;font-weight: 600;color: #45A6EA;}

#reg_bank .file_wrap{width: 100%;display: flex;justify-content: flex-end;}
#reg_bank .file_wrap a{width: 95px;height: 30px;margin-top: 0; margin-bottom: 0;}
#reg_bank .file_wrap .file_name{font-size: 8px;color: #45A6EA;font-weight: 400;display: flex;align-items: center;}
#reg_bank .file_wrap .file_name p{overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width:90%;
	line-height: 1.4em; word-break: break-all;}
#reg_bank .file_wrap .file_name .ic_close {width: 12px;height: 12px;margin: 0 0 0 4px;background: url("../img/hospital/ic_close_sm.svg") no-repeat center;display: inline-block;}
#reg_bank .file_wrap .input_st{ display: flex; justify-content: space-between; align-items: center;
	background: #FAFAFA;border-radius: 4px;color: #343434;font-size: 14px;height: 40px;line-height: 40px;padding: 0 10px;
	width: 100%;border: 0;position: relative;}
#reg_bank .file_wrap .input_st.error{color: #F26563 !important;background-color: rgba(242, 101, 99, 0.3) !important;margin: 0 0 2px !important;}


/**웹공통(ZEN)**/
/*상단 레이아웃*/
#header{padding: 0; min-width:1400px; display: flex; justify-content: space-between; align-items: center; position: relative; border-bottom:1px solid #45A6EA; background-color: #fff;}
#header .adm_logo{ padding: 20px 45px; border-right:1px solid #F2F2F2; }
#header .logout_wrap{ padding: 0 45px; font-size: 1.1em;}

#gnb{display: flex; justify-content:flex-start; align-items: center;}
#gnb #gnb_1dul{display: flex;}
#gnb #gnb_1dul>li>a{color:#343434; font-size: 1.5em; padding: 30px 40px;}
#gnb #gnb_1dul>li>a:hover,
#gnb #gnb_1dul>li>a.hov,
#gnb #gnb_1dul>li.active>a{ color: #45A6EA; font-weight: 500;}

#gnb .gnb_2dul{display:none; position: absolute;	left: 0; top: 71px; width: 100%; background-color: #45A6EA; padding: 0 230px; border-top:1px solid #45A6EA;}
#gnb .gnb_2dul>li{display: inline-block;}
#gnb .gnb_2dul>li>a{display: block; padding: 12px 37px; font-size: 1.3em; color: #fff;}
#gnb .gnb_2dul>li>a:hover,
#gnb .gnb_2dul>li>a.hov,
#gnb .gnb_2dul>li.active>a{ background-color: #fff; color:#45A6EA ;}

#gnb #gnb_1dul>li.active .gnb_2dul{ display: block !important;}

/*중간 레이아웃*/
.container{padding: 50px 30px; display:table; /*min-width: 1250px;*/ max-width: 1900px; }
.container.t100{ padding-top: 100px;}
.menu_tit{font-size: 20px; font-weight: 600; padding: 0 0 30px 20px;}
.menu_con{ display:table; min-width: 1000px; min-height: 500px;background: #fff; box-shadow: 0px 3px 6px #0000000D;	border-radius: 20px; margin: 0 auto; padding: 20px 30px;}
.menu_con h1{font-size: 16px;color: #343434;width: 100%; padding: 30px 0 0; margin-bottom:30px;}
.menu_con.top{ min-height: 100px; margin-bottom: 20px; width: 100%;}

/*검색*/
.search{margin-bottom: 50px;}
.search dl{display: flex; align-items: center; }
.search dl dt{margin-left: 30px; font-weight: 400;}
.search dl dd{margin-left: 10px;}
.search dl dd input[type=date]{ width: 180px;}
.search dl dd .dropdown{ width: 125px;}
.search .sch_box{margin-left: 10px; position: relative;}
.search .sch_box button{ border:0; background:none; position: absolute; right: 0; height: 40px; width: 40px;}
.search .btn{}

.search  dd.date input[type=date]{ width: 120px;}

.tbl_top{ display: flex; justify-content: space-between; margin-bottom: 10px;}
.tbl_top h2{font-size: 1.3em; line-height: 40px;}
.tbl_top .dropdown input{width:74px;}

/*통계*/
.total{display: flex; font-size: 0.9em;}
.total li{background: #FAFAFA; border-radius: 8px; padding: 10px 10px; margin-right:20px; }
.total li strong{ line-height: 20px; height: 20px; display: inline-block; margin-left: 10px; padding: 0 9px; border-radius:20px; font-weight: 400; }
.total li strong.gray{background: RGBA(52, 52, 52, 0.2); color: #343434;}
.total li strong.green{background: RGBA(39, 209, 170, 0.2); color: #27D1AA;}
.total li strong.red{background: RGBA(242, 101, 99, 0.2); color: #F26563}
.total li strong.blue{background: RGBA(69, 166, 234, 0.2); color: #45A6EA;}

/*테이블css*/
.tbl .btn.off{opacity: 0.6}
.tbl table{ width: 100%; font-size: 1.1em;}
.tbl thead th:first-child{border-radius: 8px 0 0 8px;}
.tbl thead th:last-child{border-radius: 0 8px 8px 0;}
.tbl thead th{background-color: #FAFAFA; font-weight: 500;}
.tbl th,
.tbl td{min-height: 50px; padding: 16px;}
.tbl tbody th{ color: #45A6EA; font-weight: 400;}
.tbl tbody th,
.tbl tbody td{border-bottom: 1px solid #F2F2F2; min-width: 100px;}
.tbl tbody td span.box{ display: inline-block; vertical-align: middle; background: #FAFAFA; color:#343434;
	border-radius: 4px; width: 130px; text-align: right; padding: 6px 10px;}
.tbl tbody td span.box strong{font-weight: 500; color: #45A6EA;}
.tbl tbody td span.box.none{text-align: center; color:#C4C4C4}
.tbl tbody td span.box.none_on{text-align: center; color:#343434}
.tbl tbody td span.box.on{color:#343434}
.tbl tbody td span.box.off{filter:saturate(0); color:#C4C4C4}
.tbl tbody td span.box.off strong{color:#C4C4C4}
.tbl tbody td span.box input[type=text]{text-align: right; width: calc(100% - 20px); line-height: 16px; height: 16px;  padding: 0 3px; vertical-align: middle; margin-top: -3px;}
.tbl table .btn{margin-top: 0; margin-bottom: 0;}

.tbl.scroll table {border-collapse: collapse;overflow-x: hidden;display: block;width: 1188px;}
.tbl.scroll thead {width: 100%;}
.tbl.scroll thead{display: block; width: calc(100% - 8px);}
.tbl.scroll tbody {display: block; width: 100%;}
.tbl.scroll tbody {overflow-y: scroll; overflow-x: hidden; height: 425px;}
.tbl.scroll tbody::-webkit-scrollbar { width: 8px; background-color: #F2F2F2; border-radius:4px;}
.tbl.scroll tbody::-webkit-scrollbar-thumb { background-color: #C4C4C4; width: 8px;  border-radius:4px;}
.tbl.scroll thead th{padding: 10px 16px;}

.tbl.scroll thead tr{display: table; width: 100%;}
.tbl.scroll tbody tr{display: table; width: 100%;}
.tbl.scroll td,
.tbl.scroll th {overflow:hidden;text-overflow:ellipsis;}
.tbl.scroll tbody th{border-bottom: 1px solid #45A6EA;}


.tbl.scroll td:nth-child(1),
.tbl.scroll th:nth-child(1){width: 80px;}
.tbl.scroll td:nth-child(2),
.tbl.scroll th:nth-child(2){width: 200px;}
.tbl.scroll td:nth-child(3),
.tbl.scroll th:nth-child(3){width: 125px; text-align: center;}
.tbl.scroll td:nth-child(4),
.tbl.scroll th:nth-child(4){width: 160px;}
.tbl.scroll td:nth-child(5),
.tbl.scroll th:nth-child(5){width: 160px;}
.tbl.scroll td:nth-child(6),
.tbl.scroll th:nth-child(6){width: 160px;}
.tbl.scroll td:nth-child(7),
.tbl.scroll th:nth-child(7){width: 160px; text-align: center;}
.tbl.scroll td:nth-child(8),
.tbl.scroll th:nth-child(8){width: 160px;}

.tbl .colspan{display: flex; align-items: center;}
.tbl .colspan:before,
.tbl .colspan:after{content: ""; display: inline-block; width:50% ; height:2px; background:#666666; vertical-align: middle; margin: 0 10px;}

.tbl .paging{ text-align:center ; padding: 50px 0;}
.tbl .paging a{display: inline-block; color: #666666; margin: 0 16px;}
.tbl .paging a.active{ font-weight: 600; color: #45A6EA;}

/*상세숨기기*/
.view_btn{ display: block; width: 100%; text-align: center; padding: 20px 0;}
.view_btn .fa-angle-up{display: none;}
.view_btn .fa-angle-down{display:inline-block;}
.view_btn.on .fa-angle-up{display:inline-block;}
.view_btn.on .fa-angle-down{ display: none;}
.drop_view{ width: 100%; display: none;}

/**모달팝업**/
.modal .tbl table{ font-size: 1em;}

/*진료예약접수*/
#receipt_pop .modal-dialog{ width: 320px;}
#receipt_pop .modal-body{overflow-y: unset;}
#receipt_pop .modal-body dl{ display: flex; justify-content: center; align-items: center; }
#receipt_pop .modal-body dt{font-size: 1.1em; font-weight: 500; margin-right: 10px;}
#receipt_pop .modal-body dd{width: 198px;}

/*진료거절*/
#deny_pop .dropdown{margin-bottom: 10px; width: 248px;}
#deny_pop .dropdown li{text-align: left;}
#deny_pop textarea{background: #FAFAFA; border: 0;}

/*처방전*/
#px_pop .file_wrap {display: flex;justify-content: space-between;align-items: center;margin: 4px 0 0; flex-wrap: wrap;
	border-radius: 8px; background: #FAFAFA; padding: 20px 30px;}
#px_pop .file_wrap .file_title{width: 100%; display: flex;justify-content: space-between;align-items: center; border-bottom: 1px solid #F2F2F2; padding-bottom: 10px; margin-bottom: 10px;}
#px_pop .file_wrap .file_name {font-size: 8px;color: #45A6EA;font-weight: 400;display: flex;align-items: center;padding: 0 px;}
#px_pop .file_wrap .ic_close {width: 12px;height: 12px;margin: 0 0 0 4px;background: url("../img/hospital/ic_close_sm.svg") no-repeat center;display: inline-block;}
#px_pop .file_wrap .btn_wrap {display: flex;}
#px_pop .file_wrap .btn_wrap > a {width: 95px;height: 30px; margin-left:2px; }

/*환자정보*/
#patient_pop .modal-dialog{ width: 590px}
#patient_pop dl{ display: flex; margin-bottom: 10px;}
#patient_pop dt{ width:100px; padding: 0 40px 0 0; font-weight: 400; }
#patient_pop dd{ text-align: left; width: calc(100% - 100px); background:#FAFAFA ; color: #666666; padding: 10px;}
#patient_pop dd.img{padding: 0; background:none;}
#patient_pop dd p{width: 140px; height: 100px; overflow: hidden; display: inline-block;}
#patient_pop dd p img{width: 100%; height: 100%; object-fit:cover; border-radius:0; }

#price_pop .modal-dialog{ width: 300px}
#price_pop dl{display: flex; margin-bottom: 10px; justify-content: space-between; align-items: center;}
#price_pop dl input{ width:calc(100% - 20px); text-align: right; padding: 0; margin: 0; height: auto; line-height:20px; margin-right: 5px; color: #666666; }
#price_pop dt{ margin-right: 10px;}
#price_pop dd{text-align: right; background-color: #FAFAFA;  width: 150px; border-radius: 4px; padding:6px 10px; vertical-align: middle;
	display: flex; justify-content: flex-end; align-items: center}
#price_pop dl.total{ margin-top: 30px; font-size: 1em;}
#price_pop dl.total dd{ background: none;}
#price_pop dl.total dd strong{ color:#45A6EA; font-size: 1.3em; font-weight: 500;}

#zoom_pop .modal-dialog{ width: 465px}
#zoom_pop .modal-dialog img{ width: 100%;}

#list_pop  .modal-dialog{ width: 1687px}


/*원격진료-진료실*/
#remote_treat{padding: 0; height: calc(100vh - 75px);}
#remote_treat #myVideo,
#remote_treat #draggable{ position: fixed; left: 40px; top: 15%; width:325px; height: 370px; border-radius:8px; background: #F2F2F2; z-index: 1; box-shadow: 1px 1px 5px rgba(0,0,0,0.5); }
#remote_treat .loading:before{content: "화면조정중"; z-index: 0; position: absolute; width: 100%; text-align: center; top: 50%; transform: translateY(-50%); font-size: 1.2em;}

#remote_treat .screen{ display: block; max-width: 1054px; width:100%; min-width:800px; height:100%; background: url("../img/hospital/admin_logo.svg") #F2F2F2 no-repeat 50% 45%; position: relative;}
#remote_treat .screen:before{content: "화면조정중"; z-index: 0; position: absolute; width: 100%; text-align: center; top: 50%; transform: translateY(-50%); font-size: 1.8em; font-weight: 500; opacity: 0.5;}
#remote_treat .screen .btn{position: absolute; bottom: 100px; left: 50%; transform: translateX(-50%); }
#remote_treat .patient_info{ position: fixed; right: 0; bottom: 0; top:73px; width: 433px; height: calc(100vh - 73px);
							 color: #fff; font-size: 1.15em; background-color: #2A2A2A; z-index: 2 }
#remote_treat .patient_info .frm_wrap{height: calc(100% - 65px); overflow-y: auto; padding: 40px;}
#remote_treat .patient_info .frm_wrap>div{margin-bottom: 15px;}
#remote_treat .patient_info .half{ display: flex;}
#remote_treat .patient_info .half dl{ width: 50%;}
#remote_treat .patient_info .half dt{ display: inline-block; width: 70px; margin-bottom: 5px;}
#remote_treat .patient_info .half dd{ display: inline-block; width: calc(100% - 75px); margin-bottom: 5px;}
#remote_treat .patient_info ul li{color: #45A6EA; margin-bottom: 15px;}
#remote_treat .patient_info ul li strong{color: #fff;}
#remote_treat .patient_info ul li a{float: right; color: #45A6EA; text-decoration: underline;}
#remote_treat .patient_info dl{ margin-bottom: 15px;}
#remote_treat .patient_info dt{color: #45A6EA; font-weight: 400; margin-bottom: 10px;}
#remote_treat .patient_info textarea{ background: #666666; border: 0; border-radius: 4px; padding: 12px 10px; color:#fff;}
#remote_treat .patient_info textarea::placeholder{ color: #fff; opacity: 0.5;}
#remote_treat .patient_info label{ color: #fff; display: block;}
#remote_treat .patient_info .select{text-align: left;background: url("../img/hospital/select_arrow_w.svg") no-repeat #666666 98% 50%;
	color: #fff; line-height: 40px; height: 40px; padding: 0 12px;border-radius: 4px;}
#remote_treat .patient_info .drop_view{background: #666666; border: 0; border-radius: 4px; padding: 12px 10px; color:#fff; margin-top: 10px;}
#remote_treat .patient_info .drop_view textarea{ background: RGBA(250, 250, 250, 0.5); margin-left: 20px; margin-top: 10px; width: calc(100% - 20px)}
#remote_treat .patient_info .btn_box{text-align: center;}

#remote_treat .btn_set{ position: fixed; left: 40px; bottom: 40px;}
#remote_treat .btn_set button{background: transparent; border: 0; margin-right: 20px;}
#remote_treat .btn_set .off{opacity: 0.6;}

/*계정관리*/
#adm_acc .menu_con{width:1206px ;}
#adm_acc #profile{align-items: baseline; padding-left: 30px;}
#adm_acc #profile .profile01{ margin-bottom:10px }
#adm_acc #profile p{font-size: 0.9em;}
#adm_acc #profile dt{ width:100px;}
#adm_acc #profile .input_st{width:254px;}

#adm_acc .right{ margin-top: 100px;}
#adm_acc .right dl{ align-items: flex-start;}
#adm_acc textarea{ width:356px; height:280px; }

/*병원정보관리*/
#adm_hospital .menu_con{ width: 1240px;}
#adm_hospital .right dd{ width:380px; }

/*정산계좌관리*/
#adm_bank{ width:1226px }

/*진료예약관리*/
#adm_treat .menu_con{ min-width: 590px; width: 590px; margin-right: 20px;}
#adm_treat .frm{ height:540px; overflow-y: auto; padding: 0 10px; margin: 0 -10px; }
#adm_treat #office_hours{ justify-content: space-between; align-items: center;}
#adm_treat #office_hours .date{ width: 60%;}
#adm_treat #office_hours .date input[type=date]{ width: calc(50% - 20px);}

#adm_treat #rev_time{ margin-top: 30px;}
#adm_treat #rev_time .flex{padding: 25px 0;}
#adm_treat .time_check{ margin-right: 10px;}
#adm_treat .btn_wrap{ text-align: center;}

/*달력*/
#adm_treat #calendar #area_calendar{ width:560px; background: #FFFFFF;box-shadow:0 3px 6px #0000000D;border: 1px solid #45A6EA;border-radius: 20px; padding: 40px;}
#adm_treat .buttons-container{ border-bottom: 0; margin-bottom: 30px;}
#adm_treat .buttons-container .label-container{ text-align: left; font-size: 1.5em;}
#adm_treat .year-label{margin-right: 5px;}
#adm_treat .weeks-wrapper.header{ border-bottom: 0;}
#adm_treat .special-buttons{ display: none;}
#adm_treat .prev-button,
#adm_treat .next-button{ text-indent: -9999px; margin-left:30px; }
#adm_treat .prev-button{background: url("/img/hospital/calendar_left.svg") no-repeat 50%}
#adm_treat .next-button{background: url("/img/hospital/calendar_right.svg") no-repeat 50%}

#adm_treat .week:not(.start-on-monday) .day:first-child{ color: #F26563;}
#adm_treat .week:not(.start-on-monday) .day:last-child{ color: #27D1AA;}
#adm_treat .week .day.selected span{ background: #45A6EA; color: #fff; font-weight: normal;}
#adm_treat .day.disabled span{ color: #C4C4C4;}
#adm_treat .day.today span::after{}
#adm_treat .day.modify span{ background: RGBA(69, 166, 234, 0.3); color: #45A6EA;}

#modifyModal .modal-dialog{width: 563px;}

/*지정약국관리*/
#signupModal .modal-dialog{width: 800px;}

/*지정환자관리*/
#TemplateModal .sec{ border-bottom: 1px solid #F2F2F2; padding-bottom: 40px}
#TemplateModal .input_st{margin-bottom: 10px;}
#TemplateModal textarea{margin-bottom: 10px;}
#TemplateModal .frm{display: block; margin: 10px 0}
#TemplateModal .ast{font-size: 0.9em; padding-left: 10px;}

#guideModal .modal-dialog{width: 296px;}


/*리뷰관리 상세*/
#review_view .menu_con{overflow: hidden; padding: 0; font-size: 1.1em; width: 1100px;}
#review_view .menu_con .flex>div{min-height:500px;}
#review_view .menu_con h2{font-weight: 500; font-size: 1.2em; margin-bottom:22px }
#review_view .menu_con dl{ margin-bottom: 22px;}
#review_view .menu_con dl{display: flex; justify-content: flex-start;}
#review_view .menu_con dt{ font-weight: normal; width: 137px;}
#review_view .menu_con .sec{border-bottom: 1px solid #F2F2F2; margin-bottom: 20px;}
#review_view .menu_con .left{ background-color: #666666; width: 335px; padding: 30px; color: #ffffff;}
#review_view .menu_con .left dt{width: 137px; color: #C4C4C4;}
#review_view .menu_con .left dd{width: calc(100% - 137px);}
#review_view .menu_con .right{ background-color: #ffffff; padding: 30px; width: calc(100% - 335px)}
#review_view .menu_con .right dt{width: 160px;}
#review_view .menu_con .right dd{width: calc(100% - 160px) }
#review_view .menu_con .btn_wrap{ text-align: center;}

/*CS문의*/
#cs_list .menu_con{min-width: 846px;}
#cs_list .tbl .ico_btn{ width: 22px; height: 22px; line-height: 20px; padding: 0;}
#cs_form .menu_tit{ padding-left: 0; line-height: 30px;}

#cs_form h2{font-size: 1.2em; margin-bottom: 20px; font-weight: 500;}
#cs_form .menu_con{ min-width: 857px; max-width: 857px;}
#cs_form .menu_con .dropdown{width: 356px;}
#cs_form .frm{height:640px ; overflow-y: auto; padding: 0 12px;}
#cs_form .frm  textarea{ height: 219px;}
#cs_form .file_wrap{ display: block;}
#cs_form .file_wrap .input_st{ display: flex; justify-content: space-between; align-items: center;
	background: #FAFAFA;border-radius: 4px;color: #343434;font-size: 14px;height: 40px;line-height: 40px;padding: 0 10px;
	width: 100%;border: 0;position: relative; margin-bottom: 5px;}
#cs_form .file_wrap .btn_wrap{justify-content: space-between; padding:5px 10px ;}
#cs_form .btn_wrap{text-align: center;}

/*공지사항*/
#notice .menu_con{min-width: 830px; max-width: 830px;}
#notice .tbl .thead{ display: flex; justify-content: space-between;	background: #FAFAFA; border-radius: 8px;
	line-height: 40px; font-size: 1.1em; padding: 0 30px; margin-bottom: 10px; font-size: 1.15em;}
#notice .tbl .type{width: 70px; margin-right: 30px;}
#notice .tbl .title{width: calc(100% - 340px); text-align: left;}
#notice .tbl .title .target{font-weight: 600; color: #27D1AA; margin-right: 5px;}
#notice .tbl .title .target:before{content: "["; display: inline-block;}
#notice .tbl .title .target:after{content: "]"; display: inline-block;}
#notice .tbl .date{width: 70px; margin-left: 30px;}
#notice .tbl .del{width: 130px; text-align: center;}
#notice .tbl .tbody dt{cursor: pointer;}
#notice .tbl .tbody dt ul{display: flex; justify-content: space-between;}
#notice .tbl .tbody dt li{ font-weight: normal; color: #666666; line-height: 35px; vertical-align: middle;}
#notice .tbl .tbody dl{background: #FFFFFF; border: 1px solid #F2F2F2; border-radius: 8px; padding: 15px 30px; margin-bottom: 10px; font-size: 1.1em;}
#notice .tbl .tbody dl.selected{border: 1px solid #27D1AA;}
#notice .tbl .tbody dl.selected dt {min-height: 40px; box-sizing: border-box;}
#notice .tbl .tbody dd{background: #FAFAFA; border-radius: 4px; padding: 13px 10px;}






/**약사(웹)**/
/*약조제리스트 -복약지도*/
.fmy_img{width: 117px; height: 66px;border-radius: 8px; background-color: #F2F2F2; padding: 15px;}
.fmy_img img{object-fit:cover; width: 100%; height: 100%;}

#medi_guide_pop .modal-dialog{  width: 1124px;}
#medi_guide_pop .tbl  .dropdown{width: 142px;}
#medi_guide_pop .tbl  input[type=text]{width: 142px;}
#medi_guide_pop .tbl  textarea{width: 353px; min-height: 66px; overflow-y: auto;}
#medi_guide_pop .tbl .btn.red{ width: 22px; height: 22px; padding: 0; line-height: 20px;}

/*약조제 접수 리스트*/
#fill_receive .flex{ padding: 20px 0;}
#fill_receive .flex .dropdown{ width: 145px; margin-right: 10px;}


/*배송지정보 모달*/
#addr_frm_pop .addr_info,
#addr_pop .addr_info { display: flex; flex-wrap: wrap; align-items: flex-start; padding: 16px; border-bottom: 1px solid #F2F2F2;}
#addr_frm_pop .addr_info dt,
#addr_pop .addr_info dt{ width: 95px; margin-bottom:20px; color: #27D1AA; font-weight: normal;}
#addr_frm_pop .addr_info dd,
#addr_pop .addr_info dd{ width: calc(100% - 95px); margin-bottom:20px; }
#addr_frm_pop .deli,
#addr_pop .deli{ padding: 16px;}




/*약국정보관리*/
#adm_pharmacy .menu_con{ width: 1240px;}
#adm_pharmacy .right dd{ width:380px; }


#formulary_form .menu_tit{  padding-left: 0; line-height: 30px;}
#formulary_form .file_wrap{ display: block;}
#formulary_form .file_wrap .input_st{ display: flex; justify-content: space-between; align-items: center;
	background: #FAFAFA;border-radius: 4px;color: #343434;font-size: 14px;height: 40px;line-height: 40px;padding: 0 10px;
	width: 100%;border: 0;position: relative; margin-bottom: 5px;}
#formulary_form .file_wrap .btn_wrap{justify-content: space-between; padding:5px 10px ;}


/**관리자페이지**/
.adm.modal .modal-dialog{  width: 600px;}
.adm.modal .frm dl{margin-bottom: 10px;}
.adm.modal .input_st input{margin-bottom: 5px;}
.adm.modal .tel .input_st{display: flex; justify-content: space-between; align-items: center;}
.adm.modal .tel .input_st i{margin: 0 3px;}
.adm.modal .frm .file_wrap{margin-top: 0;}

/*회원정보*/
#mem_view_pop h5{ padding: 17px 5px;}

/*병원정보*/
#hos_view_pop .frm dt{font-weight: 500;}
#hos_view_pop .frm dd{margin: 4px 0;}

#sub_acc_pop .modal-dialog{ width: 800px;}

/*정산*/
#calculate_modal .modal-dialog{ width: 1233px;}
#calculate_modal2 .modal-dialog{ width: 800px;}
#calculate_modal2 .tbl.scroll table{ width: auto;}

/*약관*/
#term_form .frm textarea{ height: 280px;}


/*3차 탭메뉴*/
.sub_menu{padding-left: 20px; height: 30px; line-height: 30px;}
.sub_menu:after{content:''; display:block; clear:both;}
.sub_menu a{float:left; margin:0 10px 0 0;  box-sizing:border-box; transition:all 0.3s ease 0s; cursor:pointer; text-align:center;}
.sub_menu a span{position:relative; padding:0 5px; font-size:16px; font-weight:600; line-height:1.3em; color:#111; opacity:0.5;}
.sub_menu a span:before{content:''; position:absolute; left:0; right:0; bottom:0; width:0; height:12px; background:#45A6EA; opacity:0.2;}
.sub_menu a span:hover:before,
.sub_menu a.active span:before{width:100%;}
.sub_menu a.active span{opacity:1;}
