<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<div id="list_load0">
  <!--배송문의-->
  <div class="delivery" data-type="delivery">
    <div class="sch">
      <p class="ast color_red">배송 완료된 상품만 문의가 가능합니다.<br> 기타 자세한 문의사항은 고객센터를 이용바랍니다.</p>
      <input type="button" class="select" data-toggle="modal" data-target="#dateModal" value="3개월" name="dateStr[0]">
    </div>

    <ul>
      <li class="empty" th:if="${#lists.size(listData[0])==0}">
        <svg></svg>
        <h4>배송 문의 이력이 없습니다.</h4>
      </li>
      <li th:unless="${#lists.size(listData[0])==0}"
          th:each="item : ${listData[0]}"
          th:with="isAnswer=${not #strings.isEmpty(item.answer)}">
        <!--문의-->
        <div class="inquiry">
          <div class="text">
            <div class="img" th:if="${item.imageList}">
              <span th:each="img : ${#strings.arraySplit(item.imageList,',')}" onclick="showImage(this)">
                <img th:src="${img}" onerror="onErrorImage(this)"/>
              </span>
            </div>
            <strong class="color_blue">[배송문의]</strong>
            <span th:utext="${#strings.replace(item.content, nlString, '&lt;br /&gt;')}"></span>
          </div>
          <p>
            <span class="date" th:text="${#temporals.format(item.regdate, 'yy년 MM월 dd일')}"></span><!--
            --><span class="black" th:if="${isAnswer}">답변완료</span>
          </p>
        </div>
        <!--//문의-->
        <!--답변-->
        <div class="reply" th:if="${isAnswer}">
          <p th:utext="${#strings.replace(item.answer, nlString, '&lt;br /&gt;')}"><!-- 답변영역 --></p>
        </div>
        <!--//답변-->
      </li>
    </ul>
  </div>
  <!--//배송문의-->
</div>


</html>