<!--a03로그인/아이디비번찾기-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{app/layout/default}">

<th:block layout:fragment="script">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#header h2").text("로그인");
        });
    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
        body, html {height: 100vh; overflow: hidden;}
        .container{ height: calc(100% - 54px);}
        #login{height: calc(100% - 100px); min-height: 500px;}
        p.ft{ position: relative; height: 100px;}
    </style>
</th:block>

<div layout:fragment="content" class="container">
    <div id="login">

    <form role="form" method="post" action="/app/emailLogin">
        <input type="hidden" name="target" value="app">

            <div class="frm">
              <input type="text" name="email" placeholder="E-mail*" required>
              <input type="password" name="password" placeholder="Password*" required>
              <!--패스워드 입력 후 class : on 추가--->

              <!-- 에러메시지 -->
              <p th:if="${error}" class="error" th:text="${exception}"></p>

              <p><input type="checkbox" name="remember-me" id="auto" checked><label for="auto">Remember me</label></p>
            </div>

            <div class="btn_box">
              <!--<a href="/app/loginCheck" class="btn btn_shadow large">로그인</a>-->
              <button type="submit" class="btn btn_shadow large">로그인</button>
              <a href="/app/certify/signUp" class="btn btn_shadow large green">회원가입</a>
            </div>

    </form>

    <div class="find">
      <a href="/app/certify/findId">아이디 찾기</a>
      <a href="/app/findPw">비밀번호 찾기</a>
    </div>

  </div>

  <p class="ft email">hellodoctor@jlkgroup.com</p>

</div><!--//container-->

<footer layout:fragment="footer" id="footer"></footer>

</html>