<!--a06아이디찾기-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/layout/default}">

<th:block layout:fragment="script">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#header h2").text("아이디 찾기");
        });
    </script>
</th:block>

<div layout:fragment="content" class="container">
    <div id="fint_id">
        <div class="text">
            <p><strong>ID(이메일) 찾기</strong>가 완료되었습니다.</p>
            <span >회원님의 정보와 일치하는 이메일을<br>
                <th:block th:if="${cert}">찾았습니다.</th:block>
                <th:block th:unless="${cert}">찾지 못했습니다.</th:block>
            </span>
        </div>

        <th:block th:if="${cert}">
            <div class="result" th:text="${result}"></div>

            <a href="/app/findPw" class="btn large blueline">비밀번호 찾기</a>
        </th:block>

    </div>
</div><!--//container-->

<footer layout:fragment="footer" id="footer"><p class="ft"><a class="btn large" href="/app/emailLogin">로그인하러 가기</a></p></footer>

</html>