<!--d02 병원 약국 목록-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/layout/default}">

<th:block layout:fragment="script">
  <script th:src="${'//dapi.kakao.com/v2/maps/sdk.js?appkey='+kakao_js_key+'&libraries=services'}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#header h2").text("병원/약국");


      if ([[${err}]]) { // 목록 불러오지 못함
        getErrAlert("목록을 불러오는데 실패하였습니다.<br>다시 시도해 주세요.", "/app/hospitalPharmacyMap");
      }
    });
</script>
</th:block>


<div layout:fragment="content" id="clinic_list">
  <!--중심 좌표 기준-->
  <!--<div class="area">강남구 역삼동 (16개)</div>-->
  <div class="area" th:text="${param.gu}+' '+${param.dong}+' ('+${listCount}+'개)'">강남구 역삼동 (16개)</div>

  <!--병원목록-->
  <ul th:if="${gubun=='hospital'}" class="list hospital">
    <li th:unless="${#lists.size(dataList)==0}" th:each="hospital, index: ${dataList}">
      <div class="img"><img th:src="${hospital.mainImg}"></div>
      <div class="text">
        <h3 th:text="${hospital.hospitalName}">병원명</h3>
        <p><strong th:text="${hospital.status ? '예약가능' : '예약불가능'}"></strong><th:block th:text="|${hospital.endHour != '' ? hospital.endHour+'에 진료 종료' : ''}|"></th:block></p>
        <p class="addr"><span th:text="${hospital.distance}">거리</span><th:block th:text="${hospital.mainAddr}">기본주소</th:block></p>
        <p>
          <i th:class="${hospital.medicalYn == 'Y' ? 'green' : 'gray'}" th:text="${hospital.medicalYn == 'Y' ? '진료중' : '진료종료'}"></i>
          <th:block th:if="${hospital.weekendCloseYn} == 'N'"><i class="blue">주말</i></th:block>
        </p>
      </div>
    </li>
  </ul>

  <!--약국목록-->
  <ul th:if="${gubun=='pharmacy'}" class="list hospital">
    <li th:unless="${#lists.size(dataList)==0}" th:each="pharmacy, index: ${dataList}">
      <div class="img"><img th:src="${pharmacy.mainImg}"></div>
      <div class="text">
        <h3 th:text="${pharmacy.pharmacyName}">약국명</h3>
        <p><strong>&nbsp;</strong></p>
        <p class="addr"><span th:text="${pharmacy.distance}">거리</span><th:block th:text="${pharmacy.mainAddr}">기본주소</th:block></p>
        <p>
          <i>&nbsp;</i>
          <i>&nbsp;</i>
        </p>
      </div>
    </li>
  </ul>

</div>

<footer layout:fragment="footer" id="footer">
  <p class="ft"><a class="btn large blue" th:href="|/app/hospitalPharmacyMap/${gubun}|">지도 보기</a></p>
</footer>

</html>