<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<script>
    let data = "[[${firstTabData}]]";
    let data2 = "[[${secondTabData}]]";

    // 주치전담병원 카운팅
    document.getElementById("frsCnt").innerHTML = "[[${firstTabData.availCnt}]]";
    // 진료가능병원 카운팅
    document.getElementById("secCnt").innerHTML = "[[${secondTabData.availCnt}]]";
</script>

<!-- 주치전담병원 load -->
<div id="list_load1">
    <div th:unless="${firstTabData.totalCount > 0}">선택 가능한 병원이 없습니다.</div>

    <ul class="list"
        th:if="${firstTabData.totalCount > 0}"
        th:data-last-page="${firstTabData.isLastPage}">
        <li th:each="item : ${firstTabData.list}">
            <div class="title" th:onclick="|medicalAppointment(${item.idx}, ${item.status})|">
                <div class="img"><img th:src="${item.mainImg}"></div>
                <div class="text">
                    <h3 th:text="${item.hospitalName}">병원명</h3>
                    <p><strong th:text="|${item.doctorName} 의사|">의사명</strong> <d th:text="${item.subjectNames}"></d></p>
                    <p><span th:text="|${item.km}km|">거리</span><d th:text="${item.mainAddr}">기본주소</d></p>
                    <p>
                        <i th:class="${item.status}? 'green' : 'red'" th:text="${item.status}? '진료중' : '진료불가'"></i>
                        <i th:if="${item.weekendCloseYn == 'N'}" class="blue">주말</i>
                    </p>
                </div>
            </div>
            <div class="gall">
                <ul>
                    <li><img src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20150901_103%2F1441068737427gLpgg_JPEG%2F127166614830983_1.jpg"></li>
                    <li><img src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20150901_26%2F1441068737671VEeRy_JPEG%2F127166614830983_2.jpg"></li>
                    <li><img src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20191126_214%2F1574728271216SyYpQ_JPEG%2FrEgjiDeRgUAPbsQ9gwwtIjYY.jpg"></li>
                    <li><img src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20191126_115%2F15747282283704Mg04_JPEG%2Fzgh7TbI9R2e-6X-mgZRn__X0.jpg"></li>
                </ul>
                <a class="more_btn" data-toggle="modal" data-target="#gall_zoom">
                    <i class="fa-solid fa-image"></i><p>1개 더보기</p>
                </a>
            </div>
        </li>
        <!--<li>
            <div class="title" onClick="message()">
                <div class="img"><img src=""></div>
                <div class="text">
                    <h3>헬로닥터병원</h3>
                    <p><strong>헤롤닥터 의사</strong> 가정의학과</p>
                    <p><span>370m</span> 서울특별시 강남구 테헤란로33길 5</p>
                    <p><i class="green">진료중</i><i class="blue">주말</i></p>
                </div>
            </div>
            <div class="gall">
                <ul>
                    <li><img
                            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20150901_103%2F1441068737427gLpgg_JPEG%2F127166614830983_1.jpg">
                    </li>
                    <li><img
                            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20150901_26%2F1441068737671VEeRy_JPEG%2F127166614830983_2.jpg">
                    </li>
                    <li><img
                            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20191126_214%2F1574728271216SyYpQ_JPEG%2FrEgjiDeRgUAPbsQ9gwwtIjYY.jpg">
                    </li>
                    <li><img
                            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20191126_115%2F15747282283704Mg04_JPEG%2Fzgh7TbI9R2e-6X-mgZRn__X0.jpg">
                    </li>
                </ul>
                <a class="more_btn" data-toggle="modal" data-target="#gall_zoom"><i class="fa-solid fa-image"></i>
                    <p>1개 더보기</p></a>
            </div>
        </li>
        <li>
            <div class="title">
                <div class="img"><img src=""></div>
                <div class="text">
                    <h3>헬로닥터병원</h3>
                    <p><strong>헤롤닥터 의사</strong> 가정의학과</p>
                    <p><span>370m</span> 서울특별시 강남구 테헤란로33길 5</p>
                    <p><i class="green">진료중</i><i class="blue">주말</i></p>
                </div>
            </div>
            <div class="gall">
                <ul>
                    <li><img
                            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20150901_103%2F1441068737427gLpgg_JPEG%2F127166614830983_1.jpg">
                    </li>
                    <li><img
                            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20150901_26%2F1441068737671VEeRy_JPEG%2F127166614830983_2.jpg">
                    </li>
                    <li><img
                            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20191126_214%2F1574728271216SyYpQ_JPEG%2FrEgjiDeRgUAPbsQ9gwwtIjYY.jpg">
                    </li>
                    <li><img
                            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20191126_115%2F15747282283704Mg04_JPEG%2Fzgh7TbI9R2e-6X-mgZRn__X0.jpg">
                    </li>
                </ul>
                <a href="" class="more_btn"><i class="fa-solid fa-image"></i>
                    <p>1개 더보기</p></a>
            </div>
        </li>
        <li>
            <div class="title">
                <div class="img"><img src=""></div>
                <div class="text">
                    <h3>헬로닥터병원</h3>
                    <p><strong>헤롤닥터 의사</strong> 가정의학과</p>
                    <p><span>370m</span> 서울특별시 강남구 테헤란로33길 5</p>
                    <p><i class="green">진료중</i><i class="blue">주말</i></p>
                </div>
            </div>
            <div class="gall">
                <ul>
                    <li><img
                            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20150901_103%2F1441068737427gLpgg_JPEG%2F127166614830983_1.jpg">
                    </li>
                    <li><img
                            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20150901_26%2F1441068737671VEeRy_JPEG%2F127166614830983_2.jpg">
                    </li>
                    <li><img
                            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20191126_214%2F1574728271216SyYpQ_JPEG%2FrEgjiDeRgUAPbsQ9gwwtIjYY.jpg">
                    </li>
                    <li><img
                            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20191126_115%2F15747282283704Mg04_JPEG%2Fzgh7TbI9R2e-6X-mgZRn__X0.jpg">
                    </li>
                </ul>
                <a href="" class="more_btn"><i class="fa-solid fa-image"></i>
                    <p>1개 더보기</p></a>
            </div>
        </li>
        <li>
            <div class="title">
                <div class="img"><img src=""></div>
                <div class="text">
                    <h3>헬로닥터병원</h3>
                    <p><strong>헤롤닥터 의사</strong> 가정의학과</p>
                    <p><span>370m</span> 서울특별시 강남구 테헤란로33길 5</p>
                    <p><i class="green">진료중</i><i class="blue">주말</i></p>
                </div>
            </div>
            <div class="gall">
                <ul>
                    <li><img
                            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20150901_103%2F1441068737427gLpgg_JPEG%2F127166614830983_1.jpg">
                    </li>
                    <li><img
                            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20150901_26%2F1441068737671VEeRy_JPEG%2F127166614830983_2.jpg">
                    </li>
                    <li><img
                            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20191126_214%2F1574728271216SyYpQ_JPEG%2FrEgjiDeRgUAPbsQ9gwwtIjYY.jpg">
                    </li>
                    <li><img
                            src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20191126_115%2F15747282283704Mg04_JPEG%2Fzgh7TbI9R2e-6X-mgZRn__X0.jpg">
                    </li>
                </ul>
                <a href="" class="more_btn"><i class="fa-solid fa-image"></i>
                    <p>1개 더보기</p></a>
            </div>
        </li>-->
    </ul>
</div>

</html>