<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<script>
    if ([[${err}]]) { // 정보 불러오지 못함
        getErrAlert("오류가 발생하였습니다.<br>다시 시도해 주세요.", "/app/hospitalPharmacyMap");
    }
</script>

<div class="pop_view hospital">
    <button type="button" class="close" onclick="closePopUp()"><i class="fa-light fa-xmark"></i></button>
    <div class="img">
        <img th:src="${returnData.mainImg}">
    </div>
    <div class="text">
        <h3 th:text="${returnData.hospitalName}">병원명</h3>
        <p><strong th:text="${returnData.status ? '예약가능' : '예약불가능'}"></strong><th:block th:text="|${returnData.todayEndHour != '' ? returnData.todayEndHour+'에 진료 종료' : ''}|"></th:block></p>
        <p class="addr"><span th:text="${returnData.distance}">거리</span><th:block th:text="${returnData.mainAddr}">기본주소</th:block></p>
        <p>
            <i th:class="${returnData.medicalYn == 'Y' ? 'green' : 'gray'}" th:text="${returnData.medicalYn == 'Y' ? '진료중' : '진료종료'}"></i>
            <th:block th:if="${returnData.weekendCloseYn} == 'N'"><i class="blue">주말</i></th:block>
        </p>
    </div>
    <a class="info_btn collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">병원 정보 상세 보기 <i class="fa-light fa-angle-down"></i><i class="fa-light fa-angle-up"></i>
    </a>
    <div class="collapse" id="collapseExample">
        <div class="info">
            <dl>
                <dt>진료 과목</dt>
                <dd th:text="${returnData.subjectNames}"></dd>
            </dl>
            <dl>
                <dt>진료 시간</dt>
                <dd>
                    <ul>
                        <li th:if="${#lists.size(returnData.hospitalHours)==0}">-</li>
                        <li th:unless="${#lists.size(returnData.hospitalHours)==0}" th:each="item : ${returnData.hospitalHours}">
                            <strong th:text="${item.key}"></strong> <span th:text="${item.value}"></span>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>비급여 진료 안내</dt>
                <dd>
                    <ul>
                        <li th:if="${returnData.nonReimb!=''}" th:each="item : ${returnData.nonReimb}">
                            <strong th:if="${item.key}" th:text="${item.key}"></strong> <span th:text="|${item.value}원|"></span>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>병원 소개</dt>
                <dd th:text="${#strings.defaultString(returnData.introduce, '-')}">
            </dl>
        </div>
    </div>
    <div class="btn_box">
        <a class="btn large green" th:tel="${returnData.telNo}"><svg xmlns="http://www.w3.org/2000/svg" width="6.844" height="11.2" viewBox="0 0 6.844 11.2">
            <g id="noun-phone-857961" transform="translate(0)">
                <path id="패스_70334" data-name="패스 70334" d="M209.45,41.371h-3.733a1.558,1.558,0,0,0-1.556,1.556v8.089a1.558,1.558,0,0,0,1.556,1.556h3.733a1.558,1.558,0,0,0,1.556-1.556V42.927A1.557,1.557,0,0,0,209.45,41.371Zm.934,9.644a.935.935,0,0,1-.934.934h-3.733a.935.935,0,0,1-.934-.934V42.927a.935.935,0,0,1,.934-.934h3.733a.935.935,0,0,1,.934.934Z" transform="translate(-204.161 -41.371)" fill="#fff"/>
                <path id="패스_70335" data-name="패스 70335" d="M324.738,426.454a.622.622,0,1,1-.622-.622.622.622,0,0,1,.622.622" transform="translate(-320.694 -416.81)" fill="#fff"/>
                <path id="패스_70336" data-name="패스 70336" d="M311.777,81.129h-1.244a.311.311,0,1,0,0,.622h1.244a.311.311,0,1,0,0-.622Z" transform="translate(-307.732 -80.196)" fill="#fff"/>
            </g>
        </svg> 전화하기</a>
    </div>
</div>

</html>