<!--b03우리동네주치의-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/layout/default}">

<th:block layout:fragment="script">
  <script type="text/javascript">
    $(document).ready(function () {
      $("#header h2").text("우리동네 주치의");

    });

    //<!--/* 빠른진료신청 */-->
    function next(idx) {
      let url = "./myDoctor";
      let lat = sessionStorage.getItem("appUsrLat")!=null? sessionStorage.getItem("appUsrLat") : "";
      let lng = sessionStorage.getItem("appUsrLng")!=null? sessionStorage.getItem("appUsrLng") : "";
      url += `?idx=${idx}&lat=${lat}&lng=${lng}`;
      location.href = url;
    }

  </script>
</th:block>

<!--현재 페이지 css-->
<th:block layout:fragment="css">
  <style>
    html, body{overflow: hidden;}
    #header{background-color:#fff; }
  </style>
</th:block>

<body id="my_hospital" layout:fragment="content">
  <div class="all">
    <div></div>
    <p th:if="${!#ctx.containsVariable('isLogout')}">
      우리동네주치의 <span class="black" th:text="${dataListCount}">0</span>
    </p>
  </div>
  <div class="hospital" th:if="${!#ctx.containsVariable('isLogout')}">
    <ul class="list">
      <!--/* 목록없음 */-->
      <li class="empty" th:if="${#lists.size(dataList)==0}">
        <h4>주치 전담 병원이 없습니다.</h4>
      </li>

      <!--/* 목록 */-->
      <li th:if="${#lists.size(dataList)>0}" th:each="item, index : ${dataList}">
        <div class="title">
          <div class="img">
            <img th:if="${item.mainImg!=''}" th:src="${item.mainImg}">
          </div>
          <div class="text">
            <h3 th:text="${item.hospitalName}">병원명</h3>
            <p><strong th:text="|${item.doctorName} 의사|">의사명</strong> <d th:text="${item.subjectNames}"></d></p>
            <p><span th:text="${item.distance}">370m</span><d th:text="|${item.mainAddr}|">기본주소</d></p>
            <p>
              <i th:class="${item.medicalYn == 'Y' ? 'green' : 'red'}" th:text="${item.medicalYn == 'Y' ? '진료중' : '진료종료'}"></i>
              <i th:if="${item.weekendCloseYn == 'N'}" class="blue">주말</i>
            </p>
          </div>
        </div>
        <div>
          <button type="button" class="btn large blue" th:if="${item.medicalYn=='Y'}" th:onclick="|next(${item.myDoctorIdx})|">빠른 진료 신청</button>
          <button type="button" class="btn large off" th:unless="${item.medicalYn=='Y'}">진료 신청 불가</button>
        </div>
      </li>
    </ul>
  </div>
</body>

</html>