<!--g01나의 가족관리-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/layout/default}">

<!--현재 페이지 스크립트-->
<th:block layout:fragment="script">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#header h2").text("나의 가족관리");
        });

        // 삭제 확인 메시지
        function deleteFamily(el) {
            let relStr = el.getAttribute('data-rel');

            swal.fire({
                html:`<strong>${relStr}</strong>를 삭제하시겠습니까?`,
                confirmButtonText : '확인',
                cancelButtonText : "취소",
                showCancelButton: true,
                didDestroy: function() {
                    //location.href = "/app/main";
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    let idx = el.getAttribute('data-idx');
                    deleteAction(idx);
                }
            });
        }

        // 삭제 처리
        function deleteAction(idx) {
            let errMsg = "가족 삭제에 실패했습니다.<br>다시 시도해 주세요.";

            $.ajax({
                type : "post",
                url : "/app/myFamilyDelete",
                data : {'idx' : idx},
            }).done(function(data, textStatus, xhr) {
                let json = JSON.parse(data);
                console.log(json);
                if (json.result) {
                    location.reload();
                } else {
                    swal.fire({html: errMsg, confirmButtonText : '확인',});
                }
            }).fail(function(data, textStatus, errorThrown) {
                console.log(data);
                swal.fire({html: errMsg, confirmButtonText : '확인',});
            });
        }

    </script>
</th:block>

<!--현재 페이지 css-->
<th:block layout:fragment="css">
    <style>

    </style>
</th:block>

<div layout:fragment="content" class="container">
    <div id="fam_list">
        <!--리스트없음-->
        <ul th:if="${listCount == 0}">
            <li class="empty">
                <p>
                    <img th:src="@{/img/app/myfamliy_empty.svg}">
                    <h4>추가된 가족이 없습니다.</h4>
                </p>
            </li>
        </ul>
        <!-- 목록 -->
        <ul th:unless="${listCount == 0}" th:each="fam : ${familyList}">
            <li>
                <div class="gender" th:classappend="${fam.famSex=='M'? 'man' : 'woman' }">
                    <img th:src="@{/img/app/icon_man.svg}" th:if="${fam.famSex=='M'}">
                    <img th:src="@{/img/app/icon_woman.svg}" th:unless="${fam.famSex=='M'}">
                </div>
                <div class="text">
                    <strong th:text="${fam.famRel}"></strong>
                    <p>
                        <span class="date" th:text="${fam.regdate}"></span>
                        <a class="tel" th:text="${fam.hp}" th:href="'tel:'+${fam.hp}"></a>
                    </p>
                    <p class="btn_set">
                        <a class="color_red" th:data-idx="${fam.idx}" th:data-rel="${fam.famRel}" onclick="deleteFamily(this)">삭제하기</a>
                        <a class="color_blue" th:href="'/app/myFamilyModify/'+${fam.idx}">수정하기</a>
                    </p>
                </div>
                <div class="btn_box">
                    <a class="btn black" th:if="${fam.isDelegate == 'Y'}">대리 진료</a>
                </div>
            </li>
            <!--<li>
                <div class="gender woman">
                    <img th:src="@{/img/common/icon_woman.svg}">
                </div>
                <div class="text">
                    <strong>어머니</strong>
                    <p><span class="date">2022.03.25</span><a class="tel">010-9876-5432</a> </p>
                    <p class="btn_set"><a class="color_red">삭제하기</a><a class="color_blue">수정하기</a></p>
                </div>
                <div class="btn_box">
                    <a class="btn black">대리 진료</a>
                </div>
            </li>
            <li>
                <div class="gender man">
                    <img th:src="@{/img/common/icon_man.svg}">
                </div>
                <div class="text">
                    <strong>아버지</strong>
                    <p><span class="date">2022.03.25</span><a class="tel">010-9876-5432</a> </p>
                    <p class="btn_set"><a class="color_red">삭제하기</a><a class="color_blue">수정하기</a></p>
                </div>
                <div class="btn_box">
                    <a class="btn">대리진료</a>
                </div>
            </li>-->
        </ul>

    </div>
</div>

<!--푸터 -->
<footer layout:fragment="footer" id="footer">
    <p class="ft"><a class="btn large blue" href="/app/myFamilyForm">추가하기</a></p>
</footer>

</html>