<!--f01개인정보-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/layout/default}">

<!--현재 페이지 스크립트-->
<th:block layout:fragment="script">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#header h2").text("개인정보");
            $("#ft_menu li:nth-child(4)").addClass("active");

        });

        //<!--/* 삭제 확인 */-->
        function deleteCheck() {
            let errMsg = "주치 전담병원 삭제에 실패했습니다.<br>다시 시도해 주세요.";
            let delHospitalIdx = "[[${hospitalIdx}]]";

            swal.fire({
                html:'[[${hospitalName}]]을<br>주치 전담병원에서<br>삭제하시겠습니까?',
                denyButtonText : '취소',
                confirmButtonText : '확인',
                showDenyButton: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/app/deleteMyHospital",
                        type: "post",
                        data: {delHospitalIdx: delHospitalIdx, profile: "Y"},
                        async: false,
                        success: function(data) {
                            if(data) {
                                swal.fire({html: "주치 전담병원 삭제가 완료되었습니다."})
                                    .then(()=>{
                                        location.reload();
                                    });
                            } else {
                                swal.fire({html: errMsg, confirmButtonText : '확인',});
                            }
                        },
                        error: function(xhr, status, error) {
                            //console.log(xhr);
                            swal.fire({html: errMsg, confirmButtonText : '확인',});
                        }
                    });
                }
            });
        };

        //<!--/* 주치전담병원 이동 (위도,경도 파라미터) */-->
        function setMyHospital() {
            let url = "/app/myHospital";
            let lat = sessionStorage.getItem("appUsrLat")!=null? sessionStorage.getItem("appUsrLat") : "";
            let lng = sessionStorage.getItem("appUsrLng")!=null? sessionStorage.getItem("appUsrLng") : "";
            url += `?lat=${lat}&lng=${lng}`;
            location.href = url;
        }
    </script>
</th:block>

<!--현재 페이지 css-->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<div layout:fragment="content" class="container">
    <div id="profile">
        <div class="profile_box">
            <div th:class="|${sex=='남'? 'man' : 'woman'} photo|">
                <!--남자일때 class : man-->
                <!--여자일때 class : woman-->
                <p><d th:text="${name}">홍길동</d><!--<br>84--></p>
                <span class="gender">
                    <img th:if="${sex=='남'}" th:src="@{/img/app/icon_man.svg}">
                    <img th:if="${sex=='여'}" th:src="@{/img/app/icon_woman.svg}">
                </span>
            </div>
            <div class="info">
                <ul>
                    <li><strong>생년월일</strong><th:block th:text="${#strings.defaultString(birth, '-')}">2022.03.23</th:block></li>
                    <li><strong>성별</strong><th:block th:text="${#strings.defaultString(sex, '-')}">남</th:block></li>
                    <li><strong>연락처</strong><th:block th:text="${#strings.defaultString(hp, '-')}">010-9876-5432</th:block><a class="color_blue" th:href="'/app/certify/changeHp/'+${id}">변경하기</a></li>
                    <li>
                        <strong class="color_green">주치 전담병원</strong>
                        <d th:text="${#strings.defaultString(hospitalName, '-')}">헬로우닥터병원</d>
                        <a th:if="${hospitalName==''}" onclick="setMyHospital()" class="color_green">지정하기</a>
                        <a th:unless="${hospitalName==''}" onclick="setMyHospital()" class="color_blue">변경하기</a><a th:unless="${hospitalName==''}" class="color_red" onclick="deleteCheck()">삭제하기</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center">
            <a class="color_gray" href="/app/mbLeave">회원 탈퇴하기</a>
        </div>
    </div>

</div>

<!--푸터는 개별 적용한 상태, 페이지마다 하단 내용이 달라서-->
<footer layout:fragment="footer" id="footer">
    <!--하단메뉴-->
    <div id="ft_menu">
        <ul>
            <li>
                <a href="/app/main">
                    <img th:src="@{/img/app/bt_menu01_off.svg}" class="off">
                    <img th:src="@{/img/app/bt_menu01_on.svg}" class="on">
                    <p>홈</p>
                </a>
            </li>
            <li>
                <a href="/app/remoteList">
                    <img th:src="@{/img/app/bt_menu02_off.svg}" class="off">
                    <img th:src="@{/img/app/bt_menu02_on.svg}" class="on">
                    <p>원격진료</p>
                </a>
            </li>
            <li>
                <a href="/app/hospitalPharmacyMap">
                    <img th:src="@{/img/app/bt_menu03_off.svg}" class="off">
                    <img th:src="@{/img/app/bt_menu03_on.svg}" class="on">
                    <p>병원/약국</p>
                </a>
            </li>
            <li>
                <a href="/app/mypage">
                    <img th:src="@{/img/app/bt_menu04_off.svg}" class="off">
                    <img th:src="@{/img/app/bt_menu04_on.svg}" class="on">
                    <p>마이페이지</p>
                </a>
            </li>
        </ul>
    </div><!--하단메뉴-->
</footer>

</html>