<!--/* 원격진료 진료완료 결제정보 */-->
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div class="fee">
    <dl class="price">
        <dt>진료비</dt>
        <dd><strong th:text="${#numbers.formatInteger(data.totalBillAmt, 0, 'COMMA')}">0</strong>원</dd>
    </dl>
    <p class="ast">진료비가 자동결제 되었습니다.</p>
    <dl>
        <dt>승인일시</dt>
        <dd th:text="${data.hsDate}">2022.04.12(화) 14:40:23</dd>
        <dt>결제구분</dt>
        <dd th:text="${data.hsPayMethod}">일시불</dd>
    </dl>
</div>
<div class="drug">
    <div class="title">
        <h4 th:text="${data.phmName}">헬로닥터약국</h4>
        <a th:href="|tel:${data.phmTelNo}|" class="btn small green">전화하기</a>
    </div>
    <dl class="price">
        <dt>조제비</dt>
        <dd><strong th:text="${#numbers.formatInteger(data.deliveryAmt, 0, 'COMMA')}">0</strong>원</dd>
        <dt>배달비</dt>
        <dd><strong th:text="${#numbers.formatInteger(data.phmBillAmt, 0, 'COMMA')}">0</strong>원</dd>
    </dl>
    <p class="ast">진료비가 자동결제 되었습니다.</p>
    <dl>
        <dt>승인일시</dt>
        <dd th:text="${data.phmDate}">2022.04.12(화) 14:40:23</dd>
        <dt>결제구분</dt>
        <dd th:text="${data.phmPayMethod}">일시불</dd>
    </dl>
</div>
<div class="addr">
    <h5>배송지</h5>
    <dl>
        <dt>주문자</dt>
        <dd th:text="${data.memberName}">제이엘케이</dd>
        <dt>주소지</dt>
        <dd th:text="${data.mbAddr}">서울특별시 강남구 테해란도33길 5 JLK타워 9층</dd>
    </dl>
    <dl>
        <dt>배송상황</dt>
        <dd>
            <i class="black" th:if="${data.medicalStatus=='Y'}">약수령 완료</i>
            <span th:unless="${data.medicalStatus=='Y'}">수령전</span>
        </dd>
    </dl>
</div>

</html>