<!--b05진료신청진행-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/layout/default}">

<th:block layout:fragment="script">
  <script type="text/javascript">
    $(document).ready(function () {
      $("#ft_menu li:nth-child(2)").addClass("active");
      $("#header h2").text("원격진료");


      //<!--/* 페이지 스텝 체크 */-->
      if (document.querySelector("#viewStep")) {
        let parent = document.querySelector("#viewStep");
        let step = parseInt(parent.getAttribute("data-step"));

        if (step > 2) {
          parent.children[0].classList.add("done");
          parent.children[1].classList.add("done");
          parent.children[2].classList.add("active");
        } else if (step == 2) {
          parent.children[0].classList.add("done");
          parent.children[1].classList.add("active");
        } else {
          parent.children[0].classList.add("active");
        }
      }

      //<!--/* 조제비/배송비 결제 동의하기 */-->
      if (document.querySelector("#agree")) {
        document.querySelector("#agree").addEventListener("click", function () {
          let btn = document.querySelector("#btnPayment");
          if (this.checked) {
            btn.classList.remove("gray");
            btn.classList.add("blue");
          } else {
            btn.classList.remove("blue");
            btn.classList.add("gray");
          }
        });
      }

    });

    //<!--/* 페이지 에러체크 */-->
    let errMsg = "[[${errMsg}]]";
    if (errMsg != "") {
      getErrAlert(errMsg);
    }

    //<!--/* 약조제비/배송비 결제 */-->
    function payment() {
      if (!document.querySelector("#agree").checked) {
        swal.fire({html: "동의하기 체크를 하셔야<br>결제가 진행되니다.", confirmButtonText : '확인',});
        return false;
      }

      //<!--/* 1. 등록된 결제카드 조회 */-->
      let cnt = document.cardListfrm.listCnt.value;

      if (cnt < 1) {
        Swal.fire({
            title: '결제카드를 등록해주세요.',
            html: '비대면 진료 및 약 배송 서비스를<br>위해 결제카드 등록이 필요합니다.',
            confirmButtonText: '등록하기',
        }).then((result) => {
          if (result.isConfirmed) {
            history.replaceState({data: "replaceState"}, "", "/app/main");
            location.href = "./credit";
          }
        });

        return false;
      }

      //<!--/* 2. 카드선택 */-->
      $("#cardListModal").modal();

    }

    // 결제카드선택
    function selectCreditCard(f) {
      if (f.billKey.value == "") {
        swal.fire({html: "결제하실 카드를 선택해 주세요.", confirmButtonText : '확인',});
        return false;
      }

      let formData = new FormData(f);
      let errMsg = "결제에 실패헀습니다.";
      $.ajax({
        url: "/api/paymentPharmacy",
        type: "post",
        data: formData,
        processData: false,
        contentType: false,
      }).done(function(data, textStatus, xhr) {
        let json = JSON.parse(data);
        if (json.result) {
          history.replaceState({data: "replaceState"}, "", "/app/main");
          swal.fire({
            html: "결제가 완료되었습니다.", confirmButtonText : '확인',
            didDestroy: function() {
              setSsnStorage("remote_list_save", "N"); // 저장초기화
              location.href = "/app/remoteList?status=2"; // 진료완료 페이지 이동
            }
          });
        } else {
          swal.fire({html: errMsg, confirmButtonText : '확인'});
        }
      }).fail(function(data, textStatus, errorThrown) {
        console.log(data);
        swal.fire({html: errMsg, confirmButtonText : '확인'});
      });

      return false;
    }


  </script>
</th:block>

<th:block layout:fragment="css">
  <style>
  #header {background: #FFF;}
  #idx_hd{ padding-top:0; padding-bottom: 0; }
  #idx_hd.bgw .state{ padding: 0 20px;}
  </style>
</th:block>

<body layout:fragment="content">
<div th:if="${#ctx.containsVariable('data')}">

  <div id="idx_hd" class="bgw">
    <!--/*<p><strong th:text="${memberName}"></strong>님, 반갑습니다.</p>
    <a class="alarm"><img th:src="@{/img/app/bell.svg}" alt="알람"></a>*/-->
    <!--/* 새로운 알람이 있을경우 a태그 class : active 추가 */-->

    <div class="state">
      <ul id="viewStep" th:data-step="${step}">
        <li>진료신청</li>
        <li>진료중</li>
        <li>조제중</li>
      </ul>
    </div>

    <!--/* 노출 : 진료신청, 진료중 */-->
    <th:block th:if="${step<3}">
      <div class="ok_text">
        <p>진료 신청이 완료되었습니다.</p>
        <span>편안하게 진료 받아 보세요</span>
        <button class="btn small red" th:if="${step<3}" onclick="medicalCancel(this, 'view')" th:data-idx="${idx}">신청 취소하기</button>
        <a class="btn small blue" th:if="${step==2}">진료실 입장하기</a>
      </div>
    </th:block>
  </div>

  <!--/* 노출 : 진료신청 */-->
  <th:block th:if="${step==1}">
    <div id="remote" class="container">
      <div class="hospital">
        <div class="title">
          <div class="img"><img th:src="${data.mainImg}"></div>
          <div class="text">
            <h3 th:text="${data.hospitalName}">병원명</h3>
            <p><strong th:text="|${data.doctorName} 의사|"></strong><d th:text="${data.subjectNames}"></d></p>
            <p><span th:text="|${data.km}km|"></span> <d th:text="${data.hospitalAddr}">주소</d></p>
          </div>
        </div>
        <div class="gall">
          <ul>
            <li><img src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20150901_103%2F1441068737427gLpgg_JPEG%2F127166614830983_1.jpg"></li>
            <li><img src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20150901_26%2F1441068737671VEeRy_JPEG%2F127166614830983_2.jpg"></li>
            <li><img src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20191126_214%2F1574728271216SyYpQ_JPEG%2FrEgjiDeRgUAPbsQ9gwwtIjYY.jpg"></li>
            <li><img src="https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20191126_115%2F15747282283704Mg04_JPEG%2Fzgh7TbI9R2e-6X-mgZRn__X0.jpg"></li>
          </ul>
          <a href="" class="more_btn"><i class="fa-solid fa-image"></i><p>1개 더보기</p></a>
        </div>
        <div class="info">
          <dl>
            <dt>진료 과목</dt>
            <dd th:text="${data.subjectNames}"></dd>
          </dl>
          <dl>
            <dt>진료 시간</dt>
            <dd><ul>
            <li th:if="${#lists.size(data.hospitalHours)==0}">-</li>
            <li th:unless="${#lists.size(data.hospitalHours)==0}" th:each="item : ${data.hospitalHours}">
              <strong th:text="${item.key}"></strong> <span th:text="${item.value}"></span>
            </li>
            </ul></dd>
            <!--/*<dd><strong>평　일</strong> 10:00 - 18:00</dd>
            <dd><strong>토요일</strong> 10:00 - 18:00</dd>
            <dd><strong>일요일</strong> 10:00 - 18:00</dd>
            <dd><strong>점　심</strong> 10:00 - 18:00</dd>*/-->
          </dl>
          <dl>
            <dt>비급여 진료 안내</dt>
            <dd>
              <ul>
                <li th:if="${#lists.size(data.nonReimb)==0}">-</li>
                <li th:unless="${#lists.size(data.nonReimb)==0}" th:each="item : ${data.nonReimb}">
                  <strong th:text="${item.key}"></strong> <span th:text="|${item.value}원|"></span>
                </li>
              </ul>
            </dd>
            <!--/*<dd><strong>탈모</strong> 15,000원</dd>
            <dd><strong>여드름</strong> 15,000원</dd>
            <dd><strong>사후피임</strong> 20,000원</dd>*/-->
          </dl>
          <dl>
            <dt>병원 소개</dt>
            <dd th:text="${#strings.defaultString(data.hospitalIntroduce, '-')}">
              <!--/*저희 병원은 친절한 진료와 비대면 원격진료에 특화된 병원입니다.<br>
              헬로닥터약국과 연계되어 빠르게 처방약에 대한 배송도 함께 지공됩니다.<br>
              프리미엄 서비스를 받아보세요.*/-->
            </dd>
          </dl>
        </div>

      </div>
  </div>
  </th:block>

  <!--/* 노출 : 조제중 */-->
  <th:block th:if="${step==3}">
    <div id="remote_done">
      <div class="container">

        <!--/* 약국 접수전 */-->
        <div class="ok_text" th:if="${ingData.reqStatus.equals('R')}">
          <p th:utext="|${ingData.pharmacyName}의 접수를 기다리는 중입니다.|"></p>
          <span>접수 및 비용청구가 진행되는 동안<br>잠시 기다려 주세요.</span>
        </div>
        <!--/* 약국 접수완료 */-->
        <div class="ok_text" th:unless="${ingData.reqStatus.equals('R')}">
          <p th:utext="|${ingData.pharmacyName}으로 ${memberName}님의 처방전이<br>전송 되었습니다.|"></p>
          <span>약 조제가 완료되면 댁으로 안전하게  <br>배송해 드리도록 하겠습니다.</span>
        </div>

        <div class="pay">
          <div class="drug">
            <div class="title">
              <h4 th:text="${ingData.pharmacyName}"><!--헬로닥터약국--></h4>
              <a th:href="|tel:${ingData.pharmacyTel}|" class="btn small green">전화하기</a>
            </div>
            <dl class="price">
              <dt>조제비</dt>
              <dd><strong th:text="${#numbers.formatInteger(ingData.billAmt, 0, 'COMMA')}"><!--5,000--></strong>원</dd>
            </dl>
          </div>
          <div class="addr">
            <h5>배송지</h5>
            <dl>
              <dt>주문자</dt>
              <dd th:text="${memberName}">제이엘케이</dd>
              <dt>주소지</dt>
              <dd th:text="${ingData.mbAddr}">서울특별시 강남구 테해란도33길 5 JLK타워 9층</dd>
            </dl>
            <!--<dl>
              <dt>배송상황</dt>
              <dd><i class="black">약수령 완료</i></dd>
            </dl>-->
          </div>
        </div>

        <!--/* 약국에서 요청수락 AND 비용청구하면 결제 진행 */-->
        <th:block th:if="${ingData.reqStatus.equals('Y') && ingData.billAmt > 0}">
          <input type="checkbox" id="agree" name="agree"><label for="agree">위 조제비 및 배송비에 대해서 동의하시면 결제가 완료 됩니다. 동의 하시겠습니까?</label>
          <button type="button" id="btnPayment" class="btn large gray" onclick="payment()">결제하기</button>
          <!--/*동의체크전 class : gray , 체크후 lass : blue*/-->
        </th:block>

      </div>
    </div>

    <!--/* 결제카드 목록 모달 */-->
    <div class="modal fade" id="cardListModal" tabindex="-1" role="dialog" aria-labelledby="dateModalLabel" aria-hidden="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <form name="cardListfrm" autocomplete="off" onsubmit="return selectCreditCard(this)">
              <input type="hidden" name="listCnt" th:value="${cardList.size()}">
              <input type="hidden" name="billAmt" th:value="${ingData.billAmt}"><!--/* 조제비 */-->
              <input type="hidden" name="deliveryAmt" th:value="${data.deliveryAmt}"><!--/* 배달비 */-->
              <input type="hidden" name="medicalIdx" th:value="${idx}"><!--/* 진료 인덱스 */-->

              <div class="card_list">
              <th:block th:if="${cardList.size() > 0}">
                <div th:each="item : ${cardList}">
                  <input type="radio" name="billKey" th:id="|usrKey${item.idx}|" th:value="${item.billKey}">
                  <label th:for="|usrKey${item.idx}|">
                    <span th:text="|${item.cardName}카드|"></span>
                    <span th:text="|${#strings.substring(item.cardNum,0, 2)}** **** **** ****|"></span>
                  </label>
                </div>
              </th:block>
              </div>
              <button type="submit" class="btn large blue">결제카드선택</button>
            </form>
          </div>
        </div>
      </div>
  </div>

  </th:block>

</div>

<!--하단메뉴-->
<!--/* 노출 : 진료신청 */-->
<div id="ft_menu" th:if="${step==1}">
  <ul>
    <li>
      <a href="/app/main">
        <img th:src="@{/img/app/bt_menu01_off.svg}" class="off">
        <img th:src="@{/img/app/bt_menu01_on.svg}" class="on">
        <p>홈</p>
      </a>
    </li>
    <li>
      <a href="/app/remoteList">
        <img th:src="@{/img/app/bt_menu02_off.svg}" class="off">
        <img th:src="@{/img/app/bt_menu02_on.svg}" class="on">
        <p>원격진료</p>
      </a>
    </li>
    <li>
      <a href="/app/hospitalPharmacyMap">
        <img th:src="@{/img/app/bt_menu03_off.svg}" class="off">
        <img th:src="@{/img/app/bt_menu03_on.svg}" class="on">
        <p>병원/약국</p>
      </a>
    </li>
    <li>
      <a href="/app/mypage">
        <img th:src="@{/img/app/bt_menu04_off.svg}" class="off">
        <img th:src="@{/img/app/bt_menu04_on.svg}" class="on">
        <p>마이페이지</p>
      </a>
    </li>
  </ul>
</div><!--하단메뉴-->
</body>

</html>