<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<div class="ing listRow" th:data-last-page="${lastPage}">
    <!--/* 진료내역없음 */-->
    <ul th:if="${#lists.size(listData)==0 && page==1}">
        <li class="empty">
            <svg></svg>
            <h4>진료 내역이 없습니다.</h4>
            <span>진료실에서 편하게 비대면 진료를 받아보세요.</span>
        </li>
    </ul>

    <!--/* 진료내역 존재*/-->
    <ul th:if="${#lists.size(listData)>0}">
        <li th:each="data : ${listData}">
            <div class="info" th:onclick="|moveViewPage(${data.idx}, ${data.step})|">
                <p class="date">
                    <span th:text="${#temporals.format(data.regdate, 'yyyy.MM.dd')}"><!--2022.04.15--></span>
                    <d th:text="|${data.appStartHour} - ${data.appEndHour}|"><!--10:00 - 10:30--></d>
                </p>
                <h3 th:text="${data.hospitalName}"><!--헬로닥터병원--></h3>
                <p>
                    <strong th:text="|${data.doctorName} 의사|"><!--헬로닥터 의사--></strong><!--
                    --><d th:text="${data.subjectNames}"><!--가정의학과--></d>
                </p>
            </div>
            <div class="img">
                <img th:src="${data.doctorImg}" onerror="this.remove()">
            </div>
            <div class="btn_box">
                <!--/* 예약취소 on/off */-->
                <a class="btn small gray" th:if="${data.canCancel=='Y'}" onclick="medicalCancel(this, 'list')" th:data-idx="${data.idx}">예약취소</a>
                <a class="btn small off" th:unless="${data.canCancel=='Y'}">예약취소</a>

                <!--/* 진료실입장 on/off */-->
                <a th:href="@{./remoteTreat(roomId=${data.idx})}" class="btn small blue" th:if="${data.canEnter=='Y'}">진료실 입장</a>
                <a class="btn small grayline" th:unless="${data.canEnter=='Y'}">진료실 입장</a>
            </div>
        </li>
    </ul>

</div>


</html>