<!--a17회원가입 완료-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/layout/default}">

<th:block layout:fragment="script">
    <script type="text/javascript">
    $(document).ready(function () {
        $('#header').remove()
    });
    </script>
</th:block>

<div layout:fragment="content" class="container">
    <div id="join_result">

        <strong th:text="${name}"></strong>
        <p>회원가입이 완료되었습니다.</p>
        <span>로그인하고 편리하게 비대면 원격진료 받아보세요.</span>

    </div>
</div><!--//container-->

<footer layout:fragment="footer" id="footer"><p class="ft"><a href="/app/emailLogin" class="btn large blue">로그인</a></p></footer>

</html>