<!--관리-의약품 정보-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{pharmacy/layout/default}">

<!--현재 페이지 스크립트-->
<th:block layout:fragment="script">
    <script type="text/javascript">
        $('#gnb #gnb_1dul>li').eq(3).addClass('active');
        $('#gnb_1dul>li.active .gnb_2dul>li').eq(5).addClass('active');

        function message()
        {
            swal.fire({
                title:'약국 정보 등록',
                html:'새로운 약국 정보를 <br>등록 하시겠습니까?',
                denyButtonText : '취소',
                confirmButtonText : '확인',
                showDenyButton: true,
            });
        };

        $("[name=listRow]").on("change", function() {
            searchList(document.sfrm);
        });

        function searchList(f) {
            let url = "./admFormulary";
            let sfl = f.sfl.value;
            let stx = f.stx.value.trim();
            let listRow = document.querySelector("[name=listRow]").value;
            let params = [];

            if (stx != "") params.push(`sfl=${sfl}&stx=${stx}`);
            if (listRow > f.defaultRow.value) params.push(`listRow=${listRow}`);

            if (params.length > 0) url += `?` + params.join("&");
            location.href = url;
            return false;
        }


    </script>
</th:block>

<!--현재 페이지 css-->
<th:block layout:fragment="css">
    <style>
        .tbl_top .sod_select {width: 90px; vertical-align: middle; margin-bottom: 5px;}
    </style>
</th:block>

<div layout:fragment="content" id="formulary" class="container t100">
    <h1 class="menu_tit">의약품 정보</h1>
    <div class="menu_con" th:if="${!#ctx.containsVariable('isLogout')}">
        <div class="search">
            <form name="sfrm" autocomplete="off" onsubmit="return searchList(this)">
                <input type="hidden" name="page" th:value="${page}">
                <input type="hidden" name="defaultRow" th:value="${defaultRow}">
                <dl>
                    <dt>검색조건</dt>
                    <dd>
                        <select name="sfl">
                            <th:block th:each="item : ${schOptions}">
                                <option th:value="${item.key}" th:text="${item.value}" th:selected="${item.key==sfl}"></option>
                            </th:block>
                        </select>
                    </dd>
                    <dd class="sch_box">
                        <input type="text" name="stx" th:value="${stx}" placeholder="검색어를 입력하세요">
                        <button type="submit" class="sch_btn"><img th:src="@{/img/hospital/ic_search.svg}"></button>
                    </dd>
                </dl>
            </form>
        </div>
        <div class="tbl">
            <div class="tbl_top">
                <div></div>
                <div>
                    <select name="listRow">
                        <th:block th:each="row : ${rowOptions}">
                            <option th:value="${row}" th:text="${row}" th:selected="${row==listRow}"></option>
                        </th:block>
                    </select>
                    <a class="btn small02 blueline" href="/pharmacy/admFormularyForm">등록</a>
                </div>
            </div>
            <table>
                <thead>
                <tr>
                    <th>No.</th>
                    <th>이미지</th>
                    <th>의약품명</th>
                    <th>코드</th>
                    <th>복약 방법</th>
                    <th>등록일</th>
                    <th class="text-center">관리</th>
                </tr>
                </thead>
                <tbody>
                <!--/* 의약품 없음 */-->
                <tr th:if="${#lists.size(medicineList) == 0}">
                    <td colspan="7">등록된 의약품이 없습니다.</td>
                </tr>

                <!--/* 의약품 목록 */-->
                <tr th:unless="${#lists.size(medicineList) == 0}" th:each="item, index : ${medicineList}"
                    th:with="listNo=${paging.listNo}">
                    <td th:text="${listNo - (index.index)}">1</td>
                    <td>
                        <th:block th:if="${item.itemImg!=null}">
                            <p class="fmy_img"><img th:src="${item.itemImg}"></p>
                        </th:block>
                    </td>
                    <td th:text="${item.itemName!=null? item.itemName : ''}">의약품명</td>
                    <td th:text="${item.itemCode!=null? item.itemCode : ''}">코드</td>
                    <td th:text="${item.howTake!=null? item.howTake : ''}">복약방법</td>
                    <td th:text="${#strings.substring(#strings.replace(item.regdate,'-','.'),0,10)}">2022.04.15</td>
                    <td><a th:href="|./admFormularyForm?idx=${item.idx}|" class="btn small black">관리</a></td>
                </tr>
                </tbody>
            </table>
            <!--/* 페이징 START */-->
            <div th:replace="app/fragments/paging :: pagingFragment"></div>
            <!--/* 페이징 END */-->
        </div>
    </div>

</div>

<!--푸터는 개별 적용한 상태, 페이지마다 하단 내용이 달라서-->
<footer layout:fragment="footer" id="footer">
    <!--footer 내용-->
</footer>

</html>