<!--/*약사-약조제관리-약조제접수리스트(ajax)*/-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div class="tbl_top">
    <ul class="total">
        <li>총 접수 <strong class="gray" th:text="${listCnt.listTotalCnt}">-999</strong></li>
        <li>조제 진행 <strong class="green" th:text="${listCnt.statusR}">999</strong></li>
        <li>조제 취소 <strong class="red" th:text="${listCnt.statusN}">5</strong></li>
        <li>조제 완료 <strong class="blue" th:text="${listCnt.statusY}">32</strong></li>
    </ul>
    <div class="dropdown">
        <select id="limitFilter" onchange="limitFilter(this);">
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
</div>
<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>접수번호</th>
        <th>조제 요청 시간</th>
        <th>환자이름</th>
        <th>연락처</th>
        <th class="text-center">배송지 정보</th>
        <th>수령 방식</th>
        <th class="text-center">처방전</th>
        <th class="text-center">복약지도</th>
        <th>청구 금액</th>
        <th class="text-center">배송정보</th>
        <th>조제 완료 시간</th>
        <th class="text-center">상태</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.size(listData)==0}">
        <td colspan="14" style="text-align: center;">데이터가 없습니다.</td>
    </tr>
    <tr th:if="${#lists.size(listData)!=0}" th:each="list, index: ${listData}" th:with="listNo=${paging.listNo}">
        <td th:text="${listNo - (index.index)}" th:data-idx="${index.index}">1</td>
        <th th:text="${list.rcptNo}">C220401A01234</th>
        <!--/* TBC: 조제요청/조제접수 리스트 요청/조제 지연 시 텍스트 표기 구분 ==> 조제 지연 시 빨간색? */-->
        <td><span th:text="${list.requestTime}" th:class="${list.reqStatus=='Y'&&list.billStlmIdx==0?'color_red':''}">12:35:59</span></td>
        <td th:text="${list.patientName}">홍길동</td>
        <td th:text="${list.patientHp}">010-9876-5432</td>
        <td class="text-center" th:if="${list.receiveMethod=='1'}">직접수령</td>
        <td class="text-center" th:if="${list.receiveMethod!='1'}"><a class="check_btn2" th:onclick="addrPop([[${list.medicalIdx}]])">보기</a>
        </td>
        <td>
            <div class="dropdown">
                <select th:id="|receiveMethod_${list.idx}|" th:name="|receiveMethod_${list.idx}|"
                        th:onchange="receiveMethodChange([[${list.idx}]], [[${list.medicalIdx}]])"
                        th:disabled="${list.completeDate!=''||list.reqStatus=='N'}"> <!--/* 상태 완료 or 취소 처리 시 수정 불가 */-->
                    <option value="1" th:selected="${list.receiveMethod=='1'}">직접수령</option>
                    <option value="2" th:selected="${list.receiveMethod=='2'}">택배</option>
                    <option value="3" th:selected="${list.receiveMethod=='3'}">퀵</option>
                </select>
            </div>
        </td>
        <td class="text-center"><a class="check_btn" th:onclick="prescriptionPop([[${list.medicalIdx}]], [[${list.presIdx}]])">확인</a></td>
        <!--/* 복약지도 */-->
        <td class="text-center">
            <a class="btn small blue" th:if="${list.reqStatus!='N'&&list.guideCount==0}" th:onclick="mediGuidePop([[${list.medicalIdx}]])">등록</a>
            <a class="btn small redline" th:if="${list.reqStatus!='N'&&list.guideCount>0&&list.completeDate==''}" th:onclick="mediGuidePop([[${list.medicalIdx}]])">수정</a>
            <a class="btn small black" th:if="${list.reqStatus!='N'&&list.guideCount>0&&list.completeDate!=''}" th:onclick="mediGuidePop([[${list.medicalIdx}]], 'comp')">확인</a>
            <a class="btn small black off" th:if="${list.reqStatus=='N'}">확인</a> <!--/* 접수 취소 시 비활성 */-->
        </td>
        <td class="text-center" th:id="|amt${list.idx}|">
            <span class="box off"><strong th:text="${#numbers.formatInteger(list.billAmt, 0, 'COMMA')}">99,988</strong>원</span>
        </td>
        <!--/* 배송정보 */-->
        <td class="text-center" th:if="${list.receiveMethod=='1'}">직접수령</td>
        <td class="text-center" th:if="${list.receiveMethod!='1'}"><a class="btn small blue" data-toggle="modal" data-target="#addr_frm_pop">등록</a></td>
        <!--<td class="text-center"><a class="check_btn2" date-toggle="modal" date-target="#addr_frm_pop">보기</a>-->
        <!--/* 조제완료시간 */-->
        <td th:text="${list.completeDate}">10:00:00</td>
        <!--/* 상태 */-->
        <td class="text-center" th:if="${list.reqStatus=='Y'&&list.billStlmIdx==0}">
            <span>결제대기</span>
            <a class="btn small gray" th:onclick="denyPop([[${list.idx}]])">취소</a>
        </td>
        <td class="text-center" th:if="${list.reqStatus=='N'}">
            <span class="color_red">접수 취소</span>
            <a class="btn small blueline" th:onclick="reasonPop([[${list.cancelReason}]])">사유</a>
        </td>
        <td class="text-center" th:if="${list.completeDate==''&&list.billStlmIdx>0}">
            <a class="btn small blue" th:onclick="fillComplete([[${list.idx}]], [[${list.guideCount}]])">완료</a>
        </td>
        <td class="text-center" th:if="${list.completeDate!=''&&list.receiveMethod=='1'}">조제 완료</td>
        <td class="text-center" th:if="${list.completeDate!=''&&list.receiveMethod!='1'}"><a class="btn small greenline">배송처리</a></td>
    </tr>
    </tbody>
</table>

<!--/* 페이징 START */-->
<div th:replace="app/fragments/paging :: pagingFragment"></div>
<!--/* 페이징 END */-->

</html>