<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div class="modal fade" id="addr_pop" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">배송지 정보</h4>
            </div>
            <div class="modal-body">
                <div class="tbl">
                    <table>
                        <thead>
                        <tr>
                            <th>환자 이름</th>
                            <th>연락처</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${info.patientName}">홍길동</td>
                            <td th:text="${info.patientHp}">010-9876-5432</td>
                        </tr>
                        </tbody>
                    </table>

                    <dl class="addr_info">
                        <dt class="color_green">주소</dt>
                        <dd th:text="|${info.mainAddr} ${info.detailAddr}|">부산광역시 강서구 녹산산단382로14번가길 10~29번지(송정동)</dd>
                        <dt class="color_green">배송 메시지</dt>
                        <dd th:text="${info.shippingMsg}">문 앞에 나두고 가주세요</dd>
                    </dl>

                </div>
            </div>
            <div class="modal-footer">
                <a class="btn small blue" data-dismiss="modal">확인</a>
            </div>
        </div>
    </div>
</div>

</html>