<!--공지사항 목록-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{pharmacy/layout/default}">

<!--현재 페이지 스크립트-->
<th:block layout:fragment="script">
    <script type="text/javascript">
        $('#gnb #gnb_1dul>li').eq(4).addClass('active');
        $('#gnb_1dul>li.active .gnb_2dul>li').eq(1).addClass('active');

        //공지사항
        $(function(){
            $("dd:not(:first)").css("display","none");
            $("dl:first").addClass("selected")
            $("dl dt").click(function(){
                if($("+dd", this).css("display")=="none"){
                    $("dd").slideUp(500);
                    $("+dd", this).slideDown(500);
                    $("dl").removeClass("selected");
                    $(this).parents("dl").addClass("selected");
                }
            }).mouseover(function(){
                $(this).addClass("over")
            }).mouseout(function(){
                $(this).removeClass("over")
            })
            //$("dt").click().mouseover().mouseout()
        });

    </script>
</th:block>

<!--현재 페이지 css-->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<div layout:fragment="content" id="notice" class="container t100">
    <h1 class="menu_tit">공지사항</h1>
    <div class="menu_con">
        <!--/* 공지없음 */-->
        <div th:if="${#lists.size(noticeList)==0}">등록된 공지가 없습니다.</div>

        <!--/* 공지목록 */-->
        <div class="tbl" th:unless="${#lists.size(noticeList)==0}">
            <ul class="thead">
                <li class="type">공지 유형</li>
                <li class="title">제목</li>
                <li class="date">등록일</li>
            </ul>
            <div class="tbody">
                <dl th:each="item : ${noticeList}">
                    <dt>
                        <ul>
                            <li class="type" th:text="${category[item.category]}">유형A</li>
                            <li class="title" th:text="${item.title}">제목</li>
                            <li class="date" th:text="${#strings.substring(#strings.replace(item.regdate,'-','.'),0,10)}">2022.04.23</li>
                        </ul>
                    </dt>
                    <dd th:utext="${#strings.replace(item.content, nlString, '&lt;br /&gt;')}">내용</dd>
                </dl>
            </div>

            <!--/* 페이징 START */-->
            <div th:replace="app/fragments/paging :: pagingFragment"></div>
            <!--/* 페이징 END */-->

        </div>
    </div>

</div>

<!--푸터는 개별 적용한 상태, 페이지마다 하단 내용이 달라서-->
<footer layout:fragment="footer" id="footer">
    <!--footer 내용-->
</footer>

</html>